<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>户籍信息查询详情页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/form-select/formSelects-v4.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/form.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css">
    <style>
        body{background-color: #fff;}
        .change-textarea-margin .layui-input-inline {
            width: 70%;
        }
    </style>
    <script src="../../static/lib/layui/layui.js"></script>
    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <!--添加水印-->
    <script src="../../static/lib/bdcui/js/common.js"></script>
    <script src="../../static/js/common.js"></script>
    <script src="../../static/js/table.js"></script>
    <script src='../../static/js/formCenter.js'></script>
    <script src="../../static/js/sjxxgx/hjxxxqcx.js"></script>
</head>
<body>
<div class="bdc-not-full-bg">
    <form class="layui-form bdc-not-full-bg" action="" lay-filter="searchform" id="ggxxform">
        <div class="form-margin-area">
            <div class="basic-info">

                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="xm" id="xm" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">性别</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="xb" id="xb" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">身份证</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="zjh" id="zjh" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">民族</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="mz" id="mz" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">国籍</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="gj" id="gj" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">身高</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="sg" id="sg" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">户籍地址</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="hjdz" id="hjdz" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">出生日期</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="csrq" id="csrq" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">文化程度</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="whcd" id="whcd" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">与户主关系</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="yhzgx" id="yhzgx" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">省市县区</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="ssxq" id="ssxq" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">何时来本址</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="hslbz" id="hslbz" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">何详址来本址</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="hxzlbz" id="hxzlbz" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>

                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">婚姻状况</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="hyzk" id="hyzk" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">结婚日期</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="jhrq" id="jhrq" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">婚姻女方姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="nvxm" id="nvxm" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">婚姻女方证件号</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="nvzjh" id="nvzjh" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">婚姻男方姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="nxm" id="nxm" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">婚姻南方证件号</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="nzjh" id="nzjh" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">签发机构</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="qfjg" id="qfjg" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">登记日期</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="yxqxqsrq" id="yxqxqsrq" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>