<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>查询</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/common.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/search.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/popup.css"/>
    <link rel="stylesheet" href="../../static/lib/registerui/css/percentage-layout.css"/>
</head>
<body>
<div class="bdc-percentage-container">
    <div class="bdc-search-content">
        <div id="searchdiv" class="bdc-search-box bdc-screen-search-box">
            <form class="layui-form">
                <div class="layui-form-item pf-form-item" id="search-div">
                    <div id="cxtj-area">
                    </div>
                    <div id="gjSearch-area" active="false" hidden="hidden">
                    </div>
                    <div id="btn-url-area" active="false" hidden="hidden">
                    </div>
                    <div id="mhcx-area">
                    </div>
                    <div class="layui-inline bdc-button-box" id="btn-area">
                        <button id="search" class="layui-btn bdc-major-btn" lay-submit="" lay-filter="search">查询
                        </button>
                        <button id='reset' type="reset" class="layui-btn bdc-secondary-btn reset-btn">重置</button>
                        <button id="gjSearch" type="button" active="false"
                                class="layui-btn bdc-secondary-btn high-btn-click"
                                style="display: none" onclick="showGjSearch()">高级查询
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="bdc-table-box">
        <table id="pageTable" lay-data="{id: 'pageTable'}" lay-filter="dataTable"></table>
    </div>
</div>
</body>
<script type="text/html" id="templetZdResult">
    {{ convertZdDmToMc(d.ZDID,d[cxjg.zdid.toUpperCase()], 'zdList') }}
</script>
<!--表格上面按钮组-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        {{# layui.each(globalToolbarList, function(index, item){ }}
        <button class="layui-btn layui-btn-sm {{item.class}}" lay-event="{{item.layEvent}}">
            {{item.text}}
        </button>
        {{# }) }}
    </div>
</script>
<!--行按钮组-->
<script type="text/html" id="rowTools">
    {{# layui.each(globalTooList, function(index, item){ }}
    <button class="layui-btn layui-btn-xs {{item.class}} inline-btns" lay-event="{{item.layEvent }}">{{item.text
        }}
    </button>
    {{# }) }}
</script>

<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/layui/layui.js"></script>
<!--添加水印-->
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/commonSearch.js"></script>
<script src="../../static/js/table.js"></script>
<script src="../../static/lib/bdcui/js/readIdCard.js"></script>
<script src="../../static/js/readCard.js"></script>
<script src="../../static/js/jkdtcx/commonCx.js"></script>

</html>