<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.register.core.mapper.BdcFwzlMapper">
    <update id="updateQlGyqkPl" parameterType="cn.gtmap.realestate.register.core.dto.BdcGyqkDTO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE bdc_fwzl t
            <set>
                t.gyqk = #{qlGyqk,jdbcType=VARCHAR}
            </set>
            WHERE EXISTS (
            SELECT x.xmid
            FROM bdc_xm x
            WHERE (t.xmid = x.xmid
            AND x.gzlslid = #{gzlslid}
            )
            )
        </if>
        <if test="xmidList != null and xmidList.size>0">
            UPDATE bdc_fwzl t
            <set>
                t.gyqk = #{qlGyqk,jdbcType=VARCHAR}
            </set>
            <where>
                AND t.xmid IN
                <foreach collection="xmidList" item="xmid" open="(" close=")" separator=",">
                    #{xmid}
                </foreach>
            </where>
        </if>
    </update>

    <update id="udpateBdcQlDbxxAndQsztPl" parameterType="cn.gtmap.realestate.register.core.qo.DbxxQO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE bdc_fwzl t
            <set>
                t.dbr = #{dbr,jdbcType=VARCHAR},
                t.djsj = #{djsj,jdbcType=TIMESTAMP},
                t.djjg = #{djjg,jdbcType=VARCHAR},
                t.qszt = #{qszt,jdbcType=INTEGER}
            </set>
            WHERE EXISTS (
            SELECT x.xmid
            FROM bdc_xm x
            WHERE (t.xmid = x.xmid
            AND x.gzlslid = #{gzlslid}
            )
            )
        </if>
    </update>

    <update id="udpateBdcQlZxDbxxAndQsztPl" parameterType="cn.gtmap.realestate.register.core.qo.DbxxQO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE bdc_fwzl t
            <set>
                t.zxfwzldbr = #{dbr,jdbcType=VARCHAR},
                t.zxfwzldjsj = #{djsj,jdbcType=TIMESTAMP},
                t.qszt = #{zxQszt,jdbcType=INTEGER},
                t.zxfwzlywh = #{slbh,jdbcType=VARCHAR},
                t.zxfwzlyy = #{djyy,jdbcType=VARCHAR}
            </set>
            WHERE EXISTS (
            SELECT r.yxmid
            FROM bdc_xm x
            INNER JOIN bdc_xm_lsgx r ON x.xmid = r.xmid
            WHERE t.xmid = r.yxmid
            AND r.zxyql = 1
            AND x.gzlslid = #{gzlslid}
            )
        </if>
    </update>

    <!--批量更新房屋租赁的权属状态-->
    <update id="udpateBdcFwzlQsztPl" parameterType="cn.gtmap.realestate.register.core.qo.DbxxQO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE bdc_fwzl t
            <set>
                t.qszt = #{qszt,jdbcType=INTEGER}
            </set>
            WHERE EXISTS (
            SELECT x.xmid
            FROM bdc_xm x
            WHERE (t.xmid = x.xmid
            AND x.gzlslid = #{gzlslid}
            )
            )
        </if>
    </update>

    <update id="updateBdcQlDbrPl" parameterType="cn.gtmap.realestate.register.core.qo.DbxxQO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE bdc_fwzl t
            <set>
                t.dbr = #{dbr,jdbcType=VARCHAR},
                t.djjg = #{djjg,jdbcType=VARCHAR}
            </set>
            WHERE EXISTS (
            SELECT x.xmid
            FROM bdc_xm x
            WHERE (t.xmid = x.xmid
            AND x.gzlslid = #{gzlslid}
            )
            )
        </if>
    </update>

    <update id="updateZxQlDbrPl" parameterType="cn.gtmap.realestate.register.core.qo.DbxxQO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE bdc_fwzl t
            <set>
                t.zxfwzldbr = #{dbr,jdbcType=VARCHAR}
            </set>
            WHERE EXISTS (
            SELECT r.yxmid
            FROM bdc_xm x
            INNER JOIN bdc_xm_lsgx r ON x.xmid = r.xmid
            WHERE t.xmid = r.yxmid
            AND r.zxyql = 1
            AND x.gzlslid = #{gzlslid}
            )
        </if>
    </update>

    <select id="listBdcZxFwzl" parameterType="String" resultType="cn.gtmap.realestate.common.core.domain.BdcFwzlDO">
        SELECT xm.DJJG,
               xm.SLBH,
               xm.XMID,
               xm.DJSJ,
               xm.DBR,
               '' as FJ,
               xm.QSZT,
               xm.BZ,
               fwzl.QLID,
               fwzl.ZXFWZLYWH,
               fwzl.ZXFWZLDJSJ,
               fwzl.ZXFWZLDBR,
               fwzl.ZXFWZLYY,
               fwzl.ZLQSSJ,
               fwzl.ZLJSSJ,
               xm.DJLX,
               xm.DJYY,
               fwzl.QLLX,
               fwzl.GYQK,
               fwzl.ZLXYSDSJ,
               fwzl.ZLBW,
               fwzl.ZLFS,
               fwzl.ZLLX,
               fwzl.YZJ,
               fwzl.FWZLBAZMH
        from bdc_xm xm
                 Inner Join BDC_CSH_FWKG_SL BCF on xm.XMID = BCF.ID
                 Inner JOIN BDC_XM_LSGX lsgs on xm.XMID = lsgs.XMID AND lsgs.wlxm = 0
                 Inner JOIN BDC_FWZL fwzl on lsgs.YXMID = fwzl.XMID
        where BCF.SFSCQL = '0'
          and BCF.SFZXYQL = '1'
          AND xm.qszt = '2'
          AND xm.bdcdyh = #{bdcdyh}
    </select>
</mapper>
