<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.register.core.mapper.BdcHysyqMapper">

    <!--分页查询-->
    <select id="listBdcHysyqByPage" parameterType="map" resultType="cn.gtmap.realestate.common.core.domain.BdcHysyqDO">
        SELECT t.* FROM (
        SELECT SYJBZYJ, QLID, SYQQSSJ, SYQJSSJ, SYZJE
        , SYJJNQK, SYQMJ, SLBH, DJLX, DJYY
        , QLLX, XMID, GYQK, DJJG, DJSJ
        , DBR, FJ, QSZT, BZ, XMMC
        , BDCDYH, BDCDYWYBH, ZL,ZXYWH,ZXDBR,ZXDJSJ,ZXYY
        FROM BDC_HYSYQ t
        <where>
            <if test="bdcdyh != null and bdcdyh != ''">
                AND t.bdcdyh = #{bdcdyh}
            </if>
            <if test="qsztList != null and qsztList.size>0">
                AND t.qszt IN
                <foreach collection="qsztList" item="qszt" open="(" close=")" separator=",">
                    #{qszt}
                </foreach>
            </if>
        </where>

        <if test="sfcxzx == true and bdcdyh != null and bdcdyh != ''">
            UNION ALL
            SELECT hy.SYJBZYJ,
            hy.QLID,
            hy.SYQQSSJ,
            hy.SYQJSSJ,
            hy.SYZJE,
            hy.SYJJNQK,
            hy.SYQMJ,
            xm.SLBH,
            xm.DJLX,
            xm.DJYY,
            hy.QLLX,
            xm.XMID,
            hy.GYQK,
            xm.DJJG,
            xm.DJSJ,
            xm.DBR,
            '' as FJ,
            xm.QSZT,
            xm.BZ,
            hy.XMMC,
            xm.BDCDYH,
            xm.BDCDYWYBH,
            xm.ZL,
            hy.ZXYWH,
            hy.ZXDBR,
            hy.ZXDJSJ,
            hy.ZXYY
            from bdc_xm xm
            Inner Join BDC_CSH_FWKG_SL BCF on xm.XMID = BCF.ID
            Inner JOIN  BDC_XM_LSGX lsgs on xm.XMID = lsgs.XMID AND lsgs.wlxm = 0
            Inner JOIN BDC_HYSYQ hy on lsgs.YXMID = hy.XMID
            where BCF.SFSCQL = '0' and BCF.SFZXYQL = '1'
            <if test="qsztList != null and qsztList.size>0">
                AND xm.qszt IN
                <foreach collection="qsztList" item="qszt" open="(" close=")" separator=",">
                    #{qszt}
                </foreach>

            </if>
            AND xm.bdcdyh = #{bdcdyh}
        </if>
        ) t

        <choose>
            <when test="orderbyFirst != null and orderbyFirst != ''">
                ORDER BY ${orderbyFirst} ASC NULLS LAST , ${orderbySecond} ASC  NULLS LAST
            </when>
            <otherwise>
                <choose>
                    <when test="sortParameter != null and sortParameter != ''">
                        ORDER BY ${sortParameter}
                    </when>
                    <otherwise>
                        ORDER BY t.djsj ASC
                    </otherwise>
                </choose>
            </otherwise>
        </choose>
    </select>

    <select id="listBdcZxHysyq" parameterType="String" resultType="cn.gtmap.realestate.common.core.domain.BdcHysyqDO">
        SELECT hy.SYJBZYJ,
               hy.QLID,
               hy.SYQQSSJ,
               hy.SYQJSSJ,
               hy.SYZJE,
               hy.SYJJNQK,
               hy.SYQMJ,
               xm.SLBH,
               xm.DJLX,
               xm.DJYY,
               hy.QLLX,
               xm.XMID,
               hy.GYQK,
               xm.DJJG,
               xm.DJSJ,
               xm.DBR,
               '' as FJ,
               xm.QSZT,
               xm.BZ,
               hy.XMMC,
               xm.BDCDYH,
               xm.BDCDYWYBH,
               xm.ZL,
               hy.ZXYWH,
               hy.ZXDBR,
               hy.ZXDJSJ,
               hy.ZXYY
        from bdc_xm xm
                 Inner Join BDC_CSH_FWKG_SL BCF on xm.XMID = BCF.ID
                 Inner JOIN  BDC_XM_LSGX lsgs on xm.XMID = lsgs.XMID AND lsgs.wlxm = 0
                 Inner JOIN BDC_HYSYQ hy on lsgs.YXMID = hy.XMID
        where BCF.SFSCQL = '0' and BCF.SFZXYQL = '1'
          AND xm.qszt = '2'
          AND xm.bdcdyh = #{bdcdyh}
    </select>

    <update id="updateQlGyqkPl" parameterType="cn.gtmap.realestate.register.core.dto.BdcGyqkDTO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE bdc_hysyq t
            <set>
                t.gyqk = #{qlGyqk,jdbcType=VARCHAR}
            </set>
            WHERE EXISTS (
            SELECT x.xmid
            FROM bdc_xm x
            WHERE (t.xmid = x.xmid
            AND x.gzlslid = #{gzlslid}
            )
            )
        </if>
        <if test="xmidList != null and xmidList.size>0">
            UPDATE bdc_hysyq t
            <set>
                t.gyqk = #{qlGyqk,jdbcType=VARCHAR}
            </set>
            <where>
                AND t.xmid IN
                <foreach collection="xmidList" item="xmid" open="(" close=")" separator=",">
                    #{xmid}
                </foreach>
            </where>
        </if>
    </update>

    <update id="udpateBdcQlDbxxAndQsztPl" parameterType="cn.gtmap.realestate.register.core.qo.DbxxQO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE bdc_hysyq t
            <set>
                t.dbr = #{dbr,jdbcType=VARCHAR},
                t.djsj = #{djsj,jdbcType=TIMESTAMP},
                t.djjg = #{djjg,jdbcType=VARCHAR},
                t.qszt = #{qszt,jdbcType=INTEGER}
            </set>
            WHERE EXISTS (
            SELECT x.xmid
            FROM bdc_xm x
            WHERE (t.xmid = x.xmid
            AND x.gzlslid = #{gzlslid}
            )
            )
        </if>
    </update>

    <update id="udpateBdcQlZxDbxxAndQsztPl" parameterType="cn.gtmap.realestate.register.core.qo.DbxxQO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE bdc_hysyq t
            <set>
                t.qszt = #{zxQszt,jdbcType=INTEGER},
                t.zxdbr = #{dbr,jdbcType=VARCHAR},
                t.zxdjsj = #{djsj,jdbcType=TIMESTAMP},
                t.zxywh = #{slbh,jdbcType=VARCHAR},
                t.zxyy = #{djyy,jdbcType=VARCHAR}
            </set>
            WHERE EXISTS (
            SELECT r.yxmid
            FROM bdc_xm x
            INNER JOIN bdc_xm_lsgx r ON x.xmid = r.xmid
            WHERE t.xmid = r.yxmid
            AND r.zxyql = 1
            AND x.gzlslid = #{gzlslid}
            )
        </if>
    </update>

    <!--批量更新海域所有权的权属状态-->
    <update id="udpateBdcHysyqQsztPl" parameterType="cn.gtmap.realestate.register.core.qo.DbxxQO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE bdc_hysyq t
            <set>
                t.qszt = #{qszt,jdbcType=INTEGER}
            </set>
            WHERE EXISTS (
            SELECT x.xmid
            FROM bdc_xm x
            WHERE (t.xmid = x.xmid
            AND x.gzlslid = #{gzlslid}
            )
            )
        </if>
    </update>

    <update id="updateBdcQlDbrPl" parameterType="cn.gtmap.realestate.register.core.qo.DbxxQO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE bdc_hysyq t
            <set>
                t.dbr = #{dbr,jdbcType=VARCHAR},
                t.djjg = #{djjg,jdbcType=VARCHAR}
            </set>
            WHERE EXISTS (
            SELECT x.xmid
            FROM bdc_xm x
            WHERE (t.xmid = x.xmid
            AND x.gzlslid = #{gzlslid}
            )
            )
        </if>
    </update>

    <update id="updateZxQlDbrPl" parameterType="cn.gtmap.realestate.register.core.qo.DbxxQO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE bdc_hysyq t
            <set>
                t.zxdbr = #{dbr,jdbcType=VARCHAR}
            </set>
            WHERE EXISTS (
            SELECT r.yxmid
            FROM bdc_xm x
            INNER JOIN bdc_xm_lsgx r ON x.xmid = r.xmid
            WHERE t.xmid = r.yxmid
            AND r.zxyql = 1
            AND x.gzlslid = #{gzlslid}
            )
        </if>
    </update>
</mapper>
