<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.register.core.mapper.BdcJsydLhxxMapper">

    <select id="listJsydzrzxxid" parameterType="string" resultType="string">
        SELECT jsydzrzxxid FROM bdc_xm_jsydlhxx_gx t
        <where>
            <if test="gzlslid != null and gzlslid !=''">
                AND t.gzlslid=#{gzlslid}
            </if>
        </where>
    </select>

</mapper>