<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>电子证照信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/common.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/search.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css"/>
    <link rel="stylesheet" href="../../static/lib/registerui/css/percentage-layout.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css"/>
</head>
<body>
<!--************ 简要材料信息table ************-->
<div class="bdc-table-box">
    <table id="jyclxxTable" lay-filter="jyclxxTable"></table>
</div>

<script type="text/html" id="barAction">
    <a class="layui-btn bdc-major-btn layui-btn-xs" lay-event="getSmClxx" id="smxz">扫码下载</a>
    <!--点击获取详细材料信息-->
    <a class="layui-btn bdc-major-btn layui-btn-xs" lay-event="getclxx" id="sqxz">授权下载</a>
    <a class="layui-btn bdc-major-btn layui-btn-xs" lay-event="getZsxx" id="xz">下载</a><!-- 新增-->
</script>

<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/layui/layui.all.js"></script>
<!--添加水印-->
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/table.js"></script>

<script src="../../static/js/dzzz/cljyxx.js"></script>
</body>
</html>