<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.building.core.mapper.FwHsthfMapper">

    <select id="queryFwHstByHsIndex" parameterType="String" resultType="cn.gtmap.realestate.common.core.domain.building.FwHstDO" >
        SELECT HST FROM FW_HSTHF
        WHERE FW_HS_INDEX = #{index}
    </select>
</mapper>
