<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.building.core.mapper.HfCustomMapper">

    <!-- 查询FW_HS行政区划 -->
    <select id="queryFwhsXzq" parameterType="map" resultType="map">
        SELECT XZQ FROM FW_HS A
        <where>
            <if test="bdcdyh != null and bdcdyh != ''">
                AND bdcdyh = #{bdcdyh}
            </if>
        </where>
    </select>

    <!-- 查询FW_YCHS行政区划 -->
    <select id="queryFwYchsXzq" parameterType="map" resultType="map">
        SELECT XZQ FROM FW_YCHS A
        <where>
            <if test="bdcdyh != null and bdcdyh != ''">
                AND bdcdyh = #{bdcdyh}
            </if>
        </where>
    </select>
</mapper>
