<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.building.core.mapper.SsjBdcdyhxsztMapper">

    <select id="queryXsztByFwDcbIndex" parameterType="map" resultType="cn.gtmap.realestate.common.core.domain.building.SSjBdcdyhxsztDO">
        SELECT T.BDCDYH, T.BDCDYZT, T.BDCLX, T.CLFKS, T.CLFYS, T.DJZT, T.KS,
        T.QLR, T.XJSPFKS, T.XJSPFYS, T.XSCFCS, T.XSDYACS, T.XSDYICS, T.XSSDCS,
        T.XSYCFCS, T.XSYDYACS, T.XSYGCS, T.XSYYCS, T.XSZJGCDYCS, T.YS, T.YT,
        T.ZL, T.sfba,T.XSJZQCS FROM s_sj_bdcdyhxszt T INNER JOIN
        (select bdcdyh from fw_hs where fw_dcb_index = #{fwDcbIndex}
         UNION ALL
         select bdcdyh from fw_ychs where fw_dcb_index = #{fwDcbIndex}) T1
         on T1.BDCDYH = T.BDCDYH
    </select>

    <select id="listBdcdyXszt" parameterType="java.util.List" resultType="cn.gtmap.realestate.common.core.domain.building.SSjBdcdyhxsztDO">
        SELECT
            T.BDCDYH, T.BDCDYZT, T.BDCLX, T.CLFKS, T.CLFYS, T.DJZT, T.KS,
            T.QLR, T.XJSPFKS, T.XJSPFYS, T.XSCFCS, T.XSDYACS, T.XSDYICS, T.XSSDCS,
            T.XSYCFCS, T.XSYDYACS, T.XSYGCS, T.XSYYCS, T.XSZJGCDYCS, T.YS, T.YT,
            T.ZL, T.sfba,T.XSJZQCS
        FROM
            s_sj_bdcdyhxszt T
        WHERE
            bdcdyh in
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>
</mapper>
