<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.building.core.mapper.ZdtMapper">

    <!-- 根据地籍号查询 宗地图-->
    <select id="queryZdtByDjh" parameterType="String" resultType="cn.gtmap.realestate.common.core.domain.building.SSjZdtDO">
        SELECT BDCDYH,BLC,BZ,CTBLC,CTSJ,DJH,DOWNID,DWMC,JLYHM,MXD,
        MXDDOWNID,PAPERHEIGHT,PAPERWIDTH,QSXZ,SCJQM,SCSJ,SFGZ,SLT,TX,TXDOWNID,
        UNIQUEID,UPLOADPATH,WJMC,YXT,ZDT_IMG,ZDTBH  FROM s_sj_zdt
        WHERE DJH = #{djh}
    </select>
</mapper>
