<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>不动产地块列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css">
    <link rel="stylesheet" href="../../static/lib/registerui/css/percentage-layout.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/form.css"/>
    <style type="text/css">
        .bdc-not-full-bg {
            width: 100%;
            height: 100%;
            padding: 68px 10px 10px;
            box-sizing: border-box;
            background-color: #eaedf1;
        }

        .bdc-form-table{
            height: 100%;
            background-color: #fff;
        }
    </style>
</head>

<body>
<div class="bdc-not-full-bg">
    <!--全局 标题和操作按钮 开始-->
    <form class="layui-form bdc-form-table">
        <div class="bdc-content-fix">
            <div class="content-title layui-clear">
                <p>地块信息附表</p>
                <div id="buttonArea">
                    <div class="title-btn-area">
                        <button class="layui-btn bdc-secondary-btn print-btn" type="button" id="printButton">打印</button>
                    </div>
                </div>
            </div>
        </div>
        <!--全局 标题和操作按钮 结束-->
        <div class="form-margin-area">
            <div id="cbdklList" class="basic-info" style="padding: 10px;">
                <div class="bdc-table-box">
                    <table id="dkxxTable" class="layui-table" lay-filter="dkxxTable">
                        <thead>
                        <tr class="gray-tr">
                            <th rowspan="2" lay-data="{field:'xh', width:60, type:'numbers'}">序号</th>
                            <th rowspan="2" lay-data="{field:'dkbm', width: 200}">地块编码</th>
                            <th rowspan="2" lay-data="{field: 'zl', width: 200}">地块名称</th>
                            <th colspan="4" lay-data="{align:'center',unresize:false}">坐落(四至)</th>
                            <th rowspan="2" lay-data="{field: 'bdcdyh', width: 300}">不动产单元号</th>
                            <th rowspan="2" lay-data="{field: 'cbmj', width: 130}">原承包合同面积</th>
                            <th rowspan="2" lay-data="{field: 'cbmj', width: 130}">确权(合同)面积</th>
                            <th rowspan="2" lay-data="{field: 'scmj', width: 100}">实测面积</th>
                            <th rowspan="2" lay-data="{field: 'cbqssj', width: 130}">承包起始时间</th>
                            <th rowspan="2" lay-data=" {field: 'cbjssj', width: 130}">承包结束时间</th>
                            <!--                            <th rowspan="2" lay-data="{field: 'cbtdyt', width: 130}">承包土地用途</th>-->
                            <!--                            <th rowspan="2" lay-data="{field: 'zldj', width: 100}">质量等级</th>-->
                            <th rowspan="2" lay-data="{field: 'sfjbnt', width: 120}">是否基本农田</th>
                            <!--                            <th rowspan="2" lay-data="{field: 'dl', width: 100}">地类</th>-->
                            <th rowspan="2" lay-data="{field: 'bz', width: 100}">备注</th>
                        </tr>
                        <tr class="gray-tr">
                            <th lay-data="{field: 'zdszd', width: 100}">东至</th>
                            <th lay-data="{field: 'zdszn', width: 100}">南至</th>
                            <th lay-data="{field: 'zdszx', width: 100}">西至</th>
                            <th lay-data="{field: 'zdszb', width: 100}">北至</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container bdc-export-tools">
    </div>
</script>

<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/layui/layui.js"></script>
<!--添加水印-->
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/table.js"></script>

<script src="../../static/js/zsxx/bdcDkList.js"></script>
</body>
</html>