<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.interchange.core.mapper.gx.GxTsqzkYzsbxxMapper">

    <select id="getGxTsqzkYzsbxxListByLogid" parameterType="java.lang.String"
            resultType="cn.gtmap.interchange.core.domain.GxTsqzkYzsbxx">
        select a.id, a.logid, b.xgfa yzlx
          from gx_tsqzk_yzsbxx a
          left join zd_yzlx b
            on a.yzlx = b.dm
         where a.logid = #{logid}
    </select>

</mapper>