
.bdc-percentage-container{
    background-color: #fff;
    width: 100%;
    min-height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.bdc-search-content {
    padding: 0;
}

.bdc-title-sign-btn-box {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.layui-table tr td {
    text-align: center;
}

.layui-table tr .set-right{
    text-align: right;
}

.layui-table tr .change-border{
    border-left: 0;
}

.layui-table tr .set-left{
    text-align: left;
    border-right: 0;
}

.bdc-search-box .layui-form-item {
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px dashed #d0d5da;
}

.change-inline{
    padding-bottom: 10px;
}

.change-inline .layui-input-inline input {
    border: none;
}

.change-inline .layui-inline {
    width: 24%;
}

.change-inline .layui-inline .layui-input-inline {
    width: 150px;
}

.change-inline .layui-inline .layui-form-label {
    width: 70px;
    padding:7px 0;
}

.gnature .layui-form-label{
    width: 45px;
    text-align: left;
}

.gnature .layui-input-inline{
    width: 94%;
}
.gnature p{
    display: inline-block;
    width: 47%;
}

