<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>卫健委-出生医学证明查询</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/search.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/application.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css"/>
    <link rel="stylesheet" href="../../static/css/common.css"/>

</head>
<body>
<div class="content-div bdc-percentage-container gxjklc-div">
    <!--查询条件-->
    <div class="bdc-search-content">
        <div class="bdc-search-box">
            <!--一行的-->
            <form class="layui-form" action="">
                <div class="layui-form-item pf-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">出生证明编号</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input search" name="cszmbh" id="cszmbh" placeholder="请输入" type="text"/>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">母亲姓名</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input search" name="mqxm" id="mqxm" placeholder="请输入" type="text"/>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">母亲证件号码</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input search" name="mqzjbm" id="mqzjbm" placeholder="请输入" type="text"/>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline bdc-button-box">
                        <a href="javascript:;" class="layui-btn layui-btn-normal bdc-major-btn" id="search">查询</a>
                        <button type="reset" id="reset" class="layui-btn bdc-secondary-btn reset-btn">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="bdc-content-box">
        <form class="layui-form setOverflow" action="">
            <div class="bdc-content-fix">
                <div class="content-title">
                    <p>出生医学证明查询(卫健委)</p>
                    <div class="title-btn-area .layui-layout-right">
                        <button type="reset" class="layui-btn bdc-secondary-btn upload-pdf">上传PDF</button>
                    </div>
                </div>
            </div>
            <div class="content-main">
                <div class="table-name"></div>

                <div class="bdc-table-box">
                    <table class="layui-table" border="1">
                        <colgroup>
                            <col width="100">
                            <col width="150">
                            <col width="100">
                            <col width="150">
                        </colgroup>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/html" id="tableTpl">
    {{# layui.each(d,function(index,item){  }}
    <tr>
        <td class="set-back-color">新生儿姓名</td>
        <td><input type="text" class="layui-table-edit" value="{{ item.babyName || '' }}" disabled="off"></td>
        <td class="set-back-color">出生医学证明编号</td>
        <td><input type="text" class="layui-table-edit" value="{{ item.birthCode || '' }}" disabled="off"></td>
    </tr>
    <tr>
        <td class="set-back-color">新生儿性别</td>
        <td><input type="text" class="layui-table-edit" value="{{ item.babySex || '' }}" disabled="off"></td>
        <td class="set-back-color">新生儿性别编码</td>
        <td><input type="text" class="layui-table-edit" value="{{ item.babySexCode || '' }}" disabled="off"></td>
    </tr>
    <tr>
        <td class="set-back-color">出生地区</td>
        <td><input type="text" class="layui-table-edit" value="{{ item.birthArea || '' }}" disabled="off"></td>
        <td class="set-back-color">出生时间</td>
        <td><input type="text" class="layui-table-edit" value="{{ item.birthTime || '' }}" disabled="off"></td>
    </tr>
    <tr>
        <td class="set-back-color">母亲姓名</td>
        <td><input type="text" class="layui-table-edit" value="{{ item.momName || '' }}" disabled="off"></td>
        <td class="set-back-color">母亲证件编号</td>
        <td><input type="text" class="layui-table-edit" value="{{ item.momIdCode || '' }}" disabled="off"></td>
    </tr>
    <tr>
        <td class="set-back-color">父亲姓名</td>
        <td><input type="text" class="layui-table-edit" value="{{ item.dadName || '' }}" disabled="off"></td>
        <td class="set-back-color">父亲证件编号</td>
        <td><input type="text" class="layui-table-edit" value="{{ item.dadIdCode || '' }}" disabled="off"></td>
    </tr>
    <tr>
        <td colspan="4" class="quarantine"></td>
    </tr>
    {{# }); }}
</script>


<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/layui/layui.js"></script>
<script src="../../static/lib/bdcui/js/mask.js"></script>
<!--添加水印-->
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/gxjklc/gxjkCommon.js"></script>
<script src="../../static/js/gxjklc/lcsjCsyxzm.js"></script>
</body>
</html>