html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #eaedf1;
}
.bdc-container{
    width: 100%;
    height: 100%;
    padding: 68px 10px 10px 10px;
    box-sizing: border-box;
}
.bdc-content-box{
    width: 100%;
    min-height: 100%;
    overflow-x: auto;
    background-color: #fff;
    padding: 10px 0;
    box-sizing: border-box;
}
.bdc-content-fix {
    width: 100%;
    height: 58px;
    background-color: #eaedf1;
    padding: 0 10px;
    box-sizing: border-box;
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 999;
}
.content-title {
    padding: 10px 0;
    border-bottom: 1px solid #d0d5da;
    background-color: #fff;
    height: 58px;
    clear: both;
    top: 10px;
    left: 10px;
    z-index: 9;
    box-sizing: border-box;
}
.content-title p {
    font-size: 16px;
    color: #333;
    float: left;
    margin-left: 10px;
    line-height: 38px;
}
.content-title .title-btn-area {
    float: right;
    margin-right: 10px;
}
.bdc-major-btn {
    background-color: #1d87d1;
}
.bdc-major-btn:hover {
    background-color: #1675b8;
}
.bdc-secondary-btn {
    background-color: #f3f4f6;
    color: #666;
    border: 1px solid #d0d5da;
}
.bdc-secondary-btn:hover {
    color: #666;
}
/*主题内容*/
.bdc-content{
    background-color: #fff;
    width: 935px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}
.bdc-ywzh{
    line-height: 38px;
    text-align: right;
}

.bdc-msg{
    height: 36px;
    line-height: 36px;
}
.bdc-indent{
    text-indent: 2em;
    margin-top: 10px;
}
.bdc-indent .layui-input-inline{
    width: 295px;
}
.bdc-indent>span{
    padding: 0 20px;
}
.bdc-right{
    text-align: right;
}