<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>附件下载</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/form.css"/>
    <link rel="stylesheet" href="../../static/css/fjxz/fjxz.css">
</head>
<body>
<div class="bdc-form-div bdc-form-not-full bdc-not-full-bg">
    <div class="bdc-content layui-form">
        <div class="bdc-content-fix">
            <div class="content-title layui-clear">
                <p>附件材料下载</p>
            </div>
        </div>
        <form class="layui-form-item bdc-fjxz-item">
            <div class="layui-inline bdc-title-inline">
                <img class="bdc-title-img" src="../../static/image/fy.png" alt="">法院文书附件
            </div>
            <div class="bdc-inline-container clear">
                <div class="layui-inline">
                    <label class="layui-form-label">查封文号</label>
                    <div class="layui-input-inline">
                        <input type="text" autocomplete="off" id="cfwh" name="cfwh" placeholder="请输入"
                               class="layui-input search">
                        <i class="layui-icon layui-icon-close bdc-hide"></i>
                    </div>
                </div>
                <div class="layui-inline bdc-button-box">
                    <a href="javascript:;" class="layui-btn layui-btn-normal bdc-major-btn" id="cfwhfj">查询</a>
                    <button type="reset" class="layui-btn layui-btn-normal bdc-secondary-btn">重置</button>
                </div>
            </div>
        </form>
        <form class="layui-form-item bdc-fjxz-item">
            <div class="layui-inline bdc-title-inline">
                <img class="bdc-title-img" src="../../static/image/fwxx.png" alt="">土地房屋信息调拨附件
            </div>
            <div class="bdc-inline-container clear">
                <div class="layui-inline bdc-fj-content">
                    <label class="layui-form-label">坐落</label>
                    <div class="layui-input-inline">
                        <input type="text" autocomplete="off" name="zl" id="zl" placeholder="请输入"
                               class="layui-input search">
                        <i class="layui-icon layui-icon-close bdc-hide"></i>
                    </div>
                </div>
                <div class="layui-inline bdc-fj-content bdc-button-box">
                    <a href="javascript:;" class="layui-btn layui-btn-normal bdc-major-btn" id="tdfwxxfj">查询</a>
                    <button type="reset" class="layui-btn layui-btn-normal bdc-secondary-btn">重置</button>
                </div>
            </div>
        </form>
        <form class="layui-form-item bdc-fjxz-item">
            <div class="layui-inline bdc-title-inline bdc-title-dsj">
                <img class="bdc-title-img" src="../../static/image/dsj.png" alt="">更多材料下载敬请期待...
            </div>
        </form>
    </div>
</div>
<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/layui/layui.js"></script>
<!--添加水印-->
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/lib/form-select/formSelects-v4.js"/>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/fjxz/fjxz.js"></script>
</body>
</html>