html, body{
    padding: 0;
    background-color: rgba(0,0,0,0);
}

.pannel-form-btns{
    margin: 30px 0;
    text-align: center;
}

.bdc-label-newline {
    padding: 5px 15px;
    height: 28px;
    line-height: 28px;
}

/*按钮样式*/
.main-btn {
    background-color: #1d87d1 !important;
    border: none;
    outline: none;
    color: #fff;
}
.main-btn:hover {
    background-color: #1675b8 !important;
}
.minor-btn {
    background-color: #f3f4f6 !important;
    border: 1px solid #d0d5da;
    outline: none;
    color: #333;
}
.minor-btn:hover {
    color: #333;
    border: 1px solid #1675b8;
}
.delete-btn {
    background-color: #f54743 !important;
    border: none;
    outline: none;
    color: #fff;
}
.normal-btn {
    background-color: #fff !important;
    border: 1px solid #d0d5da;
    outline: none;
    color: #333;
}
.normal-btn:hover {
    color: #333;
    border: 1px solid #1675b8;
}
button.forbidden-btn{
    color: #999;
    background-color: #fff !important;
    border: 1px solid #d0d5da;
    cursor: not-allowed;
}
button.forbidden-btn:hover{
    color: #999;
    background-color: #fff !important;
    border: 1px solid #d0d5da;
}

/*按钮样式结束*/

.layui-form-selected dl {
    display: block;
}

.layui-form-select dl {
    position: absolute;
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 899;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 250px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    box-sizing: border-box;
}

.set-tr-height300 {
    height: 300px;
}