<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.certificate.core.mapper.BdcDzzzZzxxCzztMapper">

    <insert id="insertBdcDzzzZzxxCzztDo" parameterType="cn.gtmap.realestate.certificate.core.model.domain.BdcDzzzZzxxCzztDo">
        INSERT INTO bdc_dzzz_zzxx_czzt t (czztid, zzid, czzt, czztdm, czztdmlx, czztdmlxdm)
        VALUES (#{czztid,jdbcType=VARCHAR},#{zzid,jdbcType=VARCHAR},#{czzt,jdbcType=VARCHAR},#{czztdm,jdbcType=VARCHAR}
        ,#{czztdmlx,jdbcType=VARCHAR},#{czztdmlxdm,jdbcType=VARCHAR})
    </insert>

    <select id="queryBdcDzzzZzxxCzztDoByZzid" parameterType="string"
            resultType="cn.gtmap.realestate.certificate.core.model.domain.BdcDzzzZzxxCzztDo">
        SELECT czztid, zzid, czzt, czztdm, czztdmlx, czztdmlxdm  FROM bdc_dzzz_zzxx_czzt WHERE zzid=#{zzid}
    </select>

    <delete id="delBdcDzzzZzxxCzztDoByZzid" parameterType="String">
        DELETE bdc_dzzz_zzxx_czzt WHERE zzid = #{zzid}
    </delete>

</mapper>