<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.certificate.core.mapper.BdcDzzzMlxxHjczMapper">

    <select id="queryBdcDzzzMlxxHjcz" parameterType="java.util.Map"
            resultType="int">
        SELECT cz FROM bdc_mlxx_hjcz WHERE xzqdm = #{xzqdm}
    </select>

    <update id="updateBdcDzzzMlxxHjcz" parameterType="cn.gtmap.realestate.certificate.core.model.domain.BdcDzzzMlxxHjczDO">
        UPDATE bdc_mlxx_hjcz
        SET cz = #{cz}
        WHERE xzqdm = #{xzqdm}
    </update>
</mapper>