<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.certificate.core.mapper.BdcDzzzZdZzlxMapper">
    <select id="listBdcDzzzZdZzlx" resultType="cn.gtmap.realestate.certificate.core.model.domain.BdcDzzzZdZzlxDO">
        SELECT t.zzlxdm , t.zzlxmc  FROM bdc_dzzz_zd_zzlx t
    </select>
</mapper>