/*下拉框删除图标样式*/
.layui-form-item .xzq-sele .layui-input-inline .layui-icon-close {
    right: 23px;

}
/*下拉框输入框样式（防止内容与删除图标覆盖）*/
.layui-form-item .xzq-sele .layui-input-inline .layui-input{
    padding-right: 40px;
}

/*整行显色时字体颜色修改*/
tr .bdc-special-bdcdyh-color span,
tr .bdc-special-bdcdyh-color a{
    color: #333!important;
}
/*一行查询栏*/
body div.one-percentage-container{
    padding-top: 61px;
}
/*三行查询栏*/
body div.three-percentage-container{
    padding-top: 145px;
}

.layui-inline .bdc-label-newline {
    padding: 0 6px;
    height: 34px;
    line-height: 16px;
}

/*共享接口查询结果表单样式调整*/

.gxjklc-div{
    padding: 58px 0px 0px 0px;
}

.gxjklc-div .bdc-content-fix{
    top:0px;
    padding: 0;
}

.gxjklc-div .set-left{
    text-align: left;
    padding: 5px;
}

.gxjklc-div table.layui-table .quarantine{
    border: 0;
}

.gxjklc-div .bdc-search-box .layui-form{
    padding-top: 8px;
}

.content-div .bdc-content-box {
    width: 935px;
    margin: auto;
}

.content-div {
    background-color: #fff;
    overflow: auto;
}

.bdc-compute-btn {
    position: absolute;
    top: 9px;
    right: 0;
    width: 60px;
    height: 16px;
    line-height: 16px;
    border-left: 1px solid #d0d5da;
    text-align: center;
    color: #1d87d1;
}

.bdc-compute-btn:hover {
    color: #1d87d1;
}