td .layui-form-checkbox[lay-skin=primary] {
    height: auto !important;
    line-height: normal !important;
    min-width: 18px;
    min-height: 18px;
    border: none !important;
    margin-right: 0;
    padding-left: 18px;
    padding-right: 0;
    background: 0 0;
}

.bdc-form-div .layui-form-top {
    /*height: 100%;*/
    box-sizing: border-box;
    background-color: #fff;
    min-height: 100%;
}

.normal-btn {
    background-color: #fff !important;
    border: 1px solid #d0d5da;
    outline: none;
    color: #333;
}

.sl-from table td {
    padding: 0;
    height: 39px;
    text-align: center;
}
.sl-from table td.bdc-special-btn{
    padding: 0 10px;
    text-align: center;
}
.sl-from table td.bdc-select-td{
    padding-right: 30px;
}

.sl-from table input {
    text-align: center;
    border: 0 !important;
    width: 100%;
    height: 38px;
    color: #333;
    outline: none;
}

.white-tr td {
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.gray-tr td {
    text-align: center;
    background: #f3f4f6;
}

/*checkbox的样式修改*/
.layui-form-item .layui-form-checkbox[lay-skin=primary] {
    margin-top: 0;
}

.title-ui {
    z-index: 20;
    margin-right: 14px;
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid #d0d5da;
    top: 62px;
    right: -15px;
    display: none;
}

.title-ui li {
    padding: 0 14px 0 14px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.title-ui li:hover {
    background-color: #f3f4f6;
}

.fixed-height-textarea {
    padding: 6px 10px;
    box-sizing: border-box;
    width: 100%;
    border-color: #d0d5da !important;
}

.basic {
    padding: 15px;
}

/*.title-sign {*/
/*width: 100%;*/
/*height: 40px;*/
/*}*/

td > img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

}

.nosearch {
    width: 100%;
    height: 100%;
    padding: 0 0 0 !important;
    box-sizing: border-box;
    position: relative;
    background-color: transparent;
}

.bdc-percentage-container {
    width: 100%;
    height: 100%;
    padding: 107px 0 0;
    box-sizing: border-box;
    position: relative;
    background-color: transparent;
}

.bdc-line-search-container {
    padding-top: 61px;
}

/*受理页面查询条件大于三个*/
.bdc-line-search-container-four {
    padding-top: 107px;
}

.layui-tab-item .bdc-table-box {
    padding: 0 0 10px 0;
}

.bdc-search-content {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    box-sizing: border-box;
}

.layui-form .layui-table tbody tr:hover,
.layui-form .layui-table-body tr:hover,
.layui-form .layui-table-click,
.layui-form .layui-table-hover {
    background-color: #fff;
}

.bdc-title-sign-btn {
    height: 30px;
    padding-top: 7px;
    box-sizing: border-box;
}

/*受理页面表格*/
/*.sl-from .layui-table, .sl-from.layui-table-view {*/
    /*margin: 10px 0;*/
/*}*/

.basic-info {
    padding: 10px 0;
}


/*百分比布局修改*/
.bdc-form-div.slympl>.layui-form{
    height: 100%;
}
.slympl .bdc-tab-box{
    background-color: #fff;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0 10px;
    height: 100%;
    box-sizing: border-box;
}
.slympl .layui-tab{
    padding: 47px 0 0 0;
    position: relative;
    height:100%;
}
.slympl .layui-tab-title{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.slympl .layui-tab-content{
    height: 100%;
}
.slympl .layui-tab-item{
    height: 100%;
}
.slympl .layui-tab-item .bdc-table-box .layui-form{
    height: auto;
    min-height: auto;
}

/*IE10表格没有边线*/
.gray-tr td, .layui-table th{
    position: static;
}

.layui-table-body .layui-none{
    color: #333;
    line-height: 30px;
}
.layui-table-body .layui-none img{
    padding-right: 10px;
    position: relative;
    top: -2px;
}

.sl-from table .bdc-table-none td{
    padding: 5px;
    line-height: 30px;
}
.layui-table .layui-none img {
    padding-right: 10px;
    position: relative;
    top: -2px;
}

.bdc-td-box {
    position: relative;
    height: 100%;
}

.bdc-td-box.bdc-date-disabled input {
    padding-right: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
td .bdc-td-box > img {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}

#bdc-popup-large .layui-form-item .bdc-two-line .layui-input-inline {
    width: 513px;
}

.sfxxtext .layui-input-inline {
    display: block;
    vertical-align: middle;
}

.majorbtn {
     right: 100px !important;
 }
.secondbtn {
    right: 10px;
}

/*下拉框删除图标样式*/
.layui-form-item .xzq-sele .layui-input-inline .layui-icon-close {
    right: 23px;

}

/*下拉框输入框样式（防止内容与删除图标覆盖）*/
.layui-form-item .xzq-sele .layui-input-inline .layui-input{
    padding-right: 40px;
}

/*二级按钮*/
.title-sign > .bdc-tab-a {
    position: absolute;
    top: 0;
    right: 0;
}

/*下拉框内容修改后样式*/
.bdc-form-div .layui-form .xzq-sele .bdc-change-input input {
    background-color: #eaf4fe;
}

/*收费信息页面，下拉框内容修改后样式*/
.bdcsfxxForm .layui-form-item .bdc-change-input input {
    background-color: #eaf4fe;
}

/*用于调整下拉列表高度*/
.select-height .layui-form-select dl {
    max-height: 210px;
}

/*表格更多按钮被遮挡问题*/
.bdc-ts-fixed .layui-table-fixed{
    z-index: inherit;
}

/*权利人收费信息与义务人收费信息之前蓝色实线*/
.bdc-qlrsfxx-info{
    border-bottom: 1px solid #1d87d1;
}
/**权利人非税缴款情况与义务人收费之间的蓝色实线**/
.bdc-qlrjkqk-info{
    border-bottom: 1px solid #1d87d1;
}

/*批量页面总计*/
.bdc-table-zj{
    width: 100%;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    background-color: #f3f4f6;
    border: 1px solid #d0d5da;
    /*border-bottom: none;*/
    padding-left: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 61px;
    left: 0;
    z-index: 999;
}
.bdc-table-zj div{
    display: inline-block;
    width: 15%;
    padding: 10px;
}
.bdc-table-zj div:nth-child(7),
.bdc-table-zj div:nth-child(12){
    padding-left: 110px;
}
.bdc-table-zj>span:first-child{
    padding-right: 40px;
}
.bdc-table-zj>span img{
    margin-right: 10px;
}
.bdc-table-zj i{
    font-style: normal;
    color: #1d87d1;
    margin-left: 15px;
}
.form-margin-area{
    padding: 0 10px;
    box-sizing: border-box;
}
.layui-form-item .layui-form-checkbox[lay-skin=primary] {
    margin-top: 8px;
    padding-left: 22px;
}
.layui-table{
    margin-bottom: 0;
}
.title-sign > a{
    position: absolute;
    top: 0;
    right: 10px;
}

.layui-disabled, .layui-disabled:hover{
    cursor: text!important;
}
.layui-checkbox-disbaled[lay-skin=primary] span{
    color: #666;
}

.bdc-title-sign-btn .bdc-title-sign-btn-box{
    position: absolute;
    top: 0;
    right: 10px;
}
.bdc-title-sign-btn .bdc-title-sign-btn-box .bdc-jfxmc{
    position: relative;
    top: 2px;
    right: 10px;
}

/*附记 新增 弹出*/
.bdc-fj-inline{
    padding-right: 28px;
    box-sizing: border-box;
}
.bdc-fj-inline .bdc-pj-popup{
    width: 28px;
    height: 100%;
    line-height: 17px;
    padding-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #d0d5da;
    background-color: #f3f4f6;
    border-left: none;
    box-sizing: border-box;
    text-align: center;
    color: #1d87d1;
    cursor: pointer;
}
#fjPopup .layui-form{
     padding: 10px;
     box-sizing: border-box;
 }
#fjPopup .layui-textarea{
    min-height: 360px;
}

#reasonPopup .layui-form{
    padding: 10px;
    box-sizing: border-box;
}
#reasonPopup .layui-textarea{
    min-height: 360px;
}

/*权力其他状况弹出*/
.bdc-qlqtzk-inline{
    padding-right: 28px;
    box-sizing: border-box;
}
.bdc-qlqtzk-inline .layui-textarea{
    min-height: 100px;
}
.bdc-qlqtzk-inline .bdc-qlqtzk-popup{
    width: 28px;
    height: 100%;
    line-height: 17px;
    padding-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #d0d5da;
    background-color: #f3f4f6;
    border-left: none;
    box-sizing: border-box;
    text-align: center;
    color: #1d87d1;
    cursor: pointer;
}

.dsQlrTitle .bdc-tab-a{
    top: -10px;
}

/*申请人信息表格中input标红*/
.bdc-td-box .layui-form-danger + .layui-form-select,
.bdc-td-box .layui-form-danger.layui-input,
.bdc-td-box .layui-form-danger:focus{
    border: 1px solid #f54743!important;
}

/*表单内查询条件圆角样式*/
.bdc-form-search .layui-form-item .layui-input-inline .layui-input{
    border-radius: 17px;
}
.bdc-form-search .bdc-button-box .layui-btn,
.bdc-form-search .bdc-button-box-four .layui-btn{
    width: 34px;
    padding: 0;
    border-radius: 50%;
    margin-right: 5px;
}

.bdc-fj-reset .layui-textarea{
    min-height: 100px;
}
.bdc-fj-inline .bdc-pj-popup>img{
    margin-top: 6px;
}
.bdc-fj-inline textarea{
    min-height: 100px;
}

/*合同备案弹出层*/
.bdc-htbh-popup{
    padding-bottom: 10px;
    border-bottom: 1px solid #d0d5da;
}
#bdc-popup-large .bdc-htbh-popup .layui-form-item .layui-inline.bdc-button-box{
    width: 310px;
}
/*抵押登记证明号/原产权证号样式*/
.bdc-dydjzmh-inline .layui-textarea{
    min-height: 34px;
    height: 56px;
}

.layui-inline .bdc-inline-code{
    width: 72px;
}

.layui-form .tr-select-color{
    display: none!important;
}


.qlxx-tips {
    background-color: #fff2f1;
    border: 1px solid #ffa39e;
    line-height: 30px;
    padding: 0 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

/*小微企业小标识*/
.layui-form .title-sign .xwqy {
    position: absolute;
    top: 2px;
    left: 120px;
    padding: 3px 8px;
    color: #f24b43;
    background-color: #fff2f1;
    border: 1px solid #ffa39e;
}

.layui-form-item .layui-inline.bdc-three-column {
    width: 75%
}

.layui-form-item .bdc-three-column .layui-input-inline {
    width: 86.5%;
}