.content-div {
    padding-top: 10px;
}

.layui-table td,
.layui-table td input,
.layui-table td textarea{
    text-align: center;
}

.layui-table td textarea{
    border: none;
    min-height: 53px;
}

.layui-table tr .change-left {
    text-align: left;
}

.bdc-search-box .layui-form-item {
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px dashed #d0d5da;
}

.layui-table .set-tr-height78 {
    height: 78px;
}

.layui-table .layui-inline input {
    padding-top: 8px;
}

.layui-table .change-width {
    width: 100%;
}

.change-width .layui-input-inline {
    width: 80%;
}

