.bdc-container{
    padding-left: 240px;
}
.content-div form{
    width: 100%;
}
.bdc-right-content{
    padding-top: 0px;
}
.bdc-right-content .change-overflow{
    overflow-y: auto;
}
/*表格样式调整开始*/
.layui-table tr .set-back-color{
    color: #666;

}
.interval-back-color td:not(:first-child),
.interval-back-color td:not(:first-child) input{
    background-color: #e2e3e5;
}

/*用于页面高亮显示*/
.bdc-change-color td,
.bdc-change-color td input{
    background-color: #eaf4fe;
}

.layui-table td.set-back-color,
.bdc-table-box tr td,
.bdc-table-box tr td input
{
    text-align: center;
}
.bdc-outer {
    position: absolute;
    top: 19px;
    left: -1px;
    width: 247px;
    height: 0;
    border-bottom: 1px solid #d0d5da;
    transform: rotate(9deg);
}
/*表格样式调整结束*/

/*选中增加底色*/
a:hover{
    background-color: #f3f4f6;
}
.accordion a.active{
    color: #1d87d1;
}

.bdc-menu-aside{
    width: 220px;
}

.bdc-aside-zoom{
    left: 219px;
}

#asideLine{
    left: 215px;
}