.layui-table {
    width: 900px;
}
.layui-table .td-noborder td {
    border: 0;
}

.layui-table .td-newBorder td {
    border-bottom: 0;
    border-top: 0;
}

.layui-form-checked[lay-skin=primary] i {
    border-color: #1d87d1;
    background-color: #1d87d1;
}

.layui-table td.set-back-color, .content-main table input[type='text'], .text-center {
    text-align: center;
    background-color: #fff;
}

.content-main .bsc-table-tips {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    text-align: right;
    padding: 0 15px;
    box-sizing: border-box;
}

.bsc-table-tips span {
    padding: 0 5px;
}

.layui-checkbox-disbaled[lay-skin=primary] span {
    color: #333 !important;
}

.content-div {
    padding: 15px;
    width: 935px;
    margin: 0 auto;
}

.content-div form {
    padding: 0;
    width: 100%;
}

.table-name {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
}

.content-div .bdc-content-box {
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow-x: auto;
}

body {
    background-color: #fff;
    height: auto;
}