/**
* 不动产登记权利及其他登记事项CSS
*/

body,
html {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
    font-size: 16px;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.bdc-hide {
    display: none;
}


body {
    background-color: #fff;
}

.content-div {
    width: 935px;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.content-div form {
    background-color: #fff;
}

.content-title {
    padding: 15px 0;
    border-bottom: 1px solid #d0d5da;
    background-color: #fff;
    height: 38px;
    clear: both;
    top: 15px;
    left: 15px;
    z-index: 9;
}

.content-title p {
    font-size: 20px;
    color: #333;
    float: left;
    margin-left: 20px;
    line-height: 38px;
}

.content-title .title-btn-area {
    float: right;
    margin-right: 20px;
}

.content-main {
    width: 100%;
    overflow: hidden;
}

.table-name {
    width: 100%;
    height: 35%;
    margin: 26px 0;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #333;
}

.layui-table td {
    overflow: hidden;
}

table {
    position: relative !important;
}

.content-main table input[type='text'] {
    display: block;
    border: none;
    outline: none;
    width: 50%;
    height: 37px;
    border-bottom: solid 1px #d0d5da;
    text-align: center;
}

.layui-table {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.content-main .layui-table tbody tr:hover,
.content-main .layui-table thead tr,
.content-main .layui-table-click,
.content-main .layui-table-header,
.content-main .layui-table-hover,
.content-main .layui-table-mend,
.content-main .layui-table-patch,
.content-main .layui-table-tool,
.content-main .layui-table[lay-even] tr:nth-child(even) {
    background-color: transparent;
}

table.layui-table .quarantine {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}

table {
    border: 0;
}

tr,
td {
    color: #333;
}

tr textarea,
td textarea {
    color: #333;
}

.layui-table td,
.layui-table th,
.layui-table-col-set,
.layui-table-fixed-r,
.layui-table-grid-down,
.layui-table-header,
.layui-table-page,
.layui-table-tips-main,
.layui-table-tool,
.layui-table-total,
.layui-table-view,
.layui-table[lay-skin=line],
.layui-table[lay-skin=row] {
    border-color: #d0d5da;
}

.set-back-color {
    background-color: #f3f4f6;
}

.layui-table td,
.layui-table th {
    padding: 0 10px;
    height: 39px;
    overflow: visible;
    position: static;
    font-size: 16px;
    border: 0;
}

.layui-table-edit {
    box-shadow: none;
    position: relative;
    color: #333;
    padding: 0 5px;
}

.required-span {
    color: #f54743;
    margin-right: 6px;
}

td {
    text-align: right;
}

td textarea {
    display: block;
    /*position: absolute;
      left: 0;
      top: 0;*/
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    padding-left: 10px;
}

td p {
    text-align: left;
}

.set-center {
    text-align: center;
}

.set-tr-height {
    height: 60px;
}

.set-tr-height158 {
    height: 158px;
}

.statement {
    font-size: 14px;
    color: #333;
    line-height: 23px;
    text-indent: 28px;
    margin: 20px 10px;
    text-align: left;
}

.content-main table .gnature {
    width: 800px;
    text-align: left;
}

.content-main table .gnature input[type='text'] {
    display: block;
    width: 182px;
    padding-left: 10px;
    height: 38px;
    line-height: 38px;
    background-color: #fff;
    border-radius: 2px;
    border: none;
}

.content-main table .setTimes .setTimes-float {
    float: left;
    margin-left: 90px;
}

.content-main table .setTimes .setTimes-float label {
    width: 18px !important;
    padding: 9px 0;
    margin: 0;
    text-align: left;
}

.content-main table .setTimes .setTimes-float input,
.content-main table .setTimes .setTimes-float label {
    float: left;
}

.content-main table .setTimes input[type='text'] {
    max-width: 38px;
    border: none;
    text-align: center;
}

.change-label-width {
    width: 138px !important;
    padding: 9px 8px;
    font-size: 14px;
}

input::-webkit-input-placeholder {
    color: #999;
}
.layui-form-select .layui-input {
    color: #333;
}

.bdc-set-width {
    width: 80px;
    box-sizing: border-box;
}

.bdcdyh-label {
    float: left;
    width: 40%;
    height: 100%;
    padding-top: 10px;
    letter-spacing: 6px;
}

.label-ye {
    float: right;
    padding-top: 10px;
    max-width: 80px;
    margin-right: 25%;
}

.label-tip {
    float: right;
    padding-top: 10px;
    max-width: 150px;
}

.td-resize input {
    float: right;
}

.content-target {
    width: 100%;
    height: 60px;
    padding-top: 20px;
}

.content-target-tip {
    width: 40%;
    float: right;
    text-align: center;
    font-size: 14px;
}

.content-target-tip input {
    border: 0;
    max-width: 80px;
    text-align: center;
    border-bottom: solid 1px #d0d5da;
}

#qllxmc {
    max-width: 300px;
}

#bdcdyh {
    max-width: 300px;
}

.layui-table-edit:focus {
    border-color: #d0d5da !important;
}

.ye_text {
    max-width: 80px;
    text-align: center
}