.bdc-form-div.building-notitle {
    padding: 10px 10px 10px 10px;
}

.table-name{
    width: 100%;
    height: 35%;
    padding: 15px 0 0 0;
    text-align: center;
    font-size: 35px;
    color: #333;
    display: inline-block;
}

.table-name p{
    padding-bottom: 15px;
}

.table-name-second {
    width: 100%;
    height: 35%;
    text-align: center;
    font-size: 25px;
    color: #333;
}

.table-name-third{
    width: 100%;
    height: 35%;
    text-align: center;
    font-size: 25px;
    color: #333;
}

.content-target-tip {
    width: 40%;
    float: right;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    box-sizing: border-box;
}

.change-ys-right{
    width: 80%;
    text-align: right;
    font-size: 14px;
    padding: 15px;
    box-sizing: border-box;
}

.layui-table .td-noborder td {
    border: 0;
}

.layui-table tr .set-left{
    text-align: left;
}

.content-div {
    padding: 0px 0px 30px 0px;
    width: 935px;
    margin: 0 auto;
}

.layui-table td.set-back-color, .content-main table input[type='text'], .text-center {
    text-align: center;
}

.bdc-ft-btn{
    color: #2d5de1;
    cursor: pointer;
}

.layui-table-view .layui-table td {
    position: relative;
}

/*标题换行*/
#dkfbContent th .layui-table-cell{
    font-size:14px;
    padding:0 5px;
    height:auto;
    overflow:visible;
    text-overflow:inherit;
    white-space:normal;
    word-break: break-all;
}

/*表格宽度*/
#dkfbContent .layui-table-view .layui-table{
    width:100%
}