.bdc-container {
    width: 935px;
    margin: 0 auto;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #1d87d1;
}

.layui-table .bdc-table-title {
    font-weight: 700;
}