body{
    /*width: 960px;*/
}


input[type='button']{
    cursor: pointer;
}

.all-container{
    position: relative;
}

.all-title{
    height: 60px;
    width: 100%;
    background: #fff;
    line-height: 60px;
    font-size: 18px;
    padding-left: 15px;
    box-sizing: border-box;
}

.all-content-container{
    background: #eaedf1;
    text-align: center;
    box-sizing: border-box;
}

.second-all-content-container{
    background: #fff;
    padding: 10px;
}

.third-all-content-container{
    position: relative;
}

.third-all-content-container-condition{
    height: 50px;
    background: #f3f4f6;
    border: 1px solid #d0d5da;
    text-align: left;
    line-height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

.third-all-content-container-condition input[type="button"]{
    padding: 7px;
    border-radius: 2px;
}

.main-content-container{
    text-align: left;
    height: 467px;
    overflow: auto;
    margin-top: 10px;
}

.layui-form .layui-form-item .layui-inline{
    margin-top: 0;
    width: 160px;
    margin-left: 10px;
}

.layui-form .layui-form-item .layui-inline .layui-select-title input{
    height: 34px;
}

.main-content-container .bdc-classify-container div.main-content-container-toptitle span{
    display: inline-block;
    box-sizing: border-box;
    padding-right: 15px;
    border-right: 1px solid #8c8c8c;
    color: #666666;
    margin-left: 15px;
    height: 8px;
    line-height: 8px;
}

.main-content-container .bdc-classify-container div.main-content-container-toptitle .bdc-yx-fx{
    width: 50px;
    position: relative;
    top: 4px;
}
.main-content-container .bdc-classify-container div.main-content-container-toptitle .bdc-yx-fx .layui-form-checkbox[lay-skin=primary]{
    position: relative;
    top: -4px;
}

.main-content-container .bdc-classify-container div.main-content-container-toptitle .bdc-yx-dyh{
    width: 230px;
}

.main-content-container .bdc-classify-container div.main-content-container-toptitle .bdc-yx-zl{
    width: 200px;
}

.main-content-container .bdc-classify-container div.main-content-container-toptitle .bdc-yx-qlr{
    width: 200px;
}

.main-content-container .bdc-classify-container div.main-content-container-toptitle .bdc-yx-yt{
    width: 100px;
}

.main-content-container .bdc-classify-container div.main-content-container-toptitle .bdc-yx-ybdcqz{
    width: 200px;
}

.main-content-container .bdc-classify-container div.main-content-container-toptitle .bdc-yx-dyh-slympl{
    width: 260px;
}

.main-content-container .bdc-classify-container div.main-content-container-toptitle .bdc-yx-zl-slympl{
    width: 300px;
}

.main-content-container .bdc-classify-container div.main-content-container-toptitle .bdc-yx-qlr-slympl{
    width: 250px;
}

.main-content-container .bdc-classify-container div.main-content-container-toptitle .bdc-yx-yt-slympl{
    width: 150px;
}

.main-content-container .bdc-classify-container div.main-content-container-toptitle .bdc-yx-ybdcqz-slympl{
    width: 250px;
}

.main-content-container .bdc-classify-container div.main-content-container-toptitle .bdc-yx-cz{
    border-right: none;
}

.main-content-item{
    margin-top: 15px;
    border-bottom: 1px dotted #d0d5da;
    padding-bottom: 10px;
}
.main-content-item:last-child{
    border-bottom: none;
}

.main-content-item .main-content-item-title>div{
    display: inline-block;
    box-sizing: border-box;
    padding-right: 15px;
    color: #333;
    margin-left: 6px;
    vertical-align: text-top;
    font-size: 14px;
    cursor: pointer;
}

.main-content-item .main-content-item-title>div.todrag{
    padding-right: 0px;
    margin-left: 0px;
}

.main-content-item .main-content-item-title .todrag>div{
    display: inline-block;
    box-sizing: border-box;
    padding-right: 15px;
    color: #333;
    margin-left: 15px;
    vertical-align: text-top;
    font-size: 14px;
    cursor: pointer;
}

.main-content-item .main-content-item-title .todrag>.bdc-yx-fx{
    width: 50px;
}

.main-content-item .main-content-item-title .todrag>.bdc-yx-dyh{
    width: 230px;
}

.main-content-item .main-content-item-title .todrag>.bdc-yx-zl{
    width: 200px;
}

.main-content-item .main-content-item-title .todrag>.bdc-yx-qlr{
    width: 200px;
}

.main-content-item .main-content-item-title .todrag>.bdc-yx-yt{
    width: 100px;
}

.main-content-item .main-content-item-title .todrag>.bdc-yx-ybdcqz{
    width: 200px;
}

.main-content-item .main-content-item-title .todrag>.bdc-yx-dyh-slympl{
    width: 300px;
}

.main-content-item .main-content-item-title .todrag>.bdc-yx-zl-slympl{
    width: 300px;
}

.main-content-item .main-content-item-title .todrag>.bdc-yx-qlr-slympl{
    width: 250px;
}

.main-content-item .main-content-item-title .todrag>.bdc-yx-yt-slympl{
    width: 150px;
}

.main-content-item .main-content-item-title .todrag>.bdc-yx-ybdcqz-slympl{
    width: 250px;
}

.main-content-item .main-content-item-title>div:nth-child(2){
    padding-right: 0;
}

.main-content-item .main-content-item-title>div:nth-child(2) input{
    padding: 2px 4px;
    font-size: 14px;
}

.main-content-delete{
    border: 1px solid #f24b43;
    color: #fff;
    border-radius: 2px;
    background: #f24b43;
}

.main-content-open{
    background: #f3f4f6;
    border-radius: 2px;
    border: 1px solid #d0d5da;
}

.main-content-close{
    background: #f3f4f6;
    border-radius: 2px;
    border: 1px solid #d0d5da;
}

.main-content-item-content{
    width: 100%;
    background: #f3f4f6;
    height: 70px;
    line-height: 70px;
    color: #1d87d1;
    font-size: 12px;
    margin-top: 15px;
    display: none;
}

.main-content-item-content>div{
    display: inline-block;
}

.clickP{
    color: #1d87d1;
    cursor: pointer;
    position: relative;
    padding-left: 6px;
    padding-right: 6%;
    float: left;
    line-height:30px ;
}

/*按钮样式*/
.main-btn {
    background-color: #1d87d1 !important;
    border: none;
    outline: none;
    color: #fff;
}
.main-btn:hover {
    background-color: #1675b8 !important;
}
.minor-btn {
    background-color: #f3f4f6 !important;
    border: 1px solid #d0d5da;
    outline: none;
    color: #333;
}
.minor-btn:hover {
    color: #333;
    border: 1px solid #1675b8;
}

.main-content-item-content img{
    width: 13px;
    height: 13px;
}

.main-content-item-content-tanchu{
    position: absolute;
    background: #fff;
    color: #333;
    padding: 10px 15px;
    border: 1px solid #d0d5da;
    left: -15px;
    top: 55px;
    min-width: 170px;
    display: none;
    z-index: 9999;
}

/*.sffz .main-content-item-content-tanchu{*/
    /*left: -65px;*/
/*}*/

.main-content-item-content-tanchu-title{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.main-content-item-content-tanchu form div.layui-form-item:nth-child(2){
    text-align: center;
    line-height: 50px;
}

.main-content-item-content-tanchu .layui-input{
    height: 30px;
}

.main-content-item-content-tanchu input[type='button']{
    padding: 3px 8px;
}

.main-content-item-content-tanchu input[type='button']:first-child{
    background: #1d87d1;
    color: #fff;
    border-radius: 2px;
    border: none;
    /*margin-left: 10px;*/
}

.main-content-item-content-tanchu input[type='button']:nth-child(2){
    background: #f3f4f6;
    border-radius: 2px;
    border: 1px solid #d0d5da;
}

.modal-tanchu{
    width: 840px;
    position: absolute;
    left: 60px;
    top:180px;
    background: #fff;
    display: none;
    border: 1px solid #d0d5da;
}

.modal-tanchu-title{
    width: 100%;
    height: 45px;
    /*line-height: 60px;*/
    font-size: 16px;
    padding: 12px;
    box-sizing: border-box;
    background: #f3f4f6;
    border-bottom: 1px solid #d0d5da;
}

.modal-tanchu-title img{
    float: right;
    background: #f3f4f6;
    height: 18px;
}

.modal-tanchu-content span{
    /* width: 32%; */
    font-size: 12px;
    padding: 27px 20px;
    /* margin: 5px 0px; */
    display: inline-block;
}

.modal-tanchu-content span input{
    width: 12px;
}

.modal-tanchu-content-button{
    width: 100%;
    text-align: center;
}

.modal-tanchu-content-button input{
    padding: 10px 15px;
}

.modal-tanchu-content-button input:first-child{
    background: #1d87d1;
    color: #fff;
    border-radius: 2px;
    border: none;
    margin-right: 5px;
}

.modal-tanchu-content-button input:nth-child(2){
    background: #f3f4f6;
    border-radius: 2px;
    border: 1px solid #d0d5da;
}

.layui-form-label {
    float: left;
    display: block;
    padding: 7px 5px;
    width: 90px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

.layui-form-item .layui-input-inline {
    width: 180px;
}
.search{
    margin-bottom: 10px;
    border-bottom: 1px dotted #d0d5da;
    overflow: hidden;
    display: none;
}

.search-jt{
    cursor: pointer;
}

.search form{
    margin-bottom: 10px;
}

/*.search form{*/
    /*display: none;*/
/*}*/

.search input{
    padding: 7px 15px;
}

.search input[type='button']:first-child{
    background: #1d87d1;
    color: #fff;
    border-radius: 2px;
    border: none;
    margin-right: 5px;
}

.search input[type='button']:nth-child(2),.search input[type='reset']{
    background: #f3f4f6;
    border-radius: 2px;
    border: 1px solid #d0d5da;
}

.search .layui-form-item:nth-child(2){
    margin-top: 15px;
}
/*.main-content-item .main-content-item-title>div:first-child{*/
    /*width: 300px;*/
/*}*/



/*2019/4/4  购物车新增以及修改样式*/
.third-all-content-container-condition .layui-form-item>input[type='text']{
    height: 32px;
    color: #333;
    position: relative;
    border: 1px solid #d0d5da;
    top: -1px;
    width: 40px;
    text-align: center;
}

#confirm{
    background: #1d87d1;
    color: #fff;
    border-radius: 2px;
    border: none;
    margin-left: 10px;
}

.new-main-content-container{
    width: 420px;
    border-right: 1px solid #ddd;
    height: 445px;

}
.main-content-container-right-item-container{
    width: 500px;
}
/*.main-content-container-right-item-title {*/
/*    position: fixed;*/
/*    width: 470px;*/
/*}*/
.layui-colla-title{
    width: 350px;
}

.new-main-content-item-title-div{
    width: 350px!important;
    padding-right: 0px!important;
    margin-left: 0px!important;
    margin-bottom: 10px;
}

.new-main-content-item-content{
    line-height: 25px;
}

.new-main-content-item-content-tanchu{
    top: 23px;
    left: 15px;
}

.newclickP{
    width: 100%;

}

.main-content-container-right{
    position: absolute;
    padding: 10px;
    top: 58px;
    right: 0;
    width: 570px;
    height: 460px;
    overflow: auto;
    display: none;
}

.main-content-container-right-item{
    height: 175px;
    width: 100%;
    text-align: left;
    /* margin-bottom: 14px; */
    border: 1px solid #d0d5da;
    background: #fff;
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
    /*padding: 5px;*/
    box-sizing: border-box;
    max-height: 250px;
    overflow: auto;
}

.main-content-container-right-item:last-child{
    margin-bottom: 0px!important;
}

.drag-disabled{
    cursor: default;
    /*解决拖拽后的element默认样式问题*/
    color: #999999 !important;
}

.reverse-drag{
    font-size: 14px;
    padding: 5px 10px;
    margin: 0 5px;
    /* box-shadow: #ddd 0px 0px 2px 1px; */
    border-bottom: 1px solid #ddd;
    border-radius: 2px;
    color: #333;
    /* margin-bottom: 0px; */
}

.reverse-drag:hover{
    box-shadow: #ddd 0px 0px 1px 1px;
    border: 1px solid #ddd;
}
.drag-disabled  .main-content-item-title{
    color: #999999;
    pointer-events:none;
}

.drag-disabled  .main-content-item-title .todrag>div{
    color: #999999;
}

.drag-disabled  .main-content-item-title>div:nth-child(2)>input:nth-child(2){
    color: #999999;
}

.drag-disabled  .main-content-item-title>div:nth-child(2)>input:nth-child(1){
    color: rgba(255,255,255,.7);
    border: none;
    background: rgba(242,75,67,.7);
}

.drag-disabled .main-content-item-title>div:nth-child(4) input:nth-child(2) {
    padding: 2px 4px;
    font-size: 12px;
    color: #999999;
}

#addZhengshu{
    background: #1d87d1;
    color: #fff;
    border-radius: 2px;
    border: none;
    padding: 7px;
    margin-top: 10px;
}
.main-content-container-right{
    width: 500px;
}
.main-content-container-right-item-title{
    background: #eaedf1;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #d0d5da;
}

.deleteZhengshu{
    background: #f24b43;
    color: #fff;
    border-radius: 2px;
    border: none;
    padding: 3px 7px;
    font-size: 12px;
    float: right;
    position: relative;
    top: 6.3px;
}

.layui-form-item .layui-inline{
    float: none;
    display: inline-block;
}

/*分页栏*/
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #1d87d1;
}

/*无数据*/
.no-info{
    display: none;
    line-height: 26px;
    padding: 15px;
    text-align: center;
    color: #999;
}




/*滚动条样式*/
/*.main-content-container::-webkit-scrollbar {!*滚动条整体样式*!*/
    /*width: 2px!important;     !*高宽分别对应横竖滚动条的尺寸*!*/
    /*height: 4px!important;*/
/*}*/
/*.main-content-container::-webkit-scrollbar-thumb {!*滚动条里面小方块*!*/
    /*border-radius: 5px!important;*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2)!important;*/
    /*background: rgba(0,0,0,0.2)!important;*/
/*}*/
/*.main-content-container::-webkit-scrollbar-track {!*滚动条里面轨道*!*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2)!important;*/
    /*border-radius: 5px!important;*/
    /*background: rgba(0,0,0,0.1)!important;*/
/*}*/

/*.main-content-container-right::-webkit-scrollbar {!*滚动条整体样式*!*/
    /*width: 2px!important;     !*高宽分别对应横竖滚动条的尺寸*!*/
    /*height: 4px!important;*/
/*}*/
/*.main-content-container-right::-webkit-scrollbar-thumb {!*滚动条里面小方块*!*/
    /*border-radius: 5px!important;*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2)!important;*/
    /*background: rgba(0,0,0,0.2)!important;*/
/*}*/
/*.main-content-container-right::-webkit-scrollbar-track {!*滚动条里面轨道*!*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2)!important;*/
    /*border-radius: 5px!important;*/
    /*background: rgba(0,0,0,0.1)!important;*/
/*}*/

/*!*滚动条样式*!*/
/*.new-main-content-container::-webkit-scrollbar {!*滚动条整体样式*!*/
/*width: 2px!important;     !*高宽分别对应横竖滚动条的尺寸*!*/
/*height: 4px!important;*/
/*}*/
/*.new-main-content-container::-webkit-scrollbar-thumb {!*滚动条里面小方块*!*/
/*border-radius: 5px!important;*/
/*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2)!important;*/
/*background: rgba(0,0,0,0.2)!important;*/
/*}*/
/*.new-main-content-container::-webkit-scrollbar-track {!*滚动条里面轨道*!*/
/*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2)!important;*/
/*border-radius: 5px!important;*/
/*background: rgba(0,0,0,0.1)!important;*/
/*}*/

/*主体内容宽度调整*/
.new-main-content-container .main-content-item-title-div{
    width: 350px!important;
    padding-right: 0px!important;
    margin-left: 0px!important;
    margin-bottom: 10px;

}

/*弹窗*/
.alertFather{
    position: absolute;
    z-index: 10000;
    display: none;
}

.click-show-select{
    width: 300px;
    height: 140px;
    border: 1px solid #d0d5da;
    background-color: #fff;
}

.show-select-title{
    color: #333;
    font-size: 14px;
    padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    overflow: hidden;

}

.show-select-content{
    padding: 0 20px;
}

.show-select-btn{
    text-align: center;
    margin-top: 15px;
}

.layui-form-checkbox[lay-skin=primary]:hover i{
    border-color: #1d87d1;
}
.layui-form-checked[lay-skin=primary] i{
    border-color: #1d87d1;
    background-color: #1d87d1;
}

/*新增 按权利类型分类 标题*/
.bdc-classify-container{
    padding: 10px;
    border: 1px solid #d0d5da;
    margin-bottom: 10px;
}
.bdc-right-operate{
    position: absolute;
    top: 0;
    right: 10px;
}
.bdc-right-operate>img{
    border: 1px solid #d0d5da;
    padding: 5px;
    margin-left: 7px;
    cursor: pointer;
    background-color: #fff;
}
.bdc-classify-title{
    height: 34px;
    line-height: 34px;
    border-bottom: 1px dashed #d0d5da;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}
.new-main-content-container .bdc-classify-title{
    height: auto;
    line-height: 20px;
}
.bdc-ql-name{
    border-left: 3px solid #1d87d1;
    padding-left: 12px;
}
.bdc-right-content{
    width: 340px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 54px;
    box-sizing: border-box;
}
.bdc-num-box{

}
.bdc-num-box label{
    position: relative;
    top: 2px;
}
.bdc-operate-classify{
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    color: #999;
    font-weight: 700;
}
.bdc-operate-classify>.layui-icon {
    font-size: 24px;
}
.bdc-zh-title{
    height: 30px;
    text-align: left;
}
.bdc-table-none{
    line-height: 30px;
    padding: 15px;
    text-align: center;
    border: 1px solid #d0d5da;
}
.bdc-table-none img{
    margin-right: 10px;
}
.bdc-add-zs{
    text-align: center;
}

.bdc-ryzh {
    width: 330px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    top: 41px;
    right: 180px;
    padding-right: 54px;
    box-sizing: border-box;
}

/*任意组合搜索框样式*/
.ryzh-search{
    position: relative;
    width: 278px;
}

.ryzh-search .bdc-search {
    width: 240px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px 10px;
    margin: 0px 0px 10px 10px;
    padding: 0 0 0 28px;
    font-size: 12px;
}

.ryzh-search .layui-icon-search {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 12px;
}

.ryzh-search .layui-icon-close {
    position: absolute;
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
    font-size: 12px;
    cursor: pointer;
}

.ryzh-search .bdc-search-click{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 15px 15px;
}

