.common-div{
	width: 100%;
	height: 100%;
	background-color: #fff;
	margin-bottom: 20px;
}
.common-center{
	margin: 0 20px;
	min-width: 1100px;
}

.page-operate-parent{
	width: 100%;
	background-color: #fff;
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	height: 40px;
}
.page-operate {
	margin: 0 20px;
    padding: 10px 0 !important;
    border-bottom: 1px solid #eaedf1;
    height: 40px;
    background-color: #fff;
}
.page-operate p {
    font-size: 20px;
    color: #333;
    float: left;
    line-height: 38px;
}
.page-operate .title-btn-area {
    float: right;
}
.form-module{
	margin-top: 80px;
	padding-bottom:5px;
	margin-bottom: 15px;
    border-bottom: 1px dotted #eaedf1;
    
}
.info-details{
	border: 1px solid #d0d5da;
}
.info-head{
	padding: 10px 0;
	padding-left: 20px;
	background-color: #f3f4f6;
	border-bottom: 1px solid #d0d5da;
}
.info-content-details{
	padding: 20px 0 0 20px;
	border-bottom:1px solid #d0d5da;
}

.info-content-left{
	float:left;
}
.info-content-left span{
	color: #333;
	font-size: 14px;	
}

.info-content-center{
	float: left;
	width: 90%;
	margin-left: 2%;
}

/*.info-content-center .info-name{*/
	/*width: 100%;*/
/*}*/
.info-content-center .info-name p{
	float: left;
  	padding-right: 5%;
    font-size: 14px;
}
.info-content-center .info-name p label{
	font-weight: bold;
}


.info-content-center .actionItems{
	width: 100%;
	height: 24px;
	line-height: 24px;
	margin: 15px 0;
	overflow: hidden;
}
.actionItems p{
	float: left;
  	padding-right: 6%;
    font-size: 14px;
    color: #999;
}
.actionItems p.clickP{
	  color: #1d87d1;
}
.info-content-center p.lastP{
	padding-right: 0;
}


.info-content-details p i{
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin: 3px 4px 0 0;
}

.actionItems p .power-person{
	background: url(../image/powerPersonD.png) no-repeat center;
	background-size: cover;
}
.actionItems p .duty-person{
	background: url(../image/dutyPersonD.png) no-repeat center;
	background-size: cover;
}
.actionItems p .credential-number{
	background: url(../image/credentialNumberD.png) no-repeat center;
	background-size: cover;
}
.actionItems p .power-come{
	background: url(../image/powerComeD.png) no-repeat center;
	background-size: cover;
}
.actionItems p .whether-power{
	background: url(../image/whetherPowerD.png) no-repeat center;
	background-size: cover;
}

.actionItems p .add-init-business{
	background: url(../image/addInitBusinessD.png) no-repeat center;
	background-size: cover;
}

.actionItems p .whether-house-owner{
	background: url(../image/whetherHouseOwnerD.png) no-repeat center;
	background-size: cover;
}

.actionItems p .credential-kind{
	background: url(../image/credentialKindD.png) no-repeat center;
	background-size: cover;
}



.actionItems p.clickP .power-person{
	background: url(../image/powerPerson.png) no-repeat center;
	background-size: cover;
}
.actionItems p.clickP .duty-person{
	background: url(../image/dutyPerson.png) no-repeat center;
	background-size: cover;
}
.actionItems p.clickP .credential-number{
	background: url(../image/credentialNumber.png) no-repeat center;
	background-size: cover;
}
.actionItems p.clickP .power-come{
	background: url(../image/powerCome.png) no-repeat center;
	background-size: cover;
}
.actionItems p.clickP .whether-power{
	background: url(../image/whetherPower.png) no-repeat center;
	background-size: cover;
}

.actionItems p.clickP .add-init-business{
	background: url(../image/addInitBusiness.png) no-repeat center;
	background-size: cover;
}

.actionItems p.clickP .whether-house-owner{
	background: url(../image/whetherHouseOwner.png) no-repeat center;
	background-size: cover;
}

.actionItems p.clickP .credential-kind{
	background: url(../image/credentialKind.png) no-repeat center;
	background-size: cover;
}



.info-details-hide{
	display: none;
	font-size: 12px;
	width: 100%;
	background-color: #f3f4f6;
	overflow: hidden;
	margin-bottom: 20px;
}
.info-details-show{
	display: block;
}


.info-details-show .info-show-child{
	margin: 0 20px;
	height: 48px;
	padding: 12px 0;
	border-bottom: 1px solid #d0d5da;
}

.info-details-show .info-show-child:last-child{
	border-bottom: none;
}

.info-show-child ul li{
	float: left;
	padding-right: 10%;
	height: 24px;
	line-height: 24px;
}
.info-show-child ul li.btn-li{
	padding-right:0;
}

.info-show-child .li-dom{
	width: 100%;
	margin-top: 6px;
}
.info-show-child .li-dom p{
	height: 24px;
	line-height: 24px;
	float: left;
	margin-right: 12%;
	color: #999;
}
.info-show-child .li-dom p.clickP{
	color: #1d87d1;

}

.li-dom p .icon-sfzxyql{
	background: url(../image/sfzxyqlD.png) no-repeat center;
	background-size: cover;
}
.li-dom p .icon-sfwlzs{
	background: url(../image/sfwlzsD.png) no-repeat center;
	background-size: cover;
}

.li-dom p.clickP .icon-sfzxyql{
	background: url(../image/sfzxyql.png) no-repeat center;
	background-size: cover;
}
.li-dom p.clickP .icon-sfwlzs{
	background: url(../image/sfwlzs.png) no-repeat center;
	background-size: cover;
}




.info-content-right{
	float: right;
	margin-right: 20px;
}
.info-content-right i{
	color: #1d87d1;
	display: block;
	width: 40px;
	height: 40px;
}

/*分页*/
#paging{
	margin-left: 20px;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
	background-color: #1d87d1;
}

/*弹窗*/
.alertFather{
	position: absolute;
	z-index: 10000;
	display: none;
}

.click-show-select{
	width: 300px;
	height: 140px;
	border: 1px solid #d0d5da;
	background-color: #fff;
}
.show-select-title{
	color: #333;
	font-size: 14px;	
	padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
  
}
.show-select-content{
	padding: 0 20px;
}
.show-select-btn{
	text-align: center;
	margin-top: 15px;
}

.no-info{
	display: none;
	line-height: 26px;
    padding: 15px;
    text-align: center;
    color: #999;
}
@media screen and (max-width: 1700px){
	.actionItems p,
	.info-content-center .info-name p{
		padding-right: 4%;
	}
	.info-show-child ul li{
		padding-right: 6%;
	}
}
@media screen and (max-width: 1370px){

	.info-content-center .info-name p {
		padding-right: 3%;
	}

	.actionItems p{
		padding-right: 3%;
	}
	
	.info-show-child ul li{
		padding-right: 5%;
	}

}
@media screen and (max-width: 1350px){
	
	.info-content-center .info-name p { 
	    padding-right: 2%;
	}
	
	.actionItems p{
	    padding-right: 2%;
	}
	.info-show-child ul li{
		padding-right: 4%;
	}
}

@media screen and (max-width: 1250px){
	
	.info-content-center .info-name p {
	    padding-right: 0;   
	}
	.actionItems p{
	    padding-right: 1%;
	}
	
	.info-show-child ul li{
		padding-right: 2%;
	}
}