body{
    background-color: #fff;
}

.bdc-frame-button-box{
    width: 100%;
    padding-top: 10px;
}

#popupTwoRows .layui-form-item .change-line{
    position: relative;
}

#popupTwoRows .layui-form-item .change-line .layui-input-inline{
    width: 65%;
}

.change-line>.bdc-delete>img {
    position: absolute;
    top: 9px;
    padding-left: 5px;
}

.change-line> .split-img {
    position: absolute;
    top: 9px;
    padding-left: 2px;
}

.layui-form-item .split a{
    color: #1d87d1;

}