.bdc-title-sign-btn .bdc-title-sign-btn-box {
    position: absolute;
    top: 0;
    right: 10px;
}

.title-sign>.bdc-tab-a {
    position: absolute;
    top: 0;
    right: 0;
}

.bdc-form-add {
    border: 1px solid #d0d5da;
    margin-top: 10px;
    padding-bottom: 10px;
}

.bdc-form-btn {
    height: 41px;
    padding: 5px 15px;
    border-bottom: 1px solid #d0d5da;
    background-color: #f3f4f6;
    box-sizing: border-box;
}

.layui-table, .layui-table-view {
    margin: 10px 0 0 0;
}


.bdc-jtcy-btn {
    font-size: 20px;
    line-height: 18px;
    width: 26px;
    z-index: 9;
}

.bdc-form-btn {
    position: relative;
    padding-top: 10px;
    margin-bottom: 10px;
}

.bdc-form-btn .bdc-form-btn-box {
    position: absolute;
    top: 5px;
    right: 10px;
}

#fbfcbfxx .basic-info {
    border-bottom: 1px dotted #eaedf1;
}

/*地块信息列表样式调整开始*/
.dkxx-table-item{
    overflow-x: auto;
}
textarea[name="zdsz"]{
    min-height: 94px;
    text-align: center;
    border: 0;
}

.sl-from #dkxxTable td input{
    height: 94px;
}

table#dkxxTable{
    border: 0;
}

table#dkxxTable tr th:nth-last-child(2),
table#dkxxTable tr td:nth-last-child(2){
    border-right: 0;
}

table#dkxxTable tr th:last-child,
table#dkxxTable tr td:last-child {
    position: absolute;
    right: 0px;
    border-width: 0.5px;
}

table#dkxxTable tr th:last-child{
    background-color: #f3f4f6;
    height: 41px;
    line-height: 41px;
    border-bottom: 0;
}

table#dkxxTable tr td:last-child {
    width: 80px;
    height: 94px;
    line-height: 94px;
    background-color: #fff;
    z-index:990;
}

table#dkxxTable dl.layui-anim {
    position : fixed;
    max-height: 210px;
    z-index: 999;
}
/*地块信息列表样式调整结束*/