.layui-form-item .bdc-three-combine .bdc-xxdz{
    width: 87%;
}
@media screen and (max-width: 1660px) {
    .layui-form-item .bdc-three-combine .bdc-xxdz{
        width: 87.4%;
    }
}
.bdc-ts-info .layui-form-item .layui-input-inline .none-border{
    border: none;
}
.bdc-ts-info .bdc-tszt{
    color: #1d87d1;
}
.bdc-ts-info .layui-form-item .layui-form-label>img{
    margin-right: 7px;
}
.bdc-jjr-info{
    border-bottom: none;
}
.bdc-ts-info{
    border-top: 1px dotted #d0d5da;
}
.bdc-ts-info .layui-form-item .layui-input-inline .layui-input,
.bdc-ts-info .layui-form-label{
    font-weight: 700;
}
.bdc-ts-info .layui-form-item{
    border-bottom: 1px solid #d0d5da;
    padding-bottom: 10px;
}
/*物流消息*/
.layui-timeline{
    padding-left: 60px;
    margin-top: 15px;
}
.layui-timeline-item{
    padding-bottom: 30px;
}
.layui-timeline-item:before{
    left: -20px;
}
.layui-timeline-axis{
    color: #1d87d1;
    left: -30px;
}
.bdc-new-msg{
    font-style: normal;
    width: 40px;
    background-color: #f24b43;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    left: -40px;
}
.layui-timeline-title{
    margin-bottom: 0;
}
.layui-timeline-title>span{
    color: #1d87d1;
}
.bdc-timeline-time{
    font-size: 12px;
    padding-left: 7px;
    color: #999;
}