.pannel-container .layui-form-item .layui-input-inline {
    float: left;
    width: 150px;
    margin-right: 10px;
}

.layui-form-selected dl {
    display: block;
}

.layui-form-select dl {
    position: absolute;
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 899;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 250px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    box-sizing: border-box;
}