.building-outer-container{
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.building-padding-zero .layui-table tbody td{
    padding: 0px 0;
}

.building-padding-zero .layui-input,
.building-padding-zero .layui-select,
.building-padding-zero .layui-textarea{
    border-width: 0px;
}

.building-background-write{
    background: #FFFFFF;
}
.building-background-regrey{
    background-color: #eaedf1;
}
.building-margin_zero{
    margin: 0px;
}
.building-align-center{
    text-align: center;
}
.building-align-left{
    text-align: left;
}
.building-fwhscf{
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px
}
.building-padding-zero{
     padding: 0px 0;
 }
.building-padding-ifteen{
    padding: 15px 15px;
}

.building-cf-padding{
    padding: 0px 10px 10px 10px;
}
.building-margin-ifteen{
     margin: 15px;
}
.building-fttdmj-table{
    font-size: 15px;
    height: 70px;
}
.building-table-area{
    min-height: 500px;
}
.building-lpb-fttdmj{
    min-height: 300px;
}
.building-fttdmj-td{
    border-top: 1px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-bottom: 0px solid black;
}
.building-text-black{
    color: #000000;
}
.layui-inline .layui-form-label.building-lable-width80{
    width: 80px;
}
.building-search-box{
    border-bottom: 1px dashed #d0d5da; margin: 15px;
}
.building-margin-12{
    margin-bottom: 12px
}
.building-change-input40{
    width: 40%;
}
.building-tb-lable{
    text-align: right;color:#000000;
}
.building-margin-top{
    margin-top: 80px;
}
.building-hst-background{
    padding: 20px;
    background-color: #F2F2F2;
}
.building-width-180{
    width: 180px;
}
.button-width-115{
    width: 115px;
}
.building-col-44{
    width: 44%;
}
.building-col-12{
    width: 12%;
}
.building-width-85{
    width: 80%;
}
.building-form-item{
    margin-left: 10px;margin-top: 8px;margin-bottom: 8px
}
.building-history-width{
    width:280px; left:0px;
}
.layui-table td.td-text-right{
    text-align: right;
}
.layui-table td.td-text-left{
    text-align: left;
}
/**
单选框 选中 颜色
 */
.layui-form-radio>i:hover, .layui-form-radioed>i {
    color: #1d87d1;
}
/**
权利人TAB
 */
.layui-colla-icon {
    position: absolute;
    left: unset;
    right: 15px;
    top: 0;
    font-size: 20px;
    color: #1d87d1;
}

.layui-colla-title{
    padding: 0 15px 0 10px;
}

/*.change-label-width{*/
    /*padding: 0 15px;*/
/*}*/
@media screen and (max-width: 1360px) {
    .double-side .layui-form-item .layui-inline {
        width: 49%;
    }
    .double-side .layui-form-item .layui-inline.bdc-two-column {
        width: 98%;
    }
    .double-side .change-textarea-margin .layui-input-inline {
        width: 75.5%;
    }
}
.bdc-form-div.building-notitle {
    padding: 10px 10px 10px 10px;
}
/*导入楼盘表按钮固定*/
.building-importlpb-button{
    position: fixed;
    top: 210px;
    left: 100px;
}
/*导入实测面积按钮固定*/
.building-importscmj-button{
    position: fixed;
    top: 110px;
    left: 113px;
}
/*不动产单元房屋类型变更按钮固定*/
.building-bdcdyfwlx-button{
    position: fixed;
    top: 210px;
    left: 125px;
}


#mygraph {
    width: 960px;
    height: 400px;
    border: 0px solid lightgray;
}

.layui-input-inline.zlsxinput{
    margin-right: 10px;
    width: 200px;
}

.gray-tr td {
    text-align: center;
    background: #f3f4f6;
    padding: 0;
    /*height: 39px;*/
    position:static;
}

.layui-table, .djdcb-table-view {
    margin: 10px 0 0 0;
}

.layui-table .layui-none img {
    padding-right: 10px;
    position: relative;
    top: -2px;
}

td .layui-table-cell .bdc-table-date {
    direction: rtl;
    unicode-bidi: bidi-override;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}
/*地籍调查表 嵌套一张图页面 iframe 外层 DIV 样式*/
.djdcb-iframe-div {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
/*地籍调查表 嵌套一张图页面 iframe 样式*/
.djdcb-iframe {
    width: 100%;
    height: 100%;
    border: none;
    /*min-height: 540px;*/
}

.layui-table td{
    padding: 9px 5px;
}

/*土地承包经营权样式修改开始*/
#cbzdxxContent .basic-info:last-child {
    border-bottom: 1px dotted #eaedf1;
}

#cbzdxxContentlayui-form:last-child .basic-info {
    border-bottom: none;
}

/*土地承包经营权样式修改结束*/

.bdc-jt-table td {
    padding: 0;
    background: #fff;

}

.title-ui {
    z-index: 999;
    margin-right: 14px;
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid #d0d5da;
    top: 62px;
    right: -15px;
    display: none;
}

.title-ui li {
    padding: 0 14px 0 14px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.title-ui li:hover {
    background-color: #f3f4f6;
}

.title-btn-area .bdc-major-btn {
    margin-left: 7px;
}

.title-btn-area .layui-btn {
    margin-bottom: 10px;
}