.bdc-yg {
    color: rgb(229, 0, 127) !important;
    padding: 2px;
    /*background-color: rgb(229,0,127)!important;*/
}

.bdc-ycf {
    color: rgb(238, 132, 125) !important;
    padding: 2px;
    /*background-color: rgb(238,132,125)!important;*/
}

.bdc-cf {
    color: rgb(245, 71, 67) !important;
    padding: 2px;
    /*background-color: rgb(245, 71, 67)!important;*/
}

.bdc-zjgcdy {
    color: rgb(153, 165, 124) !important;
    padding: 2px;
    /*background-color: rgb(153,165,124)!important;*/
}

.bdc-ydy {
    color: rgb(150, 54, 205) !important;
    padding: 2px;
    /*background-color: rgb(170,205,6)!important;*/
}

.bdc-dya {
    color: rgb(58, 93, 153) !important;
    padding: 2px;
    /*background-color: rgb(0,153,68)!important;*/
}

.bdc-dy {
    color: rgb(133, 94, 110) !important;
    padding: 2px;
    /*background-color: rgb(133,94,110)!important;*/
}

.bdc-yy {
    color: rgb(239, 130, 0) !important;
    padding: 2px;
    /*background-color: rgb(239,130,0)!important;*/
}

.bdc-sd {
    color: rgb(229, 55, 158) !important;
    padding: 2px;
    /*background-color: rgb(229, 55, 158) !important;*/
}

.bdc-ks {
    color: #1E9FFF !important;
    padding: 2px;
    /*background-color: #1E9FFF!important;*/
}

.bdc-ys {
    color: #FFB800 !important;
    padding: 2px;
    /*background-color: #FFB800!important;*/
}

.bdc-xjspfks {
    color: #1E9FFF !important;
    padding: 2px;
    /*background-color: #1E9FFF!important;*/
}

.bdc-xjspfys {
    color: #FFB800 !important;
    padding: 2px;
    /*background-color: #FFB800!important;*/
}

.bdc-clfks {
    color: #1E9FFF !important;
    padding: 2px;
    /*background-color: #1E9FFF!important;*/
}

.bdc-clfys {
    color: #FFB800 !important;
    padding: 2px;
    /*background-color: #FFB800!important;*/
}

.bdc-normal {
    color: #10a54a !important;
    padding: 2px;
    /*background-color: #1d87d1 !important;*/
}