body,
html {
    height: 100%;
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
}

body {
    background-color: #eaedf1;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.bdc-major-btn {
    background-color: #1d87d1;
}

.bdc-major-btn:hover {
    background-color: #1675b8;
}

.bdc-secondary-btn {
    background-color: #f3f4f6;
    color: #666;
    border: 1px solid #d0d5da;
}

.bdc-secondary-btn:hover {
    color: #666;
}

.content-div {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 69px 10px 10px;
    box-sizing: border-box;
}

.content-div .layui-form {
    width: 100%;
    height: 100%;
}

.layui-table, .layui-table-view {
    margin: 0;
}

/*工具栏*/
.content-title-box {
    width: 100%;
    height: 58px;
    line-height: 58px;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    clear: both;
    top: 10px;
    left: 10px;
    z-index: 9;
    position: fixed;
}

.content-title {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d0d5da;
}

.content-title p {
    font-size: 16px;
    color: #333;
    float: left;
    margin-left: 10px;
    line-height: 58px;
}

.content-title .title-btn-area {
    float: right;
    margin-right: 20px;
}

.bdc-content-fix {
    width: 100%;
    height: 58px;
    background-color: #eaedf1;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
}

/*证书详情*/
#details {
    width: 100%;
    min-height: 100%;
    /*height: 100%;*/
    z-index: 999;
    background-color: #fff;
}

/*左侧*/
.bdc-details-left, .bdc-details-right {
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.bdc-details-right {
    padding-top: 15px;
}

.bdc-details-left {
    padding-top: 105px;
}

.bdc-zs-title {
    font-size: 28px;
    text-align: center;
    line-height: 56px;
    color: #666;
}

.bdc-bold {
    color: #000;
}

.bdc-table-tips {
    font-size: 16px;
    font-weight: 700;
    height: 36px;
}

.bdc-zs-details-table.layui-table .bdc-title-td {
    background-color: #f3f4f6;
    text-align: right;
    padding-right: 15px;
    color: #333;
    position: static;
    font-weight: 700;
}

/*右侧*/
.bdc-table-date {
    font-size: 16px;
    text-align: right;
}

.bdc-table-com {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
}

.bdc-table-num {
    font-size: 14px;
    text-align: center;
    line-height: 32px;
}

.bdc-notes-title {
    /*margin-top: 20px;*/
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    font-weight: 700;
}

.bdc-notes {
    font-size: 16px;
    width: 100%;
    height: 448px;
    border: 1px solid #d0d5da;
}

.bdc-notes textarea {
    width: 100%;
    height: 100%;
    border: none;
    color: #333;
    padding: 6px 15px;
}

.bdc-notes-top {
    text-align: right;
    position: relative;
    height: 88px;
    padding-top: 10px;
    padding-right: 110px;
    box-sizing: border-box;
}

.bdc-notes-top-tips {
    /*float: left;*/
    line-height: 32px;
    position: relative;
    top: -40px;
    font-weight: 700;
    font-size: 16px;
}

.bdc-notes-top-content {
    /*float: left;*/
    display: inline-block;
    width: 168px;
    height: 64px;
    border: 1px solid #BBC7C7;
    text-align: center;
    margin-left: 12px;
}

.bdc-notes-top-content span {
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 32px;
}

.bdc-notes-top-content span:first-child {
    border-bottom: 1px solid #BBC7C7;
    box-sizing: border-box;
}

.bdc-notes-top img {
    position: absolute;
    top: 0;
    right: 0;
    width: 88px;
    height: 88px;
}

.bdc-zs-details-table.layui-table .bdc-title-nr {
    padding: 0;
}

.bdc-zs-details-table.layui-table td textarea {
    border: none;
    /*text-indent: 1em;*/
    color: #333;
}

.bdc-zs-details-table.layui-table .bdc-title-td-qt {
    height: 80px;
}

.bdc-zs-details-table.layui-table tr:hover, .bdc-zs-details-table.layui-table tr.hilite {
    background-color: #fff;
}

/**zs-css**/
.bdc-details-left table input[type='text'] {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    /*margin-left: -10px;*/
    padding: 0 5px;
    color: #333;
}

.bdc-details-right span input[type='text'] {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-weight: 700;
}

.bdc-details-left p input[type='text'] {
    display: block;
    /*border: none;*/
    outline: none;
    width: 100%;
    height: 100%;
    /*margin-left: -10px;*/
    line-height: 20px;
}

.qrcodeDiv {
    position: absolute;
    top: 0;
    right: 10px;
    width: 88px;
    height: 88px;
}

.layui-table td {
    border-color: #d0d5da;
}

#zl {
    color: #333;
    padding: 9px 10px;
}

/**
按钮禁用样式
 */
.bdc-prohibit-btn {
    background-color: #fff;
    color: #999;
    border: 1px solid #d0d5da;
}

.bdc-prohibit-btn:hover {
    cursor: not-allowed;
    opacity: 1;
    color: #999;
}

/**
输入框禁止修改样式
 */
.bdc-prohibit-text {
    background-color: #fff;
    color: #999;
}

.bdc-prohibit-text:hover {
    cursor: not-allowed;
    opacity: 1;
    color: #999;
}

.bdc-zs-details-table .layui-input,
.bdc-zs-details-table .layui-select,
.bdc-zs-details-table .layui-textarea {
    line-height: 20px;
}