<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.natural.core.mapper.ZrzyXmMapper">
    <resultMap id="BaseResultMap" type="cn.gtmap.realestate.common.core.dto.natural.ZrzyXmDTO">
        <id column="XMID" jdbcType="VARCHAR" property="xmid"/>
        <result column="SLBH" jdbcType="VARCHAR" property="slbh"/>
        <result column="GZLSLID" jdbcType="VARCHAR" property="gzlslid"/>
        <result column="ZRZYDJDYH" jdbcType="VARCHAR" property="zrzydjdyh"/>
        <result column="ZL" jdbcType="VARCHAR" property="zl"/>
        <result column="DJLX" jdbcType="DECIMAL" property="djlx"/>
        <result column="DJYY" jdbcType="VARCHAR" property="djyy"/>
        <result column="AJZT" jdbcType="DECIMAL" property="ajzt"/>
        <result column="QSZT" jdbcType="DECIMAL" property="qszt"/>
        <result column="QXDM" jdbcType="VARCHAR" property="qxdm"/>
        <result column="SLSJ" jdbcType="TIMESTAMP" property="slsj"/>
        <result column="SLRID" jdbcType="VARCHAR" property="slrid"/>
        <result column="JSSJ" jdbcType="TIMESTAMP" property="jssj"/>
        <result column="DJJG" jdbcType="VARCHAR" property="djjg"/>
        <result column="DJSJ" jdbcType="TIMESTAMP" property="djsj"/>
        <result column="DBR" jdbcType="VARCHAR" property="dbr"/>
        <result column="ZRZYCQZH" jdbcType="VARCHAR" property="zrzycqzh"/>
        <result column="YCQZH" jdbcType="VARCHAR" property="ycqzh"/>
        <result column="GZLDYID" jdbcType="VARCHAR" property="gzldyid"/>
        <result column="GZLDYMC" jdbcType="VARCHAR" property="gzldymc"/>
        <result column="BZ" jdbcType="VARCHAR" property="bz"/>
        <result column="DJDYMC" jdbcType="VARCHAR" property="djdymc"/>
        <result column="DJDYLX" jdbcType="VARCHAR" property="djdylx"/>
        <result column="DJDYZMJ" jdbcType="DECIMAL" property="djdyzmj"/>
        <result column="GYMJ" jdbcType="DECIMAL" property="gymj"/>
        <result column="JTMJ" jdbcType="DECIMAL" property="jtmj"/>
        <result column="ZYQMJ" jdbcType="DECIMAL" property="zyqmj"/>
        <result column="DYSZD" jdbcType="VARCHAR" property="dyszd"/>
        <result column="DYSZN" jdbcType="VARCHAR" property="dyszn"/>
        <result column="DYSZX" jdbcType="VARCHAR" property="dyszx"/>
        <result column="DYSZB" jdbcType="VARCHAR" property="dyszb"/>
        <result column="SYQZT" jdbcType="VARCHAR" property="syqzt"/>
        <result column="DBXSZT" jdbcType="VARCHAR" property="dbxszt"/>
        <result column="QLXSFS" jdbcType="VARCHAR" property="qlxsfs"/>
        <result column="DLXSZT" jdbcType="VARCHAR" property="dlxszt"/>
        <result column="XSNR" jdbcType="VARCHAR" property="xsnr"/>
        <result column="DYNZRZYZMJ" jdbcType="DECIMAL" property="dynzrzyzmj"/>
        <result column="SZYMJ" jdbcType="DECIMAL" property="szymj"/>
        <result column="SDMJ" jdbcType="DECIMAL" property="sdmj"/>
        <result column="CYMJ" jdbcType="DECIMAL" property="cymj"/>
        <result column="SLMJ" jdbcType="DECIMAL" property="slmj"/>
        <result column="HDMJ" jdbcType="DECIMAL" property="hdmj"/>
        <result column="QTMJ" jdbcType="DECIMAL" property="qtmj"/>
        <result column="FZRZYZMJ" jdbcType="DECIMAL" property="fzrzyzmj"/>
        <result column="FJ" jdbcType="VARCHAR" property="fj"/>
    </resultMap>

    <select id="listXmDtoByPage" parameterType="cn.gtmap.realestate.common.core.qo.natural.ZrzyXmListQO"
            resultMap="BaseResultMap">
        SELECT
        ZRZY_XM.XMID,
        ZRZY_XM.SLBH,
        ZRZY_XM.GZLSLID,
        ZRZY_XM.ZRZYDJDYH,
        ZRZY_XM.ZL,
        ZRZY_XM.DJLX,
        ZRZY_XM.DJYY,
        ZRZY_XM.AJZT,
        ZRZY_XM.QSZT,
        ZRZY_XM.QXDM,
        ZRZY_XM.SLSJ,
        ZRZY_XM.SLRID,
        ZRZY_XM.JSSJ,
        ZRZY_XM.DJJG,
        ZRZY_XM.DJSJ,
        ZRZY_XM.DBR,
        ZRZY_XM.ZRZYCQZH,
        ZRZY_XM.YCQZH,
        ZRZY_XM.GZLDYID,
        ZRZY_XM.GZLDYMC,
        ZRZY_XM.BZ,
        ZRZY_DJDY.DJDYMC,
        ZRZY_DJDY.DJDYLX,
        ZRZY_DJDY.DJDYZMJ,
        ZRZY_DJDY.GYMJ,
        ZRZY_DJDY.JTMJ,
        ZRZY_DJDY.ZYQMJ,
        ZRZY_DJDY.DYSZD,
        ZRZY_DJDY.DYSZN,
        ZRZY_DJDY.DYSZX,
        ZRZY_DJDY.DYSZB,
        ZRZY_DJDY.SYQZT,
        ZRZY_DJDY.DBXSZT,
        ZRZY_DJDY.QLXSFS,
        ZRZY_DJDY.DLXSZT,
        ZRZY_DJDY.XSNR,
        ZRZY_DJDY.DYNZRZYZMJ,
        ZRZY_DJDY.SZYMJ,
        ZRZY_DJDY.SDMJ,
        ZRZY_DJDY.CYMJ,
        ZRZY_DJDY.SLMJ,
        ZRZY_DJDY.HDMJ,
        ZRZY_DJDY.QTMJ,
        ZRZY_DJDY.FZRZYZMJ,
        ZRZY_DJDY.FJ
        from ZRZY_XM
        INNER JOIN ZRZY_DJDY on ZRZY_XM.XMID = ZRZY_DJDY.XMID
        <where>
            <if test="zrzydjdyh != null and zrzydjdyh != ''">
                AND ZRZY_XM.ZRZYCQZH = #{zrzydjdyh}
            </if>
            <if test="zl != null and zl != ''">
                AND ZRZY_XM.ZL = #{zl}
            </if>
            <if test="djyy != null and djyy != ''">
                AND ZRZY_XM.DJYY = #{djyy}
            </if>
        </where>

    </select>

    <select id="listZrzlcshPz" resultType="cn.gtmap.realestate.common.core.domain.natural.ZrzyXtLcpzDO">
        SELECT a.*
        FROM ZRZY_XT_LCPZ a
                 left join ZRZY_XM b on b.GZLDYID = a.GZLDYID
        WHERE b.gzlslid = #{gzlslid}
    </select>

    <update id="updateZrzyXmDbxxAndQsztByGzlslid" parameterType="cn.gtmap.realestate.common.core.qo.natural.ZrzyDbxxQO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE ZRZY_XM t
            <set>
                t.dbr = #{dbr,jdbcType=VARCHAR},
                t.djsj = #{djsj,jdbcType=TIMESTAMP},
                t.djjg = #{djjg,jdbcType=VARCHAR},
                t.qszt=#{qszt,jdbcType=INTEGER}
            </set>
            <!--            <choose>-->
            <!--                <when test="sfscql !=null ">-->
            <!--                    WHERE EXISTS (-->
            <!--                    SELECT x.id-->
            <!--                    FROM bdc_csh_fwkg_sl x-->
            <!--                    WHERE t.xmid = x.id-->
            <!--                    AND nvl(x.sfscql,0) = #{sfscql}-->
            <!--                    )-->
            <!--                    AND t.gzlslid=#{gzlslid}-->
            <!--                </when>-->
            <!--                <otherwise>-->
            <!--                    WHERE t.gzlslid=#{gzlslid}-->
            <!--                </otherwise>-->
            <!--            </choose>-->
            WHERE t.gzlslid=#{gzlslid}
        </if>
    </update>


    <update id="updateYxmQsztByGzlslid" parameterType="cn.gtmap.realestate.common.core.qo.natural.ZrzyDbxxQO">
        <if test="gzlslid != null and gzlslid != ''">
            UPDATE ZRZY_XM t
            <set>
                t.qszt=#{zxQszt,jdbcType=INTEGER}
            </set>
            WHERE EXISTS (
            SELECT r.yxmid
            FROM ZRZY_XM x
            INNER JOIN ZRZY_XM_LSGX r ON x.xmid = r.xmid
            WHERE t.xmid = r.yxmid
            AND x.gzlslid = #{gzlslid}
            )

        </if>
    </update>


    <select id="listGgmbByXmid" resultType="cn.gtmap.realestate.common.core.domain.natural.ZrzyGgmbDo">
        SELECT *
        FROM ZRZY_GGMB
        WHERE xmid = #{xmid}
    </select>

    <insert id="insertGgmb" parameterType="java.util.HashMap">
        INSERT into ZRZY_GGMB(mbxxid, xmid, mbnr)
        VALUES (#{mbxxid}, #{xmid}, #{mbnr})
    </insert>

    <update id="updateGgmbByXmid">
        <if test="xmid != null and xmid != ''">
            UPDATE ZRZY_GGMB
            <set>
                mbnr=#{mbnr}
            </set>
            WHERE
            xmid = #{xmid}
        </if>
    </update>
</mapper>