
<!--
    4 职责权能监管-授权信息管理台账-授权信息
-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>授权信息录入</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/form-select/formSelects-v4.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/popup.css" />
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css" />
    <link rel="stylesheet" href="../../static/css/common.css"/>
    <style type="text/css">
        #popupTwoRows .bdc-filter .layui-form-select {
            position: absolute;
            top: 0;
            left: 0;
            width: 326px;
        }

        #popupTwoRows .bdc-filter .xm-select {
            position: absolute;
            top: 0;
            left: 0;
            width: 326px;
        }


        #popupTwoRows .bdc-filter .layui-input-inline > .layui-input {
            padding-left: 10px;
        }
    </style>
</head>
<body>
<div id="popupTwoRows">
    <form class="layui-form" action="" lay-filter="form">
        <input type="text" id="id" name="id" style="display: none">

        <div class="layui-form-item pf-form-item">
            <div class="layui-inline bdc-filter">
                <label class="layui-form-label">授权人员</label>
                <div class="layui-input-inline">
                    <select id="sqryxx" name="sqryxx" xm-select="sqryxx" xm-select-skin="default" xm-select-show-count="3" xm-select-search="" xm-select-height="34px" xm-select-search-type="dl">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">所属单位</label>
                <div class="layui-input-inline">
                    <select id="bmmc" name="bmmc" xm-select="bmmc" xm-select-skin="default" xm-select-show-count="3" xm-select-search="" xm-select-height="34px" xm-select-search-type="dl" disabled="disabled">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">所属科室</label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline">
                        <input type="text" id="ks" name="ks" autocomplete="off" placeholder="请输入" class="layui-input" style="width: 326px">
                    </div>
                </div>
            </div>
            <div class="layui-inline bdc-filter">
                <label class="layui-form-label">授权时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="sqsj" name="sqsj" autocomplete="off" placeholder="请输入" class="layui-input search">
                </div>
            </div>

            <div class="layui-inline bdc-filter">
                <label class="layui-form-label">授权类型</label>
                <div class="layui-input-inline">
                    <select lay-filter="sqlx" id="sqlx" name="sqlx" lay-search="" class="search">
                        <option value="">请选择</option>
                        <option value="1">新增</option>
                        <option value="2">调岗</option>
                        <option value="3">离职</option>
                        <option value="4">临时授权</option>
                    </select>
                    <i class="layui-icon layui-icon-close bdc-hide"></i>
                </div>
            </div>

            <div class="layui-inline bdc-complete-line">
                <label class="layui-form-label">授权说明</label>
                <div class="layui-input-inline">
                    <textarea id="sqsm" name="sqsm" placeholder="请先录入授权相关信息，保存后再上传附件" class="layui-textarea change-textarea-width" style="height: 220px"></textarea>
                </div>
            </div>

            <div class="layui-inline bdc-frame-button-box" id="btn">
                <a href="javascript:;" class="layui-btn layui-btn-normal bdc-major-btn" lay-submit="" lay-filter="submitBtn" id="submitBtn">保存</a>
                <a href="javascript:;" class="layui-btn layui-btn-normal bdc-secondary-btn fjcl" id="fjcl">附件上传</a>
                <a href="javascript:;" class="layui-btn layui-btn-normal bdc-secondary-btn fjtz" id="fjtz">附件台账</a>
                <button class="layui-btn layui-btn-normal bdc-secondary-btn bdc-frame-close" lay-filter="closeBtn" onclick="closeWin();">关闭</button>
            </div>
        </div>
    </form>
</div>
<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/layui/layui.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/zzqnjg/sqxx.js"></script>
</body>
</html>