<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.engine.core.mapper.BdcGzlwMapper">
    <update id="updateBdcGzlwShzt" parameterType="cn.gtmap.realestate.common.core.domain.accept.BdcGzlwShDO">
            UPDATE bdc_gzlw_sh t
            SET t.shzt = #{shzt},
                t.shr = #{shr,jdbcType=VARCHAR},
                t.shsj = #{shsj}
            WHERE t.gzlslid = #{gzlslid}
    </update>
</mapper>