.content-div {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
}

.table-name {
    width: 100%;
    height: 22px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    font-size: 22px;
    color: #333;
    background-color: #fff;
}

.lpxx {
    text-align: center;
}