/**
* author: <a href="mailto:zhuyong@gtmap.cn>zhuyong</a>
* date: 2018-12-19
* version 1.0.0
* describe: 权利信息相关表单通用CSS
*/

.fdcqxm{
    text-align: center;
}

.gyxx{
    text-align: center;
}

.date{
    /*主要用于日期标识使用*/
}

.fwjg{
    /*主要用于房屋结构标识使用*/
}

.ghyt{
    /*主要用于规划用途标识使用*/
}

.ready_only{
    background-color: #fafbfb;
}

.layui-input-inline > img, .layui-select-disabled img, .bdc-date-disabled img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.required-span {
    color: #f54743;
    margin-right: 6px;
}
td .bdc-fj-reset {
    width: 100%;
    height: 100%;
    position: relative;
    padding-right: 28px;
    box-sizing: border-box;
}
.bdc-fj-reset .bdc-pj-popup {
    width: 28px;
    height: 100%;
    line-height: 17px;
    padding-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #d0d5da;
    background-color: #f3f4f6;
    box-sizing: border-box;
    text-align: center;
    color: #1d87d1;
    cursor: pointer;
}

td .bdc-td-box > img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #f54743;
    font-size: 18px;
}

/*海籍调查表样式修改*/
.new-table .set-tr-height78 {
    height: 78px;
}

.change-hjb-padding {
    padding-top: 10px;
}

/*下拉框内容修改后样式*/
.layui-form .xzq-sele .bdc-change-input input {
    background-color: #eaf4fe;
}

/*下拉框内容修改后样式*/
.layui-form .bdc-change-input input {
    background-color: #eaf4fe;
}

/** 用于页面高亮显示修改的参数*/
.bdc-change-input {
    background-color: #eaf4fe !important;
}

.bdc-change-input input,
.bdc-change-input select,
.bdc-change-input textarea {
    background-color: #eaf4fe !important;
}

/*下拉框内容修改后样式*/
.bdc-form-div .layui-form .xzq-sele .bdc-change-input input {
    background-color: #eaf4fe;
}

.bdc-form-div .layui-form .layui-input-inline .bdc-change-input {
    background-color: #eaf4fe;
}

.bdc-form-div .layui-form .bdc-change-input .xm-select {
    background-color: #eaf4fe;
}

.bdc-radio .xm-select-parent.bdc-change-input .xm-select-title div.xm-select-label > span {
    background-color: #eaf4fe;
}