body,
html {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    width: 100%;
    /*min-height: 100%;*/
    /*height: auto;*/
    margin: 0;
    padding: 0;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.bdc-hide {
    display: none;
}

.bdc-major-btn {
    background-color: #1d87d1;
}

.bdc-major-btn:hover {
    background-color: #1675b8;
}

.bdc-secondary-btn {
    background-color: #f3f4f6;
    color: #666;
    border: 1px solid #d0d5da;
    /*line-height: 20px;*/
}

.bdc-secondary-btn:hover {
    color: #666;
    opacity: 1;
}

.bdc-delete-btn {
    background-color: #f54743;
}

.bdc-table-second-btn {
    background-color: #fff;
    border-color: #999;
    color: #333;
}

.bdc-table-second-btn:hover {
    color: #333;
}

/*外包框*/
.bdc-container {
    width: 100%;
    height: 100%;
    padding-left: 300px;
    /*padding-left: 20px;*/
    box-sizing: border-box;
    position: relative;
}

/*左侧菜单栏*/
.bdc-menu-aside {
    width: 280px;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    /*left: -300px;*/
    left: 0;
}

#asideLine {
    width: 5px;
    height: 100%;
    /*background-color: #fff;*/
    position: absolute;
    top: 0;
    left: 275px;
    z-index: 10;
    cursor: e-resize;
}

.bdc-aside-zoom {
    width: 12px;
    height: 36px;
    border: 1px solid #d0d5da;
    position: absolute;
    top: 50%;
    /*left: -5px;*/
    left: 279px;
    transform: translateY(-50%);
    z-index: 99;
    text-align: center;
}

.bdc-aside-zoom .fa {
    font-size: 12px;
    line-height: 36px;
    color: #666;
}

.bdc-menu-aside .aside {
    height: 100%;
    position: relative;
    padding-top: 52px;
    box-sizing: border-box;
    z-index: 9;
    background-color: #fff;
}

.bdc-menu-aside h4 {
    width: 100%;
    padding-left: 12px;
    font-size: 16px;
    line-height: 52px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid #d0d5da;
    border-bottom: none;
    position: absolute;
    top: 0;
    left: 0;
}

#aside {
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #d0d5da;
    margin-bottom: 10px;
    overflow: auto;
}

.accordion {
    width: 100%;
    box-sizing: border-box;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 10px 10px 10px 38px;
    color: #333;
    font-size: 14px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    white-space: nowrap;
    overflow: hidden;
}

.accordion .area-link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 46px;
    color: #333;
    font-size: 14px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion .bdc-outer-li:last-child .link {
    border-bottom: 0;
}

.accordion .bdc-outer-li i {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
    color: #333;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion .area-link i {
    position: absolute;
    top: 16px;
    left: 28px;
    font-size: 18px;
    color: #b5b7b8;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.link .docu-icon {
    position: absolute;
    /*left: 28px;*/
    left: 15px;
    /*top: 18px;*/
    top: 12px;
}

/*.accordion .bdc-outer-li.open .link {*/
/*color: #1d87d1;*/
/*}*/
/*.accordion .bdc-outer-li.open i {*/
/*color: #1d87d1;*/
/*}*/
.accordion .bdc-outer-li.bdc-this-li .link {
    color: #1d87d1;
}

.accordion .bdc-outer-li.bdc-this-li i {
    color: #1d87d1;
}

.accordion .open > .link > i.fa-caret-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.submenu {
    width: 256px;
    display: none;
    font-size: 14px;
}

.submenu .bdc-inner-li {
    padding: 6px 12px 6px 24px;
    box-sizing: border-box;
}

.submenu .bdc-inner-li a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #333;
    height: 28px;
    line-height: 28px;
    padding-left: 40px;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    white-space: nowrap;
    overflow: visible;
}

.submenu .bdc-inner-li .link {
    height: 28px;
    line-height: 28px;
    padding: 0 15px 0 42px;
}

.submenu .bdc-inner-li .link i {
    left: 6px;
    top: 4px;
}

.submenu a .docu-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.submenu a:hover {
    background-color: #f3f4f6;
}

.submenu a.active {
    background-color: #f3f4f6;
}

/*右侧主内容区*/
.bdc-right-content {
    width: 100%;
    height: 100%;
    /*padding-top: 50px;*/
    box-sizing: border-box;
    position: relative;
}

.bdc-right-content .bdc-title {
    width: 100%;
    height: 50px;
    line-height: 28px;
    padding-bottom: 22px;
    border-bottom: 1px solid #eaedf1;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}


/*内存存放区*/
.content-div {
    width: 100%;
    height: 100%;
    padding: 0;
    /*overflow-y: auto;*/
}

.content-div form {
    /*width: 914px;*/
    box-sizing: border-box;
}



/*iframe*/
iframe {
    width: 100%;
    min-height: 100%;
    border: none;
    margin: 0;
}

.bdc-form-div .bdc-sjly-form{
    min-height: 40px!important;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.bdc-sl-box{
    width: 100%;
    height: 100%;
    position: relative;
}
.bdc-sl-box #slBtn {
    position: absolute;
    top: 10px;
    right: 18px;
}

.bdc-table-btn-more {
    position: absolute;
    top: 32px;
    right: 5px;
    min-width: 87px;
    border: 1px solid #d0d5da;
    background-color: #fff;
    text-align: left;
    z-index: 9999999999999;
    display: none;
}
.bdc-table-btn-more a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    font-size: 12px;
    color: #666;
    cursor: pointer;
}
.bdc-table-btn-more a:hover {
    background-color: #eaedf1;
    color: #666;
}
.bdc-tab-btn {
    top: -36px;
    padding: 10px 0;
}
.layui-layer-page.bdc-large-textarea .layui-layer-content{
    padding: 10px;
    box-sizing: border-box;
}
.layui-layer-page.bdc-large-textarea .layui-layer-content textarea{
    height: 100%;
}
.bdc-textarea-btn{
    /*padding-top: 5px;*/
    /*text-align: right;*/
    position: absolute;
    top: 10px;
    right: 24px;
}
.bdc-pr70{
    padding-right: 70px;
}
.bdc-pr148{
    padding-right: 148px;
}



/*-------------------------*/

.layui-tab {
    height: 100%;
    min-height: 100%;
    position: relative;
    padding: 47px 0 0 0;
    box-sizing: border-box;
}

.layui-tab-title {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.layui-tab-content {
    padding: 0;
    width: 100%;
    min-height: 100%;
    height:100%;
}

.layui-tab-item {
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
}

.bdc-basic {
    padding: 0;
}

.basic-info {
    padding: 0;
}

/*结果校验*/
.bdc-jgjy .bdc-left-content {
    width: 50%;
    height: 100%;
    float: left;
    border-right: 1px solid #d0d5da;
    box-sizing: border-box;
    padding-right: 30px;
}

.bdc-jgjy .bdc-right-content {
    width: 50%;
    float: left;
    padding-left: 30px;
}
.bdc-jgjy .layui-form-item .layui-inline{
    margin-top: 15px;
}

.bdc-tsxx .basic-info {
    padding: 15px 0;
}

.bdc-jgjy .bdc-btn-more button {
    margin-bottom: 15px;
    margin-right: 5px;
}

.bdc-jgjy .bdc-btn-more .layui-btn + .layui-btn {
    margin-left: 0;
}

.bdc-jgjy .title-sign p,
.bdc-tsxx .title-sign p {
    margin-left: 0;
}

.bdc-jgjy .layui-form-item .layui-inline,
.bdc-tsxx .layui-form-item .layui-inline {
    width: 100%;
}

.bdc-zb-form .layui-form-item .layui-inline{
    width: 33.33%;
}
.bdc-zb-form .change-textarea-margin .layui-input-inline{
    width: 86.7%;
}
#contentView{
    overflow-y: auto;
}
.layui-layer-prompt .layui-layer-btn{
    text-align: center;
}
.layui-layer-prompt .layui-layer-btn .layui-layer-btn0{
    background-color: #1d87d1;
    border-color: #1d87d1;
}


/*三角形*/
/*三角形*/
.bdc-sjx {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: rotate(180deg) translateX(1px);
}

/*    上下透明，右边框为10px   */
.bdc-sjx:before {
    content: '';
    position: absolute;
    top: 15px;
    left: -15px;
    width: 0;
    height: 0;
    border-right: 15px solid #d0d5da;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

/*  上下透明，右边框为9px且在:before伪元素三角形的基础上，向右，下移动了1px  */
.bdc-sjx:after {
    content: '';
    position: absolute;
    top: 16px;
    left: -14px;
    width: 0;
    height: 0;
    border-right: 14px solid #fff;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
}

.layui-btn-sm-file {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #1d87d1;
}

/*整行显示样式调整*/
 .layui-form-item .bdc-complete-line {
    width: 100%;
}
.layui-form-item .bdc-complete-line .layui-input-inline {
    width: 819px;
}

.upload-btn{
    margin-left: 10px;
}