<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自定义统计柱状图</title>
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/common.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/form-echarts.css"/>
</head>
<body>
<div class="chart-box-item" id="sjfx-area">
    <div class="chart-item" id="chartdemo" style="width: 100%;height: 100%;"></div>
</div>
</body>
<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/layui/layui.js"></script>
<script src="../../static/js/zdytj/echarts.min.js"></script>
<script src="../../static/js/zdytj/echart-category.js"></script>
<script src="../../static/js/common.js"></script>
</html>