html,body{
    width: 100%;
    height: 100%;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
.bdc-hide{
    display: none;
}
.bdc-container{
    width: 100%;
    height: 100%;
    padding: 47px 10px 50px;
    box-sizing: border-box;
}

.bdc-xsd-container{
    width: 100%;
    height: 100%;
    padding: 47px 10px 50px;
    box-sizing: border-box;
    background-color: #fff;
}

.change-table-padding{
    padding-top: 10px;
}

/*上半部分*/
.bdc-top-content{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 999;
    background-color: #fff;
}
.bdc-title{
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}
.bdc-tips-words{
    line-height: 24px;
    padding: 10px 0 12px;
    border-bottom: 1px dashed #d0d5da;
}
.bdc-pzsm{
    border: 1px solid #cbe3f4;
    background-color: #d9ebf7;
    color: #1d87d1;
    padding: 3px;
    margin-right: 5px;
    border-radius: 2px;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 24px;
}

/*下半部分*/
.bdc-table-title{
    width: 100%;
    height: 41px;
    line-height: 38px;
    padding-left: 15px;
    background-color: #f3f4f6;
    border: 1px solid #d0d5da;
    border-bottom: none;
    box-sizing: border-box;
}
.bdc-table-box{
    /*width: 100%;*/
    height: 100%;
    padding: 10px 10px;
    overflow-y: auto;
}
.layui-table td{
    height: 38px;
    line-height: 38px;
}
.layui-table tbody tr:hover, .layui-table-body tr:hover, .layui-table-hover{
    background-color: #fff;
}

.bdc-form-table td input{
    text-align: center;
    border: 0px !important;
    width: 100%;
    height: 36px;
    color: #333;
    outline: none;
}
table .bdc-table-none td {
    padding: 5px;
    line-height: 30px;
}
.layui-table .layui-none img {
    padding-right: 10px;
    position: relative;
    top: -2px;
}
.bdc-save-btn{
    width: 100%;
    position: fixed;
    bottom: 10px;
    left: 0;
    text-align: center;
}
.layui-form-danger + .layui-form-select, .layui-form-danger.layui-input, .layui-form-danger:focus {
    border-color: rgb(245, 71, 67) !important;
}

.bdc-container .add-margin-bottom{
    padding: 10px;
    border-top: 1px dashed #d0d5da;
    margin-top: 10px;
    margin-bottom: 50px;
}

.bdc-textarea-btn {
    position: absolute;
    top: 10px;
    right: 24px;
}