<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>POS机缴费</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">

    <link rel="stylesheet" href="../../static/lib/bdcui/css/form-tab.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/application.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/popup.css"/>
    <link rel="stylesheet" href="../../static/css/posjf.css"/>

</head>
<body>
<object name='AhCcbTaxMis' classid='clsid:67ec28a2-6f49-4242-801e-a6e4a64b74b1' style='height:18pt;width:120;display:none'codebase='.\AhCcbTaxMis.CAB'#version=-1,-1,-1,-1></object>
<div id="popupTwoRows">
    <form class="layui-form" action="" lay-filter="form">
        <div class="content-main">
            <div class="bdc-table-box">
                <table class="layui-table" border="1" id="posjfTable">
                    <colgroup>
                        <col width="70">
                        <col width="200">
                        <col width="70">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="set-back-color set-right">交易金额</td>
                        <td>
                            <div class="bdc-td-box">
                                <input type="text"  lay-verify="" class="layui-input"
                                       id="transAmount" name="transAmount" disabled="off" value="">
                            </div>
                        </td>
                        <td class="set-back-color set-right">缴款书金额</td>
                        <td>
                            <div class="bdc-td-box">
                                <input type="text" lay-verify="" class="layui-input" disabled="off"
                                       id="totalAmount" name="totalAmount" value="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="set-back-color set-right">缴款书编号</td>
                        <td>
                            <div class="bdc-td-box">
                                <input type="text" lay-verify="" class="layui-input" disabled="off"
                                       id="taxNum" name="taxNum" value="">
                            </div>
                        </td>
                        <td class="set-back-color set-right">原交易流水号</td>
                        <td>
                            <div class="bdc-td-box">
                                <input type="text" lay-verify="" class="layui-input"
                                       id="oldPostrace" name="oldPostrace" value="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="set-back-color set-right">付款码</td>
                        <td>
                            <div class="bdc-td-box">
                                <input type="text" lay-verify="" class="layui-input"
                                       id="longQRPay" name="longQRPay" value="">
                            </div>
                        </td>
                        <td class="set-back-color set-right">订单号</td>
                        <td>
                            <div class="bdc-td-box">
                                <input type="text" lay-verify="" class="layui-input"
                                       id="merOrderID" name="merOrderID" value="">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="layui-inline bdc-frame-button-box">
                    <a href="javascript:;" class="layui-btn layui-btn-normal bdc-major-btn" id="yhkjf">银行卡缴费</a>
                    <!--<a href="javascript:;" class="layui-btn layui-btn-normal bdc-secondary-btn" id="yhkjfcx">银行卡缴费撤销</a>-->
                    <a href="javascript:;" class="layui-btn layui-btn-normal bdc-secondary-btn" id="jhzf">聚合支付</a>
                    <!--<a href="javascript:;" class="layui-btn layui-btn-normal bdc-secondary-btn" id="jhzfth">聚合支付退货</a>-->
                    <a href="javascript:;" class="layui-btn layui-btn-normal bdc-secondary-btn" id="cxye">查询余额</a>
                    <a href="javascript:;" class="layui-btn layui-btn-normal bdc-secondary-btn" id="cdy">重打印小票</a>
                    <a href="javascript:;" class="layui-btn layui-btn-normal bdc-secondary-btn" id="bdjy">补登交易</a>
                    <a href="javascript:;" class="layui-btn layui-btn-normal bdc-secondary-btn" id="jsjy">结算</a>
                    <a href="javascript:;" class="layui-btn layui-btn-normal bdc-secondary-btn" id="smbd">扫码补打</a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>

<script src="../../static/lib/layui/layui.js"></script>
<script src="../../static/lib/jquery/jquery.min.js"></script>
<!--小数计算防精度缺失-->
<script src="../../static/lib/mathjs/math.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/slymCommon.js"></script>
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src='../../static/js/slym/loadButton.js'></script>
<script src='../../static/js/slym/posjf_bak.js'></script>

</html>