<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<script type="text/javascript">
    var paramJson = JSON.parse(getQueryString("paramJson"));

</script>
<body>
<div>
    <p>测试文件中心的SetUrl9的Demo</p>
    <a href='fcm://192.168.2.99:8030/storage;180b66bc-ba3a-4a81-a413-fed56f67f1a2;clientId;5640871;;;{"CanRefresh":1,"CanCreateNewFolder":0,"CanAddFolder":0,"CanDeleteFolder":0,"CanRenameFolder":0,"CanAddFile":1,"CanDeleteFile":1,"CanRenameFile":1,"CanDelete":1,"CanRename":1,"CanPrint":1,"CanDownload":1,"CanUpload":1,"CanTakePhoto":1,"CanScan":1,"CanEdit":-1};0'>
        测试Demo
    </a>
</div>
</body>
</html>