.layui-tab-content {
    padding: 10px;
}
.all-content {
    height: 100%;
}
.chart-item {
    width: 100%;
    margin: auto;
    padding-top: 25px;

}

.layui-table {
    color: #333;

}
.chart-box {
    margin: 0 auto;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
}

#sjfx-area {
    width: 58%;
    border-right: 1px dashed #d0d5da;
}

#tjbg-area {
    width: 33%;
    margin-left: 0px;
}

.chart-box-item {
    float: left;
    margin-top: 15px;
    margin: 0 7.5px;
}

.layui-tab-content {
    padding-top: 10px;
}

.layui-tab {
    padding-left: 0;
    padding-right: 0;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.all-bottom-unit {
    padding: 10px 0;
}

.bdc-search-box {
    padding: 0px;
}


.title-sign {
    width: 100%;
    box-sizing: border-box;
}

.title-sign p {
    font-size: 14px;
    color: #333;
    height: 14px;
    border-left: 4px solid #1d87d1;
    margin-left: 0px !important;
    padding-left: 10px;
    line-height: 16px;
}

.all-bottom-table tr:first-child {
    background: #f3f4f6;
    color: #666;
}

.all-bottom-table td {
    border: 1px solid #d0d5da;
    width: 25%;
}

.all-content {
    padding: 0 0px;
}
.all-content .second-tab li {
    font-size: 14px;
}

.layui-tab-item .bdc-table-box {
    padding: 0;
}

.bmColor {
    background-color:#f3f4f6;
}

.bmColor:hover {
    background-color:#e2e3e5!important;
}

