.wd-form-select{
    width: 123px;
}
/*common合并过来*/
.layui-tab-content {
    padding: 10px;
}
.all-content {
    height: 100%;
}
.chart-item {
    width: 950px;
    margin: auto;
    padding-top: 25px;

}

.reseticon{
    display:none;
    right: 29px!important;
}

.layui-table {
    color: #333;

}
.chart-box {
    margin: 0 auto;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    position: relative;
}

#sjfx-area {
    width: 950px;
    margin: 0 auto;
}
#fzltj-area {
    width: 950px;
    margin: 0 auto;
}
#dysltj-area {
    width: 950px;
    margin: 0 auto;
}

#tjbg-area {
    width: 800px;
    margin: 15px auto;
}

.layui-tab-content {
    padding-top: 10px;
}

.layui-tab {
    padding-left: 0;
    padding-right: 0;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.all-bottom-unit {
    padding: 10px 0;
}

.bdc-search-box {
    padding: 0px;
}


.title-sign {
    width: 100%;
    box-sizing: border-box;
}

.title-sign p {
    font-size: 14px;
    color: #333;
    height: 14px;
    border-left: 4px solid #1d87d1;
    margin-left: 0px !important;
    padding-left: 10px;
    line-height: 16px;
}

.all-bottom-table tr:first-child {
    background: #f3f4f6;
    color: #666;
}

.all-bottom-table td {
    border: 1px solid #d0d5da;
    width: 25%;
}

.all-content {
    padding: 0 0px;
}
.all-content .second-tab li {
    font-size: 14px;
}

.layui-tab-item .bdc-table-box {
    padding: 0;
}

.bmColor {
    background-color:#f3f4f6;
}

.bmColor:hover {
    background-color:#e2e3e5!important;
}

.count-type-select-div {
    /*float: right;*/
    margin-right: -9px;
}

.wd {
    /*float: right;*/
}

.wd-select {
    height: 30px;
    width: 94px;
}

.wd-select-group {
    height: 30px;
    width: 85px;
}

#step-back-tip {
    color: #1d87d1;
}

#step-back {
    position: relative;
    top: -2px;
}

#back {
    position: relative;
    left: -38.5px;
    top: 51px;
    z-index: 1001;
    width: 118px;
    height: 34px;
    float: right;
    display: none;
    margin-right: 10px;
    outline:none!important;
    background:transparent!important;
    border:none!important;
    outline:medium!important;
}

/*自适应布局*/
.layui-tab{
    height: 100%;
    padding-top: 47px;
    box-sizing: border-box;
    position: relative;
}
.layui-tab-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.layui-tab-content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
}
.layui-tab-item{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.layui-tab-item:first-child{
    min-height: 100%;
    height: auto;
    background-color: #fff;
}
#pageTableBmmx-div{
    width: 100%;
    height: 100%;
}
.layui-table-view{
    height: 100%;
}

.bdc-total{
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
}
.bdc-total .layui-btn{
    margin-left: 8px;
}
.bdc-total>span{
    position: relative;
    top: 2px;
}
.bdc-total>span>i{
    font-style: normal;
}

.layui-table td {
    padding: 9px 5px;
}