<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>同步备案信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/search.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css"/>
    <link rel="stylesheet" href="../../static/lib/registerui/css/percentage-layout.css"/>
    <link rel="stylesheet" href="../../static/lib/registerui/css/tab-iframe.css">
    <!--    <link rel="stylesheet" href="../../static/css/tab-content.css">-->
</head>

<!--备案信息台账部分-->
<body>
<div class="bdc-percentage-container">
    <!--查询条件-->
    <div class="bdc-search-content">
        <div class="bdc-search-box">
            <!--默认两行的-->
            <form class="layui-form" action="" lay-filter="searchform">
                <div class="layui-form-item pf-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">备案时间(起)</label>
                        <div class="layui-input-inline">
                            <input name="basjq" id="basjq" type="text" autocomplete="off" placeholder="备案时间(起)"
                                   class="layui-input search">
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">备案时间(止)</label>
                        <div class="layui-input-inline">
                            <input name="basjz" id="basjz" type="text" autocomplete="off" placeholder="备案时间(止)"
                                   class="layui-input search">
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">合同编号</label>
                        <div class="layui-input-inline">
                            <input name="htbh" type="text" autocomplete="off" placeholder="合同编号"
                                   class="layui-input search">
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">不动产单元号</label>
                        <div class="layui-input-inline">
                            <input name="bdcdyh" type="text" autocomplete="off" placeholder="不动产单元号"
                                   class="layui-input search">
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label  class="layui-form-label">同步状态</label>
                        <div  class="layui-input-inline">
                            <select   name="tbzt" lay-search="" class="layui-input search">
                                <option value="">请选择</option>
                                <option value="0">未同步</option>
                                <option value="1">已同步</option>
                            </select>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <!--查询按钮-->
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-normal bdc-major-btn" type="button" lay-submit=""
                                id="queryBaxx"
                                lay-filter="queryBaxx">查询
                        </button>
                        <button type="reset" class="layui-btn layui-btn-normal bdc-secondary-btn">重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="bdc-table-box">
        <table id="baxxTable" lay-data="{id: 'baxxTable'}" lay-filter="baxxTable"></table>
    </div>
    <!--表格上面功能按钮-->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm bdc-major-btn " lay-event="syncpl" id="syncpl">批量同步</button>
            <button class="layui-btn layui-btn-sm bdc-table-second-btn " lay-event="syncall" id="syncall">同步所有</button>
        </div>
    </script>

    <script type="text/html" id="htbaczTpl">
        <a class="layui-btn layui-btn-xs bdc-major-btn" lay-event="sync">同步</a>
    </script>
</div>
</body>

<!--引入js部分一般放在最下面-->
<script src="../../static/lib/layui/layui.js"></script>
<script src="../../static/lib/jquery/jquery.min.js"></script>
<!--小数计算防精度缺失-->
<script src="../../static/lib/mathjs/math.js"></script>
<script src="../../static/lib/registerui/js/tab-iframe.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/table.js"></script>
<script src="../../static/js/htbaspf/syncBaxx.js"></script>
</html>