.bdc-form-div{
    padding: 68px 10px 10px;
    height: 100%;
}

.form-margin-area{
    padding: 0 10px;
}

.title-sign > .bdc-tab-a {
    position: absolute;
    top: 0;
    right: 0;
}

.bdc-title-sign-btn{
    margin-bottom: 10px;
}

.layui-table .bdc-not-null input{
    height: 40px;
}

.layui-table .bdc-not-null input {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #fef6e1!important;
}

.basic-info .bdc-not-null .layui-form-danger{
    border-color: #FF5722!important;
}

.bdc-jt-table .layui-form-select .layui-input{
    padding-right: 10px;
    padding-left: 0px;
}
.bdc-jt-table .layui-form-select .layui-edge{
    right: 6px;
}

.layui-table .change-padding-right{
    padding-right: 26px;
}

.layui-table .tr-add-gxbs input{
    color: #f54743;
}

.layui-table .td-add-gxbs input{
    padding-left: 26px;
    padding-right: 0;
    background-color: #fef6e1;
}

.layui-table .td-add-gxbs .gxbs{
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    z-index: 991;
}

.basic-info:last-child{
    padding-bottom: 50px;
}
