
html, body {
    background-color: #fff;
    height: 100%;
}

/*转发相关*/
.bdc-send-content {
    width: 960px;
    height: 100%;
    background-color: #fff;
    position: relative;
    padding-bottom: 68px;
    box-sizing: border-box;
}

.bdc-send-button {
    width: 100%;
    position: absolute;
    bottom: 15px;
    right: 0;
}

.layui-form-radio > i:hover, .layui-form-radioed > i {
    color: #1d87d1;
}

.layui-table-view .layui-table td {
    padding: 0;
}

.layui-table-cell {
    height: 38px;
    line-height: 38px;
    /*padding: 0;*/
}

.layui-input, .layui-select {
    border-width: 0;
}

.layui-table tbody tr:hover,
.layui-table-click,
.layui-table-header,
.layui-table-hover,
.layui-table-mend,
.layui-table-patch,
.layui-table-tool,
.layui-table-total,
.layui-table-total tr,
.layui-table[lay-even] tr:nth-child(even) {
    background-color: #fff;
}

.layui-table-cell, .layui-table-tool-panel li {
    overflow: visible;
}

.layui-table-box {
    overflow: visible;
}

.layui-table-body {
    overflow: visible;
}

.layui-form-select dl dd.layui-this {
    background-color: #1d87d1;
}

.bdc-send-button {
    text-align: center;
}

.portal_send .layui-form-select dl {
    max-height: 220px;
}

/*新增签名相关*/
.shxx_table td {
    height: 60px;
    text-align: center;
}

.shxx_table .shxx_yj {
    height: 80px;
    text-align: left;
    padding: 0 0px;
}

.shxx_table img {
    max-width: 150px;
    height: 80px;
}

.shxx_table .sign_img {
    padding: 0 0px;
}

.shxx_table td textarea {
    padding-left: 0px;
}

.shxx_table .layui-textarea {
    min-height: 32px;
    line-height: 32px;
    text-align: center;
    border: none;
    resize: none;
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
}

.set-jd-font {
    font-weight: bold;
    width: 100px;
}

.sign-p {
    height: 50%;
    padding-top: 10px;
}

.delete-p {
    height: 50%;
    padding-bottom: 10px;
    position: relative;
}

.delete-p a {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #2d5de1
}

/**
输入框禁止修改样式
 */
.bdc-prohibit-text {
    background-color: #fff;
    color: #999;
}

.bdc-prohibit-text:hover {
    cursor: not-allowed;
    opacity: 1;
    color: #999;
}

.prohibit_deleteSign, .prohibit_sign {
    color: #999 !important;
}

.bdc-text {
    max-width: 939px;
    outline: none;
    min-height: 32px;
    line-height: 32px;
    text-align: center;
    border: none;
    resize: none;
    font-size: 16px;
    overflow-y: auto;
}

.bdc-text-lines {
    text-align: left !important;
}

.bdc-kxyj-content {
    width: 430px;
    height: 100%;
    background-color: #fff;
    position: relative;
    padding-bottom: 68px;
    box-sizing: border-box;
}

.bdc-kxyj-button {
    width: 100%;
    position: absolute;
    bottom: 15px;
    right: 0;
    text-align: center;
}

.bdc-kxyj-content .layui-table-cell {
    text-align: left;
}

.bdc-kxyj-content .laytable-cell-radio {
    text-align: center;
}

.bdc-kxyj-content .layui-tab {
    margin: 0px 0px;
}

.layui-table td div {
    position: relative;
}

.layui-table td.set-back-color {
    background-color: #f3f4f6;
    padding: 0 6px;
}

.shxx_table td p {
    text-align: left;
}

td .layui-textarea {
    min-height: 32px;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: transparent;
    outline: 0;
    resize: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

td .pre {
    max-width: 939px;
    line-height: 32px;
    display: block;
    visibility: hidden;
    text-align: center;
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

.qm_label {
    width: 200px;
}

.sign_img, .sign_date {
    width: 150px;
}

/*避免签名意见过长，按钮定位有问题*/
.bdc-send-content .layui-tab {
    width: 100%;
    height: 100%;
}

.bdc-send-content .layui-tab-content {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    overflow-y: auto;
}