<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>发证量统计</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/form-select/formSelects-v4.css">

    <link rel="stylesheet" href="../../static/lib/bdcui/css/common.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/form-tab.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/search.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css"/>
    <link rel="stylesheet" href="../../static/ztree/metroStyle.css"/>
    <link rel="stylesheet" href="../../static/ztree/custom_tree.css"/>
    <link rel="stylesheet" href="../../static/css/count/gzltj.css"/>
    <link rel="stylesheet" href="../../static/lib/registerui/css/percentage-layout.css"/>
</head>
<body>
<div class="bdc-percentage-container">
    <div class="bdc-search-content">
        <div class="bdc-search-box">
            <form class="layui-form">
                <div class="layui-form-item pf-form-item">
                    <div class="layui-inline">
                        <label id="kssjLabel" class="layui-form-label">开始时间</label>
                        <div id="kssjDiv" class="layui-input-inline">
                            <input id="kssj" class="layui-input" readonly="readonly" type="text" name="kssj"
                                   placeholder="请选择"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label id="jssjLabel" class="layui-form-label">结束时间</label>
                        <div id="jssjDiv" class="layui-input-inline">
                            <input id="jssj" class="layui-input" readonly="readonly" type="text" name="jssj"
                                   placeholder="请选择"/>
                        </div>
                    </div>
<!--                    <div class="layui-inline">-->
<!--                        <label class="layui-form-label">流程名称</label>-->
<!--                        <div class="layui-input-inline">-->
<!--                            <select xm-select="selectLcmc" xm-select-skin="default"-->
<!--                                    xm-select-show-count="2" xm-select-height="34px" xm-select-search=""-->
<!--                                    xm-select-search-type="dl"-->
<!--                                    id="selectedDefName" lay-search="" lay-filter="selectLcmc"-->
<!--                                    class="layui-select xxxx-tab-useful" lay-verify=""-->
<!--                                    name="processDefKey">-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="layui-inline">
                        <label id="djlxLabel" class="layui-form-label">登记类型</label>
                        <div id="djlxDiv" class="layui-input-inline xzq-sele">
                            <select id="djlx_select" lay-search="" class="layui-select xxxx-tab-useful"
                                    lay-filter="djlx_select" lay-verify="" name="djlx">
                            </select>
                            <i class="layui-icon layui-icon-close reseticon reset-bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label id="djlxLabel" class="layui-form-label">登记小类</label>
                        <div id="djxlDiv" class="layui-input-inline xzq-sele">
                            <select xm-select="selectDjxl" xm-select-skin="default"
                                    xm-select-show-count="2" xm-select-height="34px" xm-select-search=""
                                    xm-select-search-type="dl"
                                    id="djxl-select" lay-search="" lay-filter="djlx-select"
                                    class="layui-select xxxx-tab-useful" lay-verify=""
                                    name="djxl">
                            </select>
                        </div>
                    </div>
                    <!--                    <div class="layui-inline">-->
                    <!--                        <label id="lcmcLabel" class="layui-form-label">区县</label>-->
                    <!--                        <div id="qxdmDiv" class="layui-input-inline xzq-sele">-->
                    <!--                            <select xm-select="selectQxdm" xm-select-skin="default" xm-select-show-count="2"-->
                    <!--                                    xm-select-height="34px" xm-select-search="" xm-select-search-type="dl"-->
                    <!--                                    id="qxdm" lay-search="" class="layui-select xxxx-tab-useful" lay-filter="selectQxdm"-->
                    <!--                                    lay-verify="" name="qxdm">-->
                    <!--                            </select>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
<!--                                        <div class="layui-inline">-->
<!--                                            <label class="layui-form-label">证书类型</label>-->
<!--                                            <div class="layui-input-inline wd-form-select">-->
<!--                                                <select id="zstype" class="wd-select-group" lay-filter="zstype" name="zstype">-->
<!--                                                    <option value='' selected="selected" class="option-nonevalue">请选择</option>-->
<!--                                                    <option id="zs" value="1">证书</option>-->
<!--                                                    <option id="zm" value="2">证明</option>-->
<!--                                                </select>-->
<!--                                                <i class="layui-icon layui-icon-close reseticon reset-bdc-hide"></i>-->
<!--                                            </div>-->
<!--                                        </div>-->
                    <div class="layui-inline bdc-button-box">
                        <button id="search" type="button" class="layui-btn bdc-major-btn" lay-submit=""
                                lay-filter="search">查询
                        </button>
                        <button id="reset" type="reset" class="layui-btn bdc-secondary-btn reset-btn">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--中间内容部分-->
    <div class="all-content">
        <div class="layui-tab" lay-filter="tabFilter">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="sjzs">图表分析</li>
                <li lay-id="xxxx">详细信息</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="chart-box">
                        <!--下拉选择条件-->
                        <div class="title-sign clear">
                            <form class="layui-form">
                                <div class="layui-input-inline count-type-select-div">
                                    <label class="layui-form-label">统计维度类型</label>
                                    <div class="layui-input-inline wd-form-select">
                                        <select id="count-type-select" class="wd-select" lay-filter="count-type-select">
                                            <option id="gjdjlx" value='1' selected="selected">根据登记类型</option>
                                            <option id="gjdjxl" value='2'>根据登记小类</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--左侧数据分析图-->
                        <div class="chart-box-item" id="sjfx-area">
                            <div class="chart-item" id="djlxChart" style="width: 600px;height: 600px"></div>
                        </div>
                    </div>
                </div>

                <div class="layui-tab-item">
                    <!--表格开始-->
                    <div class="bdc-table-box">
                        <div id="pageTableDjlx-div">
                            <table id="pageTableDjlx" lay-data="{id: 'pageTableDjlx'}"
                                   lay-filter="pageTableDjlx"></table>
                        </div>
                    </div>
                    <!--表格结束-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--隐藏form，为了Excel导出缓存数据使用-->
<form style="display: none" action="/realestate-inquiry-ui/excel/export" method="POST" id="form">
    <input type="hidden" id="fileName" name="fileName"/>
    <input type="hidden" id="sheetName" name="sheetName"/>
    <input type="hidden" id="cellTitle" name="cellTitle"/>
    <input type="hidden" id="cellWidth" name="cellWidth"/>
    <input type="hidden" id="cellKey" name="cellKey"/>
    <input type="hidden" id="data" name="data"/>
</form>

<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/layui/layui.js"></script>
<script src="../../static/lib/easyui/jquery.easyui.min.js"></script>
<!--添加水印-->
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/js/bdcDp/echarts.min.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/formCenter.js"></script>
<script src="../../static/js/bdcDp/fzltj.js"></script>
</body>
</html>