.shxx_table {
    max-width: 800px;
    min-width: 580px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.shxx_table td {
    height: 60px;
    text-align: center;
}

.shxx_table .shxx_yj {
    height: 80px;
    text-align: left;
    padding: 0 0px;
}

.shxx_table img {
    max-width: 150px;
    height: 80px;
}

.shxx_table .sign_img {
    padding: 0 0px;
}

.shxx_table td textarea {
    padding-left: 0px;
}

.shxx_table .layui-textarea{
    min-height: 32px;
    line-height: 32px;
    text-align: center;
    border: none;
    resize: none;
    font-size: 16px;
    word-wrap:break-word;
    word-break:break-all;
}
.set-jd-font{
    font-weight: bold;
    width: 120px;
}

.sign-p {
    height: 50%;
    padding-top: 10px;
}

.delete-p {
    height: 50%;
    padding-bottom: 10px;
    position: relative;
}

.delete-p a {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #2d5de1
}

/**
输入框禁止修改样式
 */
.bdc-prohibit-text {
    background-color: #fff;
    color: #999;
}

.bdc-prohibit-text:hover {
    cursor: not-allowed;
    opacity: 1;
    color: #999;
}

.prohibit_deleteSign, .prohibit_sign {
    color: #999 !important;
}

.bdc-text {
    max-width: 699px;
    outline: none;
    min-height: 32px;
    line-height: 32px;
    text-align: center;
    border: none;
    resize: none;
    font-size: 16px;
    overflow-y: auto;
}

.bdc-text-lines {
    text-align: left !important;
}

.bdc-kxyj-content {
    width: 430px;
    height: 100%;
    background-color: #fff;
    position: relative;
    padding-bottom: 68px;
    box-sizing: border-box;
}

.bdc-kxyj-button {
    width: 100%;
    position: absolute;
    bottom: 15px;
    right: 0;
    text-align: center;
}

.bdc-kxyj-content .layui-table-cell {
    text-align: left;
}

.bdc-kxyj-content .laytable-cell-radio {
    text-align: center;
}

.bdc-kxyj-content .layui-tab {
    margin: 0px 0px;
}

.layui-table td div {
    position: relative;
}

td .layui-textarea {
    min-height: 32px;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: transparent;
    outline: 0;
    resize: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

td .pre {
    max-width: 699px;
    line-height: 32px;
    display: block;
    visibility: hidden;
    text-align: center;
    font-size: 16px;
    word-wrap:break-word;
    word-break:break-all;
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
    white-space:pre-wrap;
    white-space:-moz-pre-wrap;
    white-space:-o-pre-wrap;
}

.qm_label {
    width: 200px;
}
.rq_label {
    width: 200px;
}

.sign_img, .sign_date {
    width: 150px;
}

.title-ui {
    z-index: 20;
    margin-right: 14px;
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid #d0d5da;
    top: 62px;
    right: -15px;
    display: none;
}
.title-ui li {
    padding: 0 14px 0 14px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}