
.layui-tab .layui-tab-content .layui-tab-item .layui-input-block{
  margin-left: 0;
}

.layui-tab .layui-tab-content .layui-tab-item .layui-input-block .layui-textarea{
  height: 400px;
}

.basic-info .title-sign .layui-form-item .layui-input-block .layui-textarea{
  height: 400px;
}

.response .layui-form-item .layui-input-block {
  margin-left: 0;
}

.response .layui-form-item {
  margin: 10px;
}

.response .layui-form-item .layui-input-block .layui-textarea{
  height: 400px;
}

.bdc-form-div {
  padding: 10px;
  height: 100%;
}
.operate{
  padding: 10px 0px;
}
.bdc-frame-button-box {
  width: 100%;
  text-align: center;
}
.bdc-frame-button-box .layui-btn {
  height: 34px;
  line-height: 34px;
}
.bdc-other-tips-box {
  position: fixed;
}
.layui-table-cell {
  overflow: visible !important;
}
td .layui-input-inline{
  width: 100%;
}
.sql {
  border:solid 1px red;
  border-radius: 3px;
}
#table_select_required{
  width: 100%;
}
#return_select_fieldType{
  width: 100%;
}
#requestParam_select_fieldType{
  width: 100%;
}
.change-textarea-margin .layui-input-inline {
  width: 90.2%;
}
/*配置sql 新增 弹出*/
.bdc-fj-inline{
  padding-right: 28px;
  box-sizing: border-box;
}
.bdc-fj-inline .bdc-pj-popup{
  width: 28px;
  height: 100%;
  line-height: 15px;
  padding-top: 1px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #d0d5da;
  background-color: #f3f4f6;
  border-left: none;
  box-sizing: border-box;
  text-align: center;
  color: #1d87d1;
  cursor: pointer;
}
#fjPopup .layui-form{
  padding: 10px;
  box-sizing: border-box;
}
#fjPopup .layui-textarea{
  min-height: 360px;
}
.big-textarea{
  min-height: 300px;
}
.out_pre {
  border-width: 1px;
  border-style: solid;.
  border-radius: 2px;
  border-color: #e6e6e6;
  min-height: 100px;
}



