body,
html {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    padding: 20px !important;
    box-sizing: border-box;
    background-color: #fff;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
.bdc-hide {
    display: none;
}
.bdc-major-btn {
    background-color: #1d87d1;
}
.bdc-major-btn:hover {
    background-color: #1675b8;
}
.bdc-secondary-btn {
    background-color: #f3f4f6;
    color: #666;
    border: 1px solid #d0d5da;
    line-height: 20px;
}
.bdc-secondary-btn:hover {
    color: #666;
    opacity: 1;
}
.bdc-delete-btn {
    background-color: #f54743;
}
.bdc-table-second-btn {
    background-color: #fff;
    border-color: #999;
    color: #333;
}
.bdc-table-second-btn:hover {
    color: #333;
}
/*外包框*/
.bdc-container {
    width: 100%;
    height: 100%;
    /*padding-left: 300px;*/
    /*padding-left: 20px;*/
    box-sizing: border-box;
    position: relative;
}
/*左侧菜单栏*/
.bdc-menu-aside {
    width: 280px;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    /*left: -300px;*/
    left: 0;
}
#asideLine{
    width: 5px;
    height: 100%;
    /*background-color: #fff;*/
    position: absolute;
    top: 0;
    left: 275px;
    z-index: 10;
    cursor: e-resize;
}
.bdc-aside-zoom{
    width: 12px;
    height: 36px;
    border: 1px solid #d0d5da;
    position: absolute;
    top: 50%;
    /*left: -5px;*/
    left: 279px;
    transform: translateY(-50%);
    z-index: 99;
    text-align: center;
}
.bdc-aside-zoom .fa{
    font-size: 12px;
    line-height: 36px;
    color: #666;
}
.bdc-menu-aside .aside {
    height: 100%;
    position: relative;
    padding-top: 52px;
    box-sizing: border-box;
    z-index: 9;
    background-color: #fff;
}
.bdc-menu-aside h4 {
    width: 100%;
    padding-left: 12px;
    font-size: 16px;
    line-height: 52px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid #d0d5da;
    border-bottom: none;
    position: absolute;
    top: 0;
    left: 0;
}
#aside{
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #d0d5da;
    margin-bottom: 10px;
    overflow: auto;
}
.accordion {
    width: 100%;
    box-sizing: border-box;
}
.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 50px;
    color: #333;
    font-size: 14px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    white-space: nowrap;
    overflow: hidden;
}
.accordion .area-link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 46px;
    color: #333;
    font-size: 14px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.accordion .bdc-outer-li:last-child .link {
    border-bottom: 0;
}
.accordion .bdc-outer-li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #333;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.accordion .area-link i{
    position: absolute;
    top: 16px;
    left: 28px;
    font-size: 18px;
    color: #b5b7b8;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.link .docu-icon {
    position: absolute;
    left: 28px;
    top: 18px;
}
/*.accordion .bdc-outer-li.open .link {*/
    /*color: #1d87d1;*/
/*}*/
/*.accordion .bdc-outer-li.open i {*/
    /*color: #1d87d1;*/
/*}*/
.accordion .bdc-outer-li.bdc-this-li .link {
    color: #1d87d1;
    background-color: #eaedf1;
}
.accordion .bdc-outer-li.bdc-this-li i {
    color: #1d87d1;
}
.accordion .open .link i.fa-caret-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.submenu {
    display: none;
    font-size: 14px;
}
.submenu .bdc-inner-li {
    padding: 6px 12px 6px 42px;
    box-sizing: border-box;
}
.submenu a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #333;
    height: 28px;
    line-height: 28px;
    padding-left: 25px;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    white-space: nowrap;
    overflow: hidden;
}
.submenu a .docu-icon {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
}
.submenu a:hover {
    background-color: #f3f4f6;
}
.submenu a.active {
    background-color: #f3f4f6;
}
.bdc-search{
    width: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
    position: relative;
}
.bdc-search .layui-input{
    padding: 0 30px;
}
.bdc-search i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
}
.bdc-search .fa-search{
    left: 22px;
}
.bdc-search .layui-icon-close{
    right: 22px;
}
/*右侧主内容区*/
.bdc-right-content{
    width: 100%;
    height: 100%;
    /*padding-top: 40px;*/
    box-sizing: border-box;
    position: relative;
}
.bdc-right-content .layui-tab{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 40px;
    box-sizing: border-box;
    position: relative;
}
.bdc-right-content .layui-tab-title{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.bdc-right-content .layui-tab-content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
}
.bdc-right-content .layui-tab-item{
    width: 100%;
    height: 100%;
}
.layui-tab-brief>.layui-tab-title .layui-this{
    color: #1d87d1;
}
.bdc-hide{
    display: none!important;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
    border-bottom-color: #1d87d1;
}
.layui-tab-title li{
    font-size: 16px;
}


.layui-btn-primary:hover{
    border-color: #d0d5da;
}
.bdc-tools .bdc-btn-img img,
.bdc-normal-btn .bdc-btn-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bdc-normal-btn{
    position: fixed;
    top: 15px;
    right: 45px;
    z-index: 999;
}
/*内存存放区*/
.content-div{
    padding: 0;
}

/*iframe*/
iframe{
    width: 100%;
    min-height: 100%;
    border: none;
}
.bdc-special-btn{
    height: 34px;
    line-height: 34px;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 9;
}
