#searchMenu .bdc-inner-li {
    padding: 6px 12px 6px 22px; box-sizing: border-box;
}
#searchMenu a{
    display: block;
    position: relative;
    text-decoration: none;
    color: #333;
    height: 28px;
    line-height: 28px;
    padding-left: 25px;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    white-space: nowrap;
    overflow: hidden;
}
#searchMenu a .docu-icon {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
}
#searchMenu a.active {
    background-color: #f3f4f6;
}