<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>卫健委-出生医学证明查询</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <!--    <link rel="stylesheet" href="../../static/lib/bdcui/css/form.css"/>-->
    <link rel="stylesheet" href="../../static/lib/bdcui/css/search.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css"/>
    <link rel="stylesheet" href="../../static/lib/registerui/css/percentage-layout.css">
    <link rel="stylesheet" href="../../static/css/common.css"/>
</head>
<body>

<div class="bdc-percentage-container one-percentage-container">
    <!--查询条件-->
    <div class="bdc-search-content">
        <div class="bdc-search-box">
            <!--一行的-->
            <form class="layui-form" action="">
                <div class="layui-form-item pf-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">出生证明编号</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input search required-warn" name="cszmbh" id="cszmbh" placeholder="请输入" type="text"/>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">母亲姓名</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input search required-warn" name="mqxm" id="mqxm" placeholder="请输入" type="text"/>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">母亲证件号码</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input search required-warn" name="mqzjbm" id="mqzjbm" placeholder="请输入" type="text"/>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline bdc-button-box">
                        <a href="javascript:;" class="layui-btn layui-btn-normal bdc-major-btn" id="search">查询</a>
                        <button type="reset" id="reset" class="layui-btn bdc-secondary-btn reset-btn">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--表格-->
    <div class="bdc-table-box">
        <table id="csyxzmxxTable" lay-filter="csyxzmxxTable"></table>
    </div>
</div>

<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/layui/layui.js"></script>
<script src="../../static/lib/bdcui/js/mask.js"></script>
<!--添加水印-->
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/commonSearch.js"></script>
<script src="../../static/js/gxjkjs/sjCsyxzm.js"></script>
</body>
</html>