.mark-good {
    background-color: #3b9d72;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 2px;

}

.mark-bad {
    background-color: #969d98;
    color: white;
    font-size: 12px;
    padding: 3px 5px;
}