.bdc-form-div{
    padding: 0;
}
.bdc-form-div .bdc-search-content .bdc-search-box{
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px dashed #d0d5da;
}

.layui-tab-content .content-main{
    background-color: #fff;
    width: 935px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.content-main table td input[type='text']{
    text-align: left;
}