<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>批量登记历史查看页面</title>
    <link rel="stylesheet" href="../../static/lib/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/application.css">
    <link rel="stylesheet" href="../../static/lib/registerui/css/index.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css">
    <link rel="stylesheet" href="../../static/css/lsgx/pldjls.css">

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="../../static/lib/layui/layui.js"></script>
    <!--添加水印-->
    <script src="../../static/lib/bdcui/js/common.js"></script>

    <script src="../../static/js/common.js"></script>

</head>
<body>
<div class="bdc-container-box">
    <div class="bdc-container">
        <!--收缩左侧列表-->
        <div class="bdc-aside-zoom">
            <a class="bdc-aside-close" href="javascript:;"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            <a class="bdc-aside-open bdc-hide" href="javascript:;"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>

        <!--由最大化变为正常-->
        <div class="bdc-normal-btn bdc-hide">
            <button class="layui-btn layui-btn-primary bdc-btn-img bdc-btn-up">
                <img src="../../static/lib/registerui/image/left-arrow.png" alt=""></button>
            <button class="layui-btn layui-btn-primary bdc-btn-img bdc-btn-down">
                <img src="../../static/lib/registerui/image/right-arrow.png" alt=""></button>
            <button class="layui-btn layui-btn-primary bdc-btn-img bdc-btn-normal">
                <img src="../../static/lib/registerui/image/zoom.png" alt=""></button>
        </div>

        <!--左侧菜单栏开始-->
        <div class="bdc-menu-aside" id="asideBox">
            <div class="aside" id="asideCon">
                <h4>目录</h4>
                <div id="aside">
                    <div class="bdc-search-box">
                        <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input bdc-search">
                        <i class="layui-icon layui-icon-search"></i>
                        <i class="layui-icon layui-icon-close"></i>
                    </div>
                    <ul id="accordion" class="accordion"></ul>
                    <ul id="searchMenu" class="accordion bdc-hide"></ul>
                </div>
            </div>
        </div>
        <div id="asideLine"></div>
        <!--左侧菜单栏结束-->

        <!--右侧主内容开始-->
        <div class="bdc-right-content">
            <div class="bdc-title">
                <p id="tips"></p>
                <div class="bdc-tools">
                    <button class="layui-btn layui-btn-primary bdc-btn-img bdc-btn-up">
                        <img src="../../static/lib/registerui/image/left-arrow.png" alt=""></button>
                    <button class="layui-btn layui-btn-primary bdc-btn-img bdc-btn-down">
                        <img src="../../static/lib/registerui/image/right-arrow.png" alt=""></button>
                    <button class="layui-btn layui-btn-primary bdc-btn-img bdc-btn-zoom">
                        <img src="../../static/lib/registerui/image/zoom.png" alt=""></button>
                </div>
            </div>
            <!--内容存放开始-->
            <div class="content-div bdc-tab-content layui-tab-content" id="contentView">
                <iframe id="childFrame" src=""></iframe>
            </div>
            <!--内容存放结束-->
        </div>
        <!--右侧主内容结束-->
    </div>
</div>
</body>
<!--侧边树一级模板-->
<script type="text/html" id="dirctoryTpl">
    {{# layui.each(d, function(index, item){ }}
    <li class="bdc-outer-li bdc-invented-li" data-num="" data-zsid="{{item.zsid}}" >
        <a class="link bdc-show-second">
            <i class="fa fa-caret-right"></i>
            <img src="../../static/lib/registerui/image/file.png" alt="图标" class="docu-icon">
            {{item.bdcqzh}}
        </a>
        <ul class="submenu"></ul>
    </li>
    {{# }); }}
</script>
<!--侧边栏二级模板-->
<script type="text/html" id="asideNodeTpl">
    {{#  layui.each(d, function(index, item){ }}
    <li class="bdc-inner-li bdc-invented-li" data-src="{{item.djlsUrl}}">
        <a href="javascript:;" class="bdc-last-child" title="{{ item.zl }}">
            <img src="../../static/lib/registerui/image/log.png" alt="图标" class="docu-icon">{{item.zlTxt}}
        </a>
    </li>
    {{#  }); }}
</script>
<script src="../../static/js/lsgx/bdcdypldjls.js"></script>
</html>