.form-margin-area {
    padding: 0 10px;
}

.basic-info .title-sign p{
    display: inline;
}

.basic-info .title-sign .fybm{
    float: right;
    padding-right: 40px;
    margin-top: -9px;
}

.basic-info .title-sign .fybm .bdc-compute-btn{
    margin-top: -3px;
    border: none;
    cursor: pointer;
}
#bdc-popup-large .bdc-sk-table{
    padding: 10px;
}

.layui-table-box .layui-table td{
    position: relative;
}

.form-add-padding {
    padding: 10px 0 0 0;
}

.layui-table-danger + .layui-form-select,
.layui-table-danger.layui-input,
.layui-table-danger.layui-textarea,
.layui-table-danger:focus {
    border:1px solid #f54743 !important;
}
