<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>公告台账信息录入</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/form-select/formSelects-v4.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/form.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css">
    <style>
        body{background-color: #fff;}
        .change-textarea-margin .layui-input-inline {
            width: 70%;
        }
    </style>
    <script src="../../static/lib/layui/layui.js"></script>
    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <!--添加水印-->
    <script src="../../static/lib/bdcui/js/common.js"></script>
    <script src="../../static/js/common.js"></script>
    <script src="../../static/js/table.js"></script>
    <script src='../../static/js/formCenter.js'></script>
    <script src="../../static/js/sjpt/jgysbaxq.js"></script>
</head>
<body>
<div class="bdc-not-full-bg">
    <form class="layui-form bdc-not-full-bg" action="" lay-filter="searchform" id="ggxxform">
        <div class="form-margin-area">
            <div class="basic-info">
                <input id="ggid" name="ggid" class="layui-input search" type="hidden">
                <input id="gzlslid" name="gzlslid" class="layui-input search" type="hidden">
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">备案编号</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="certCode" id="certCode" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">建设单位名称</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="buildUnit" id="buildUnit" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">项目名称</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="projName" id="projName" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">工程地点</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="projAddr" id="projAddr" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">建筑面积</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="buildingArea" id="buildingArea" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">结构类型</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="structureType" id="structureType" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">工程类别</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="projType" id="projType" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">开工日期</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="startDate" id="startDate" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">竣工验收日期</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="completeDate" id="completeDate" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">施工许可证号</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="sgxkCertCode" id="sgxkCertCode" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">施工图审查意见</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="sgtsOpinion" id="sgtsOpinion" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">勘察单位名称</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="surveyUnit" id="surveyUnit" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">设计单位名称</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="designUnit" id="designUnit" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">施工单位名称</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="constructionUnit" id="constructionUnit" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">监理单位名称</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="supervisoryUnit" id="supervisoryUnit" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">工程质量监督机构名称</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="qualitySupervisoryUnit" id="qualitySupervisoryUnit" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">备案时间</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="jgysDate" id="jgysDate" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">备案经手人</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="handlePerson" id="handlePerson" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">备案意见</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="recordOpinion" id="recordOpinion" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item change-textarea-margin">
                    <label class="layui-form-label change-label-width">备案机关处理意见</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled="off" name="organOPinion" id="organOPinion" value="" autocomplete="off" lay-verify="required" class="layui-input" >
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>