<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>竣工验收备案查询台账</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/search.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css"/>
    <link rel="stylesheet" href="../../static/lib/registerui/css/percentage-layout.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/popup.css"/>
    <style type="text/css">
        .search { /*用于查询标识*/
        }
        .bdc-percentage-container {
            width: 100%;
            height: 100%;
            padding: 10px 10px 10px;
            box-sizing: border-box;
            position: relative;
            background-color: #eaedf1;
        }
        .bdc-table-box {
            width: 100%;
            height: 90%;
        }
    </style>
</head>
<body>
<!--************ 条件搜索 ************-->
<div class="bdc-percentage-container">
    <div class="bdc-search-box">
        <form class="layui-form" action="">
            <div class="layui-form-item pf-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">建设单位名称</label>
                    <div class="layui-input-inline">
                        <input type="text" autocomplete="off" id="buildUnit" name="buildUnit" placeholder="请输入"
                               class="layui-input search">
                        <i class="layui-icon layui-icon-close bdc-hide"></i>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">工程项目名称</label>
                    <div class="layui-input-inline">
                        <input type="text" autocomplete="off" id="projName" name="projName" placeholder="请输入"
                               class="layui-input search">
                        <i class="layui-icon layui-icon-close bdc-hide"></i>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">行政区划</label>
                    <div class="layui-input-inline">
                        <select lay-filter="xzqhdm" id="xzqhdm" name="xzqhdm" lay-search="" class="search">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-inline">
                        <input type="text" autocomplete="off" id="startTime" name="startTime" placeholder="请输入"
                               class="layui-input search">
                        <i class="layui-icon layui-icon-close bdc-hide"></i>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-inline">
                        <input type="text" autocomplete="off" id="endTime" name="endTime" placeholder="请输入"
                               class="layui-input search">
                        <i class="layui-icon layui-icon-close bdc-hide"></i>
                    </div>
                </div>

                <div class="layui-inline bdc-button-box">
                    <a href="javascript:;" class="layui-btn layui-btn-normal bdc-major-btn" id="search">查询</a>
                    <button type="reset" class="layui-btn layui-btn-normal bdc-secondary-btn">重置</button>
                </div>
            </div>
        </form>
    </div>


    <div class="bdc-table-box">
        <table id="jgysbalistTable" lay-filter="jgysbalistTable"></table>
    </div>

</div>
<!--表格内部操作按钮-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs bdc-major-btn" lay-event="info">详情</a>
</script>

<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/layui/layui.js"></script>
<!--添加水印-->
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/lib/bdcui/js/mask.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/commonSearch.js"></script>
<script src="../../static/js/sjpt/jgysbaList.js"></script>
</body>
</html>