<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.config.core.mapper.BdcJobInfoMapper">

	<resultMap id="XxlJobInfo" type="cn.gtmap.realestate.common.core.domain.job.BdcJobInfoDO" >
		<result column="id" property="id" />

		<result column="jobGroup" property="jobGroup" />
	    <result column="jobDesc" property="jobDesc" />

	    <result column="addTime" property="addTime" />
	    <result column="updatetime" property="updatetime" />

	    <result column="author" property="author" />
	    <result column="alarmEmail" property="alarmEmail" />

		<result column="scheduleType" property="scheduleType" />
		<result column="scheduleConf" property="scheduleConf" />
		<result column="misfireStrategy" property="misfireStrategy" />

		<result column="executorRouteStrategy" property="executorRouteStrategy" />
		<result column="executorHandler" property="executorHandler" />
	    <result column="executorParam" property="executorParam" />
		<result column="executorBlockStrategy" property="executorBlockStrategy" />
		<result column="executorTimeout" property="executorTimeout" />
		<result column="executorFailRetryCount" property="executorFailRetryCount" />

	    <result column="glueType" property="glueType" />
	    <result column="glueSource" property="glueSource" />
	    <result column="glueRemark" property="glueRemark" />
		<result column="glueUpdatetime" property="glueUpdatetime" />

		<result column="childJobId" property="childJobId" />

		<result column="triggerStatus" property="triggerStatus" />
		<result column="triggerLastTime" property="triggerLastTime" />
		<result column="triggerNextTime" property="triggerNextTime" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.bdcJobGroupDTO,
		t.jobDesc,
		t.addTime,
		t.updatetime,
		t.author,
		t.alarmEmail,
		t.scheduleType,
		t.scheduleConf,
		t.misfireStrategy,
		t.executorRouteStrategy,
		t.executorHandler,
		t.executorParam,
		t.executorBlockStrategy,
		t.executorTimeout,
		t.executorFailRetryCount,
		t.glueType,
		t.glueSource,
		t.glueRemark,
		t.glueUpdatetime,
		t.child_jobid,
		t.triggerStatus,
		t.triggerLastTime,
		t.triggerNextTime
	</sql>

	<select id="pageList" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		SELECT t.*
		FROM bdc_job_info t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="bdcJobGroupDTO gt 0">
				AND t.bdcJobGroupDTO = #{bdcJobGroupDTO}
			</if>
            <if test="triggerStatus gte 0">
                AND t.triggerStatus = #{triggerStatus}
            </if>
			<if test="jobDesc != null and jobDesc != ''">
				AND t.jobDesc like CONCAT(CONCAT('%', #{jobDesc}), '%')
			</if>
			<if test="executorHandler != null and executorHandler != ''">
				AND t.executorHandler like CONCAT(CONCAT('%', #{executorHandler}), '%')
			</if>
			<if test="author != null and author != ''">
				AND t.author like CONCAT(CONCAT('%', #{author}), '%')
			</if>
		</trim>
		ORDER BY id DESC
-- 		LIMIT #{offset}, #{pagesize}
	</select>

	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM bdc_job_info t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="jobGroup gt 0">
				AND t.jobGroup = #{jobGroup}
			</if>
            <if test="triggerStatus gte 0">
                AND t.triggerStatus = #{triggerStatus}
            </if>
			<if test="jobDesc != null and jobDesc != ''">
				AND t.jobDesc like CONCAT(CONCAT('%', #{jobDesc}), '%')
			</if>
			<if test="executorHandler != null and executorHandler != ''">
				AND t.executorHandler like CONCAT(CONCAT('%', #{executorHandler}), '%')
			</if>
			<if test="author != null and author != ''">
				AND t.author like CONCAT(CONCAT('%', #{author}), '%')
			</if>
		</trim>
	</select>

	<insert id="save" parameterType="cn.gtmap.realestate.common.core.domain.job.BdcJobInfoDO" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO bdc_job_info (
			bdcJobGroupDTO,
			jobDesc,
			addTime,
			updatetime,
			author,
			alarmEmail,
			scheduleType,
			scheduleConf,
			misfireStrategy,
            executorRouteStrategy,
			executorHandler,
			executorParam,
			executorBlockStrategy,
			executorTimeout,
			executorFailRetryCount,
			glueType,
			glueSource,
			glueRemark,
			glueUpdatetime,
			childJobid,
			triggerStatus,
			triggerLastTime,
			triggerNextTime
		) VALUES (
			#{bdcJobGroupDTO},
			#{jobDesc},
			#{addTime},
			#{updatetime},
			#{author},
			#{alarmEmail},
			#{scheduleType},
			#{scheduleConf},
			#{misfireStrategy},
			#{executorRouteStrategy},
			#{executorHandler},
			#{executorParam},
			#{executorBlockStrategy},
			#{executorTimeout},
			#{executorFailRetryCount},
			#{glueType},
			#{glueSource},
			#{glueRemark},
			#{glueUpdatetime},
			#{childJobId},
			#{triggerStatus},
			#{triggerLastTime},
			#{triggerNextTime}
		);
		<!--<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
			/*SELECT @@IDENTITY AS id*/
		</selectKey>-->
	</insert>

	<select id="loadById" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		SELECT t.*
		FROM bdc_job_info t
		WHERE t.id = #{id}
	</select>

	<update id="update" parameterType="cn.gtmap.realestate.common.core.domain.job.BdcJobInfoDO" >
		UPDATE bdc_job_info
		SET
			bdcJobGroupDTO = #{bdcJobGroupDTO},
			jobDesc = #{jobDesc},
			updatetime = #{updatetime},
			author = #{author},
			alarmEmail = #{alarmEmail},
			scheduleType = #{scheduleType},
			scheduleConf = #{scheduleConf},
			misfireStrategy = #{misfireStrategy},
			executorRouteStrategy = #{executorRouteStrategy},
			executorHandler = #{executorHandler},
			executorParam = #{executorParam},
			executorBlockStrategy = #{executorBlockStrategy},
			executorTimeout = ${executorTimeout},
			executorFailRetryCount = ${executorFailRetryCount},
			glueType = #{glueType},
			glueSource = #{glueSource},
			glueRemark = #{glueRemark},
			glueUpdatetime = #{glueUpdatetime},
			childJobId = #{childJobId},
			triggerStatus = #{triggerStatus},
			triggerLastTime = #{triggerLastTime},
			triggerNextTime = #{triggerNextTime}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="java.util.HashMap">
		DELETE
		FROM bdc_job_info
		WHERE id = #{id}
	</delete>

	<select id="getJobsByGroup" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		SELECT t.*
		FROM bdc_job_info t
		WHERE t.bdcJobGroupDTO = #{bdcJobGroupDTO}
	</select>

	<select id="findAllCount" resultType="int">
		SELECT count(1)
		FROM bdc_job_info
	</select>


	<select id="scheduleJobQuery" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		select b.*, ROWNUM from
		   (SELECT t.*
			FROM bdc_job_info t
			WHERE t.triggerStatus = 1
				and t.triggerNextTime <![CDATA[ <= ]]> #{maxNextTime}
			ORDER BY id ASC ) b
        where rownum <![CDATA[ <= ]]> #{count,jdbcType=INTEGER}

	</select>

	<update id="scheduleUpdate" parameterType="cn.gtmap.realestate.common.core.domain.job.BdcJobInfoDO"  >
		UPDATE bdc_job_info
		SET
			triggerLastTime = #{triggerLastTime},
			triggerNextTime = #{triggerNextTime},
			triggerStatus = #{triggerStatus}
		WHERE id = #{id}
	</update>

</mapper>