<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.config.core.mapper.BdcJobLogGlueMapper">
	
	<resultMap id="XxlJobLogGlue" type="cn.gtmap.realestate.common.core.domain.job.BdcJobLogGlueDO" >
		<result column="id" property="id" />
	    <result column="jobId" property="jobId" />
		<result column="glueType" property="glueType" />
	    <result column="glueSource" property="glueSource" />
	    <result column="glueRemark" property="glueRemark" />
	    <result column="addTime" property="addTime" />
	    <result column="updatetime" property="updatetime" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.jobId,
		t.glueType,
		t.glueSource,
		t.glueRemark,
		t.addTime,
		t.updatetime
	</sql>
	
	<insert id="save" parameterType="cn.gtmap.realestate.common.core.domain.job.BdcJobLogGlueDO" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO bdc_job_logglue (
		jobId,
		glueType,
		glueSource,
		glueRemark,
		addTime,
		updatetime
		) VALUES (
			#{jobId},
			#{glueType},
			#{glueSource},
			#{glueRemark},
			#{addTime},
			#{updatetime}
		);
		<!--<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() 
		</selectKey>-->
	</insert>
	
	<select id="findByJobId" parameterType="java.lang.Integer" resultMap="XxlJobLogGlue">
		SELECT t.*
		FROM bdc_job_logglue t
		WHERE t.jobId = #{jobId}
		ORDER BY id DESC
	</select>
	
	<delete id="removeOld" >
		DELETE FROM bdc_job_logglue
		WHERE id NOT in(
			SELECT id FROM(
				SELECT id FROM bdc_job_logglue
				WHERE jobId = #{jobId}
				ORDER BY updatetime desc
-- 				LIMIT 0, #{limit}
			) t1
		) AND jobId = #{jobId}
	</delete>
	
	<delete id="deleteByJobId" parameterType="java.lang.Integer" >
		DELETE FROM bdc_job_logglue
		WHERE jobId = #{jobId}
	</delete>
	
</mapper>