<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.config.core.mapper.BdcJobLogReportMapper">
	
	<resultMap id="XxlJobLogReport" type="cn.gtmap.realestate.common.core.domain.job.BdcJobLogReportDO" >
		<result column="id" property="id" />
	    <result column="triggerDay" property="triggerDay" />
		<result column="runningCount" property="runningCount" />
	    <result column="sucCount" property="sucCount" />
	    <result column="failCount" property="failCount" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.triggerDay,
		t.runningCount,
		t.sucCount,
		t.failCount
	</sql>
	
	<insert id="save" parameterType="cn.gtmap.realestate.common.core.domain.job.BdcJobLogReportDO" >
		INSERT INTO bdc_job_log_report (
		id,
		triggerDay,
		runningCount,
		sucCount,
		failCount
		) VALUES (
		#{id},
			#{triggerDay},
			#{runningCount},
			#{sucCount},
			#{failCount}
		)
		<!--<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() 
		</selectKey>-->
	</insert>

	<update id="update" >
        UPDATE bdc_job_log_report
        SET runningCount = #{runningCount},
			sucCount = #{sucCount},
			failCount = #{failCount}
        WHERE triggerDay = #{triggerDay}
    </update>

	<select id="queryLogReport" resultMap="XxlJobLogReport">
		SELECT t.*
		FROM bdc_job_log_report t
		WHERE t.triggerDay between #{triggerDayFrom} and #{triggerDayTo}
		ORDER BY t.triggerDay ASC
	</select>

	<select id="queryLogReportTotal" resultMap="XxlJobLogReport">
		SELECT
			SUM(runningCount) running_count,
			SUM(sucCount) suc_count,
			SUM(failCount) fail_count
		FROM bdc_job_log_report  t
	</select>

</mapper>