<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.config.core.mapper.XxlJobRegistryDao">
	
	<resultMap id="XxlJobRegistry" type="cn.gtmap.realestate.common.core.domain.job.JobRegistry" >
		<result column="id" property="id" />
	    <result column="registryGroup" property="registryGroup" />
	    <result column="registryKey" property="registryKey" />
	    <result column="registryValue" property="registryValue" />
		<result column="updateTime" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.registryGroup,
		t.registryKey,
		t.registryValue,
		t.updateTime
	</sql>

	<select id="findDead" parameterType="java.util.HashMap" resultType="java.lang.Integer" >
		SELECT t.id
		FROM bdc_job_registry t
		<where>
				  (sysdate + numtodsinterval(#{timeout},'second'))  >  updateTime
		</where>
	</select>
	
	<delete id="removeDead" parameterType="java.lang.Integer" >
		DELETE FROM bdc_job_registry
		WHERE id in
		<foreach collection="ids" item="item" open="(" close=")" separator="," >
			#{item}
		</foreach>
	</delete>

	<select id="findAll" parameterType="java.util.HashMap" resultMap="XxlJobRegistry">
		SELECT t.*
		FROM bdc_job_registry t
		<where>
			(sysdate + numtodsinterval(#{timeout},'second')) > updateTime
		</where>
	</select>

    <update id="registryUpdate" >
        UPDATE bdc_job_registry
        SET updateTime = #{updateTime}
        WHERE registryGroup = #{registryGroup}
          AND registryKey = #{registryKey}
          AND registryValue = #{registryValue}
    </update>

    <insert id="registrySave" >
        INSERT INTO bdc_job_registry( registryGroup , registryKey , registryValue, updateTime)
        VALUES( #{registryGroup}  , #{registryKey} , #{registryValue}, #{updateTime})
    </insert>

	<delete id="registryDelete" >
		DELETE FROM bdc_job_registry
		WHERE registryGroup = #{registryGroup}
			AND registryKey = #{registryKey}
			AND registryValue = #{registryValue}
	</delete>

</mapper>