.bdc-right-content{
    padding-top: 0;
}

.bdc-menu-aside .aside {
    padding-top: 92px;
}

#aside{
    overflow-x: hidden;
}

.submenu a .cxzt{
    /*float: right;*/
    /*padding: 4px 5px 0 0;*/
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}
.menu-title-hj{
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 52px;
    left: 0;
    border: 1px solid #d0d5da;
    padding: 10px;
    box-sizing: border-box;
}

.menu-title-hj p{
    display: inline-block;
    padding-right: 5px;
}

.menu-title-hj p.wcx{
    color: #666;
}

.menu-title-hj p.success{
    color: #32b032;
}

.menu-title-hj p.fail{
    color: #f24b43;
}

.submenu a{
    padding-left: 75px;
}

