<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>新增委托书</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/popup.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css" />
    <link rel="stylesheet" href="../../static/ztree/metroStyle.css" />
    <link rel="stylesheet" href="../../static/css/config/zsyzh/zsyzh.css" />
</head>
<body>
    <div id="bdc-popup-large">
        <form class="layui-form" action="" id="wtsform" lay-filter="wtsform">
<!--            <input type="hidden" name="lqbmid" class="search"/>-->
<!--            <input type="hidden" name="lqrid" class="search"/>-->

            <div class="layui-form-item pf-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"><span class="required-span"><sub>*</sub></span>委托编号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="wtsbh" lay-verify="required|wtsbh" autocomplete="off" class="layui-input" placeholder="请输入">
                    </div>
                </div>

                <div class="layui-inline xzq-sele">
                    <label class="layui-form-label"><span class="required-span"><sub>*</sub></span>委托人姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="wtrxm" lay-verify="required|wtrxm" id="wtrxm" autocomplete="off" class="layui-input" placeholder="请输入" ondblclick="onReadIdCard(1)">
                    </div>
                </div>

                <div class="layui-inline xzq-sele">
                    <label class="layui-form-label"><span class="required-span"><sub>*</sub></span>委托人性别</label>
                    <div class="layui-input-inline">
                        <input lay-filter="wtrxb" lay-verify="required|wtrxb" id="wtrxb" name="wtrxb" autocomplete="off" class="layui-input" placeholder="请输入" ondblclick="onReadIdCard(1)">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label"><span class="required-span"><sub>*</sub></span>委托人证件号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="wtrzjh" lay-verify="required|wtrzjh" id="wtrzjh" autocomplete="off" class="layui-input" placeholder="请输入证件号" ondblclick="onReadIdCard(1)">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">委托人电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="wtrdh" lay-verify="" id="wtrdh" autocomplete="off" class="layui-input" placeholder="请输入电话" >
                    </div>
                </div>


                <div class="layui-inline">
                    <label class="layui-form-label"><span class="required-span"><sub>*</sub></span>受托人姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="strxm" lay-verify="required|strxm" id="strxm" autocomplete="off" class="layui-input" placeholder="请输入" ondblclick="onReadIdCard(2)">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label"><span class="required-span"><sub>*</sub></span>受托人性别</label>
                    <div class="layui-input-inline">
                        <input lay-filter="strxb" lay-verify="required|strxb" id="strxb" name="strxb" autocomplete="off" class="layui-input" placeholder="请输入" ondblclick="onReadIdCard(2)">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label"><span class="required-span"><sub>*</sub></span>受托人证件号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="strzjh" lay-verify="required|strzjh" id="strzjh" autocomplete="off" class="layui-input" placeholder="请输入" ondblclick="onReadIdCard(2)">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">受托人电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="strdh" lay-verify="" id="strdh" autocomplete="off" class="layui-input" placeholder="请输入电话" >
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">委托日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="wtksrq" id="wtksrq" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">见证人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="jzr" id="jzr" autocomplete="off" class="layui-input" placeholder="请输入见证人">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label"><span class="required-span"><sub>*</sub></span>坐落</label>
                    <div class="layui-input-inline">
                        <input type="text" name="zl" lay-verify="required|zl" id="zl" autocomplete="off" class="layui-input" placeholder="请输入坐落">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label"><span class="required-span"><sub>*</sub></span>委托原因</label>
                    <div class="layui-input-inline">
                        <input type="text" name="wtyy" lay-verify="required|wtyy" id="wtyy" autocomplete="off" class="layui-input" placeholder="请输入原因">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label"><span class="required-span"><sub>*</sub></span>委托事项</label>
                    <div class="layui-input-inline">
                        <select lay-filter="wtsx" id="wtsx" name="wtsx" lay-search="" class="search" lay-verify="required|wtsx">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>


                <div class="layui-inline bdc-frame-button-box">
                    <button class="layui-btn layui-btn-normal bdc-major-btn" lay-submit="" lay-filter="submitBtn">保存</button>
                    <button class="layui-btn layui-btn-normal bdc-secondary-btn bdc-frame-close" lay-filter="closeBtn" onclick="closeWin();">取消</button>
                </div>
            </div>
        </form>
    </div>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/layui/layui.all.js"></script>
    <script src='../../static/lib/bdcui/js/readIdCard.js'></script>
    <script src="../../static/ztree/jquery.ztree.core.js"></script>
    <script src="../../static/ztree/jquery.ztree.excheck.js"></script>
    <script src="../../static/ztree/jquery.ztree.exedit.js"></script>
    <script src="../../static/js/common.js"></script>
    <script src="../../static/js/cjwts/addWts.js"></script>
</body>
</html>