.tab-menu{
    margin-top: 0.022rem;
    height: 24px;
    overflow: hidden;
    position: relative;
    border-radius: 18px;
}
ul#timelist{
    padding: 0;
    list-style: none;
    display: inline-block;
    margin-top: 0.02rem;
}
.tab-menu li{
    height: 24px;
    line-height: 24px;
    float: left;
    text-align: center;
    position: relative;
    font-size: 12px;
}
.tab-menu span{
    margin: 4px;
    display: inline-block;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 18px;
    transition: left .4s;
    -webkit-transition: left .4s;
    -moz-transition: left .4s;
}
li:hover{
    cursor: pointer;
}
.tworow{
    width: 160px;
    background-color: rgba(224, 229, 232, 1);
}
.tworow span{
    width: 72px;
    background-color: rgba(0, 54, 80, 1);
}
.tworow .active{
    color: white;
}
.tworow li{
    width: 80px;
    color:rgba(0, 54, 80, 1);
}
.eightrow li{
    width: 50px;
    color: white;
}
.eightrow .active{
    color: #10aefc;
}
.eightrow{
    /*width: 700px;*/
    /*background: #10aefc;*/
    background: #053181;
}
.eightrow span{
    width: 42px;
    background: white;
}