<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>选择户室</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/search.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css"/>
    <link rel="stylesheet" href="../../static/lib/registerui/css/percentage-layout.css"/>
</head>

<!--备案信息台账部分-->
<body>
<div class="bdc-percentage-container bdc-line-search-container">
    <!--查询条件-->
    <div class="bdc-search-content">
        <div class="bdc-search-box">
            <!--默认两行的-->
            <form class="layui-form" action="" lay-filter="searchform">
                <div class="layui-form-item pf-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">坐落</label>
                        <div class="layui-input-inline">
                            <input name="zl" type="text" autocomplete="off" placeholder="坐落"
                                   class="layui-input search">
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">房间号</label>
                        <div class="layui-input-inline">
                            <input name="fjh" type="text" autocomplete="off" placeholder="房间号"
                                   class="layui-input search">
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">不动产单元号</label>
                        <div class="layui-input-inline">
                            <input name="bdcdyh" type="text" autocomplete="off" placeholder="不动产单元号"
                                   class="layui-input search">
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <!--查询按钮-->
                    <div class="layui-inline bdc-button-box">
                        <button class="layui-btn layui-btn-normal bdc-major-btn" type="button" lay-submit=""
                                id="queryhs"
                                lay-filter="queryhs">查询
                        </button>
                        <button type="reset" class="layui-btn layui-btn-normal bdc-secondary-btn">重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="bdc-table-box">
        <table id="hsTable" lay-data="{id: 'hsTable'}" lay-filter="hsTable"></table>
    </div>

    <!--表格上面功能按钮-->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm layui-btn-danger bdc-table-second-btn" lay-event="link" id="link">关联</button>
        </div>
    </script>
    <script type="text/html" id="hsczTpl">
        <a class="layui-btn layui-btn-xs bdc-major-btn" lay-event="showlpb">查看</a>
    </script>
</div>
</body>

<!--引入js部分一般放在最下面-->
<script src="../../static/lib/layui/layui.js"></script>
<script src="../../static/lib/jquery/jquery.min.js"></script>
<!--小数计算防精度缺失-->
<script src="../../static/lib/mathjs/math.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/table.js"></script>
<script src="../../static/js/lpb/selectHs.js"></script>
</html>