<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>登记页面</title>
    <link rel="stylesheet" href="../../../static/lib/layui/css/layui.css">
    <!--formSelects-v4.css 和 search.css 顺序不能错-->
    <link rel="stylesheet" href="../../../static/lib/form-select/formSelects-v4.css">
    <link rel="stylesheet" href="../../../static/lib/bdcui/css/search.css"/>
    <link rel="stylesheet" href="../../../static/lib/bdcui/css/form-tab.css"/>
    <link rel="stylesheet" href="../../../static/lib/registerui/css/process.css">
    <link rel="stylesheet" href="../../../static/lib/bdcui/css/mask.css"/>
    <style type="text/css">
        .bdc-not-null .layui-form-label.bdc-two-lines{
            line-height: 14px;
        }
    </style>
</head>
<body>
<div class="bdc-container-box bdc-not-full-bg">
    <div class="bdc-container">
        <div class="bdc-header clear">
            <p class="bdc-header-this">业务受理配置<img src="../../../static/lib/registerui/image/arrow.png" alt="">
                <span class="bottom-sj bottom-sj-1"></span>
                <span class="bottom-sj bottom-sj-2"></span>
            </p>
            <p>业务逻辑配置<img src="../../../static/lib/registerui/image/arrow.png" alt=""></p>
            <p>其他相关配置</p>
        </div>
        <p class="bdc-title">1/11：一窗受理流程与登记流程关系表</p>
        <!--内容区-->
        <div class="bdc-inner-content">
            <form class="layui-form" action="" lay-filter="lypzStep1Form">
                <div class="layui-form-item pf-form-item">
                    <div class="layui-inline bdc-not-null">
                        <label class="layui-form-label"><span class="required-span"><sub>*</sub></span>工作流名称</label>
                        <div class="layui-input-inline bdc-radio">
                            <select xm-select="selectPzGzldymc" lay-verify="required" xm-select-radio xm-select-search="" xm-select-height="34px" xm-select-search-type="dl">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline bdc-not-null">
                        <label class="layui-form-label bdc-two-lines"><span class="required-span"><sub>*</sub></span>一窗受理<br>工作流名称</label>
                        <div class="layui-input-inline bdc-radio">
                            <select  xm-select="selectYcslGzldymc" lay-verify="required" name="ycslgzlmc" id="ycslgzlmc" xm-select-radio xm-select-search="" xm-select-height="34px" xm-select-search-type="dl">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div>
                    <input type="hidden" name="pzid" id="pzid"/>
                </div>
                <div class="bdc-btn-box">
                    <a href="javascript:;" class="layui-btn bdc-secondary-btn beforestep">上一步</a>
                    <a href="javascript:;" class="layui-btn bdc-secondary-btn" lay-submit="" lay-filter="submitBtn" title="提交已填步骤">保存</a>
                    <a href="javascript:;" class="layui-btn bdc-major-btn nextstep layui-btn-disabled" disabled="disabled">下一步</a>
                </div>
            </form>
            <!--异常 提示信息-->
            <div class="bdc-other-tips-box bdc-hide">
                <div class="bdc-other-tips">
                    <p>错误提示：<span class="bdc-close">不再提示</span></p>
                    <div id="otherTips">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../../static/lib/jquery/jquery.min.js"></script>
<script src="../../../static/lib/layui/layui.js"></script>
<!--添加水印-->
<script src="../../../static/lib/bdcui/js/common.js"></script>
<script src="../../../static/js/config/common.js"></script>
<script src="../../../static/js/config/lcpz/lcpzStep11_1.js"></script>
</html>