<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>登记页面</title>
    <link rel="stylesheet" href="../../../static/lib/layui/css/layui.css">
    <!--formSelects-v4.css 和 search.css 顺序不能错-->
    <link rel="stylesheet" href="../../../static/lib/form-select/formSelects-v4.css">
    <link rel="stylesheet" href="../../../static/lib/bdcui/css/search.css"/>
    <link rel="stylesheet" href="../../../static/lib/bdcui/css/form-tab.css"/>
    <link rel="stylesheet" href="../../../static/lib/registerui/css/process.css">
    <link rel="stylesheet" href="../../../static/lib/bdcui/css/mask.css"/>
    <style type="text/css">
        .bdc-not-null .layui-form-label.bdc-two-lines{
            line-height: 14px;
        }
        .bdc-other-tips-box{
            z-index: 1;
        }
    </style>
</head>
<body>
    <div class="bdc-container-box bdc-not-full-bg">
        <div class="bdc-container">
            <div class="bdc-header clear">
                <p class="bdc-header-this">业务受理配置<img src="../../../static/lib/registerui/image/arrow.png" alt="">
                    <span class="bottom-sj bottom-sj-1"></span>
                    <span class="bottom-sj bottom-sj-2"></span>
                </p>
                <p>业务逻辑配置<img src="../../../static/lib/registerui/image/arrow.png" alt=""></p>
                <p>其他相关配置</p>
            </div>
            <p class="bdc-title">3/13：已选不动产单元开关配置</p>
            <!--内容区-->
            <div class="bdc-inner-content">
                <form class="layui-form" action="">
                    <div class="layui-form-item pf-form-item">
                        <div class="layui-inline bdc-not-null">
                            <label class="layui-form-label"><span class="required-span"><sub>*</sub></span>工作流名称</label>
                            <div class="layui-input-inline bdc-radio">
                                <select xm-select="selectPzGzldymc"  disabled="disabled"lay-verify="required" name="gzldyid" id="gzldyid" xm-select-radio xm-select-search="" xm-select-height="34px" xm-select-search-type="dl">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline bdc-not-null">
                            <label class="layui-form-label"><span class="required-span"><sub>*</sub></span>登记小类</label>
                            <div class="layui-input-inline bdc-radio">
                                <select xm-select="selectPzDjxl"  disabled="disabled"lay-verify="required" name="" id="djxl" xm-select-radio xm-select-search="" xm-select-height="34px" xm-select-search-type="dl">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline bdc-not-null">
                            <label class="layui-form-label bdc-two-lines"><span class="required-span"><sub>*</sub></span>是否显示<br>证书数量</label>
                            <div class="layui-input-inline bdc-radio ">
                                <select xm-select="selectSfxszssl" lay-verify="required" name="zssl" id="zssl" xm-select-radio xm-select-search="" xm-select-height="34px" xm-select-search-type="dl" xm-select-skin>
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label bdc-two-lines">证书数量<br>默认值</label>
                            <div class="layui-input-inline bdc-radio">
                                <select xm-select="selectZsslmrz" lay-verify="zssl_required" name="zsslmrz" id="zsslmrz" xm-select-radio xm-select-search="" xm-select-height="34px" xm-select-search-type="dl" xm-select-skin>
                                    <option value="">请选择</option>
                                    <option value="1">一本证</option>
                                    <option value="9">多本证</option>
                                </select>
                            </div>
                        </div>
                        <div class="bdc-other-tips-box" style="bottom: 50px">
                            <div class="bdc-other-tips">
                                <p>提示信息：</p>
                                <div id="tip">
                                    <p>是否显示证书数量 ：“是”在已选不动产单元页面中显示单选框生成一本证或者多本证，“否”则不显示</p>
                                    <p>证书数量默认值：已选不动产单元页面生成一本证或者多本证单选框默认显示值</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="hidden" name="pzid" id="pzid"/>
                        </div>
                    </div>
                    <div class="bdc-btn-box">
                        <a href="javascript:;" class="layui-btn bdc-secondary-btn beforestep">上一步</a>
                        <a href="javascript:;" class="layui-btn bdc-secondary-btn" lay-submit="" lay-filter="submitBtn"  title="提交已填步骤">保存</a>
                        <a href="javascript:;" class="layui-btn bdc-major-btn nextstep layui-btn-disabled" disabled="disabled">下一步</a>
                    </div>
                </form>
                <!--异常 提示信息-->
                <div class="bdc-other-tips-box bdc-hide">
                    <div class="bdc-other-tips">
                        <p>错误提示：<span class="bdc-close">不再提示</span></p>
                        <div id="otherTips">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../../static/lib/jquery/jquery.min.js"></script>
<script src="../../../static/lib/layui/layui.js"></script>
<!--添加水印-->
<script src="../../../static/lib/bdcui/js/common.js"></script>
<script src="../../../static/js/config/common.js"></script>
<script src="../../../static/js/config/lcpz/lcpzStep3.js"></script>
</html>