<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>质检核查查询</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/search.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css"/>
    <link rel="stylesheet" href="../../static/lib/registerui/css/percentage-layout.css"/>

</head>
<body>
<div class="bdc-percentage-container">
    <div class="bdc-search-content">
        <div class="bdc-search-box">
            <form class="layui-form" action="">
                <div class="layui-form-item pf-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">筛选方式</label>
                        <div class="layui-input-inline">
                            <select id="sxfs" lay-filter="sxfs" lay-search="" name="sxfs">
                                <option value = "0" selected="selected">手动筛选</option>
                                <option value = "1">随机筛选</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">受理编号</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input search" id="slbh" name="slbh" placeholder="请输入" type="text"/>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">不动产单元号</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input search" id="bdcdyh" name="bdcdyh" placeholder="请输入" type="text"/>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">流程名称</label>
                        <div class="layui-input-inline">
                            <select class="search" id="gzldyid" lay-filter="gzldyid" lay-search="" name="gzldyid">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">起始时间</label>
                        <div class="layui-input-inline pf-start-time-box">
                            <input autocomplete="off" class="layui-input date test-item search" id="kssj" name="kssj"
                                   placeholder="请输入" type="text"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-inline pf-end-time-box">
                            <input autocomplete="off" class="layui-input date test-item search" id="jssj" name="jssj"
                                   placeholder="请输入" type="text"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">坐落</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input search" id="zl" name="zl" placeholder="请输入" type="text"/>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="pf-senior-show-normal bdc-hide">
                        <div class="layui-inline">
                            <label class="layui-form-label">权利人</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input search" id="qlr" name="qlr" placeholder="请输入" type="text"/>
                                <i class="layui-icon layui-icon-close bdc-hide"></i>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">义务人</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input search" id="ywr" name="ywr" placeholder="请输入" type="text"/>
                                <i class="layui-icon layui-icon-close bdc-hide"></i>
                            </div>
                        </div>
                    </div>

                    <div class="layui-inline bdc-button-box">
                        <a href="javascript:" lay-filter="search" lay-submit="" class="layui-btn layui-btn-normal bdc-major-btn" id="search">查询</a>
                        <button type="reset" class="layui-btn layui-btn-normal bdc-secondary-btn" id="reset">重置</button>
                        <a class="layui-btn layui-btn-normal bdc-secondary-btn" href="javascript:" id="seniorSearchNormal">高级查询</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="bdc-table-box">
            <table id="pageTable" lay-filter="pageTable"></table>
        </div>
    </div>


    <!--表格上面功能按钮-->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm bdc-major-btn" lay-event="create">创建</button>
        </div>
    </script>

</div>
</body>

<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/layui/layui.js"></script>
<!--添加水印-->
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/commonSearch.js"></script>
<script src="../../static/js/formCenter.js"></script>
<script src="../../static/js/zj/zjhc.js"></script>
</html>