<!--
    卫计委死亡证明查询接口查询测试界面
-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>卫计委死亡证明查询接口查询</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/search.css" />
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css" />
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css" />
    <link rel="stylesheet" href="../../static/lib/registerui/css/percentage-layout.css"/>
    <link rel="stylesheet" href="../../static/css/common.css"/>
    <link rel="stylesheet" href="../../static/css/bjjk/bjjk.css"/>
</head>
<body>
<div class="bdc-percentage-container bdc-line-search-container">
    <!--查询条件-->
    <div class="bdc-search-content">
        <div class="bdc-search-box">
            <!--默认两行的-->
            <form class="layui-form" action="" lay-filter="searchform">
                <div class="layui-form-item pf-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">受理编号</label>
                        <div class="layui-input-inline">
                            <input id="slbh" name="slbh" type="text" autocomplete="off" placeholder="请输入" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <select name="qlrmc" id="qlrmc" lay-filter="qlrmc" class="search" lay-filter="qlrmc">
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">证件号</label>
                        <div class="layui-input-inline">
                            <input id="zjh" name="zjh" type="text" autocomplete="off" placeholder="请输入" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline bdc-button-box">
                        <a href="javascript:;" class="layui-btn layui-btn-normal bdc-secondary-btn" id="qtqlr">其他权利人</a>
                        <a href="javascript:;" class="layui-btn layui-btn-normal bdc-major-btn" id="search">查询</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--表格-->
    <div class="bdc-table-box">
        <table id="pageTable" lay-filter="pageTable"></table>
    </div>

    <!--表格上面功能按钮-->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm bdc-table-second-btn upload-pdf" lay-event="upload-pdf">上传PDF</button>

        </div>
    </script>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/layui/layui.js"></script>
    <script src="../../static/js/common.js"></script>
    <script src="../../static/js/gxjklc/gxjkCommon.js"></script>
    <script src="../../static/js/bjjk/swzm.js"></script>
    <script src="../../static/lib/bdcui/js/common.js"></script>
</div>
</body>
</html>