.layui-table-cell {
    height: auto !important;
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
}

.layui-form-item .layui-inline.bdc-full-column {
    width: 100%;
}

.layui-form-item .full-column {
    width: 90%;
}

.layui-textarea {
    overflow-y: auto;
}

.change-textarea-margin .layui-input-inline {
    width: 80% !important;
}

.tssfxx .bdc-table-box-cz {
    padding: 39px 10px 10px 10px;
}

/*批量页面总计*/
.bdc-table-zj {
    width: 100%;
    height: 40px;
    min-height: 40px;
    line-height: 20px;
    background-color: #f3f4f6;
    border: 1px solid #d0d5da;
    border-bottom: none;
    padding-left: 15px;
    box-sizing: border-box;
    /*position: absolute;*/
    /*top: 100px;*/
    /*left: 0;*/
    z-index: 999;
}

.bdc-table-zj div {
    display: inline-block;
    width: 15%;
    padding: 10px;
}

.bdc-table-zj .lcslbh{
    display: inline-block;
    width: 20%;
    padding: 10px;
}

.bdc-table-zj div:nth-child(7),
.bdc-table-zj div:nth-child(12) {
    padding-left: 110px;
}

.bdc-table-zj > span:first-child {
    padding-right: 40px;
}

.bdc-table-zj > span img {
    margin-right: 10px;
}

.bdc-table-zj i {
    font-style: normal;
    color: #1d87d1;
    margin-left: 15px;
}

.bdc-percentage-container {
    padding-top: 10px !important;
}

.bdc-search-content {
    position: static;
    background-color: #fff;
    /*margin-top: 10px;*/
}

#mainDiv {
    /*overflow: scroll;*/
}

.layui-table-page {

}

.layui-table-cell, .layui-table-tool-panel li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}