<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>异常情况主动申报</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/form-tab.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css">
    <link rel="stylesheet" href="../../static/css/common.css"/>
</head>
<body>
<div class="bdc-form-div bdc-not-full-bg">
    <!--全局 标题和操作按钮 开始-->
    <form class="layui-form sl-from bdc-form-table" lay-filter="sbxx" id="sbxx">
        <div class="bdc-content-fix">
            <div class="content-title layui-clear">
                <p>异常情况申报</p>
                <div id="buttonArea">
                    <div class="title-btn-area">
                        <button class="layui-btn bdc-major-btn" lay-submit="" lay-filter="saveData" type="button" id="saveData">保存</button>
                        <a href="javascript:;" class="layui-btn layui-btn-normal bdc-secondary-btn fjcl" id="fjcl">附件上传</a>
                        <a href="javascript:;" class="layui-btn layui-btn-normal bdc-secondary-btn fjtz" id="fjtz">附件台账</a>
                    </div>
                </div>
            </div>
        </div>
        <!--全局 标题和操作按钮 结束-->
        <div class="form-margin-area">
            <div class="form-margin-area">
                <div id="stfxx" class="basic-info">
                    <div class="title-sign">
                        <p>情况说明</p>
                    </div>
                    <div class="layui-form-item">
                        <input type="hidden" id="id" name="id" class="layui-input">
                        <input type="hidden" id="gzlslid" name="gzlslid" class="layui-input">

                        <div class="layui-inline">
                            <label class="layui-form-label change-label-width">受理编号</label>
                            <div class="layui-input-inline">
                                <input type="text" autocomplete="off" id="slbh" name="slbh" class="layui-input" disabled="off">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">受理时间</label>
                            <div class="layui-input-inline">
                                <input type="text" autocomplete="off" id="slsj" name="slsj" class="layui-input" disabled="off">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label change-label-width">填报人</label>
                            <div class="layui-input-inline">
                                <input type="text" id="tbr" name="tbr" class="layui-input" disabled="off">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">填报时间</label>
                            <div class="layui-input-inline">
                                <input type="text" autocomplete="off" id="tbsj" name="tbsj" class="layui-input" disabled="off">
                            </div>
                        </div>
                        <div class="layui-inline bdc-two-column">
                            <label class="layui-form-label">异常办件原因</label>
                            <div class="layui-input-inline">
                                <select lay-filter="ycbjyy" id="ycbjyy" name="ycbjyy" lay-search="" class="search">
                                    <option value="">请选择</option>
                                </select>
                                <i class="layui-icon layui-icon-close bdc-hide"></i>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item change-textarea-margin">
                        <label class="layui-form-label change-label-width">异常详情描述</label>
                        <div class="layui-input-inline">
                            <textarea class="layui-textarea change-textarea-width bdcxm" name="yysm" id="yysm" style="height: 200px"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>

<script src="../../static/lib/layui/layui.js"></script>
<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/formCenter.js"></script>
<script src="../../static/js/ycqkzdsb/ycqksb.js"></script>