.layui-form-label {
    width: 100px !important;
}

.pannel-container .layui-form-item .layui-input-inline {
    float: left;
    width: 80%;
    margin-right: 10px;
}

.set-tr-height300 {
    height: 300px;
}