body, html {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
}
.clear:after{
    content: "";
    display: block;
    clear: both;
}
.bdc-major-btn {
    background-color: #1d87d1;
}
.bdc-major-btn:hover {
    background-color: #1675b8;
}

.bdc-form-div{
    padding-top: 58px!important;
    background-color: #eaedf1;
}

.bdc-content-fix {
    width: 100%;
    height: 58px;
    background-color: #eaedf1;
    padding: 0 10px;
    box-sizing: border-box;
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 999;
}
.content-title {
    padding: 10px 0;
    border-bottom: 1px solid #d0d5da;
    background-color: #fff;
    height: 58px;
    clear: both;
    top: 10px;
    left: 10px;
    z-index: 9;
    box-sizing: border-box;
}
.content-title p {
    font-size: 16px;
    color: #333;
    float: left;
    margin-left: 10px;
    line-height: 38px;
}
.content-title .title-btn-area {
    float: right;
    margin-right: 10px;
}

.bdc-first-container{
    width: 100%;
    height: 982px;
    float: left;
    position: relative;
}
.bdc-qlxx{
    width: 100%;
    float: left;
    height: 100%;
}
.bdc-iframe-contaner{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #eaedf1;
    float: left;
}
.bdc-iframe-content{
    width: 100%;
    height: 310px;
    position: relative;
    background-color: #fff;
}
.bdc-dyxx{
    width: 960px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.bdc-container #bdc-popup-large{
    margin: 0 auto;
}

.bdc-add-title{
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
}
.bdc-add-title>p{
    background-color: #fff;
    text-align: center;
    font-size: 16px;
}
.bdc-second-title{
    width: 100%;
    height: 85px;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    padding: 30px 10px 10px 10px;
    box-sizing: border-box;
}
.bdc-second-title>p{
    border-top: 1px dashed #d0d5da;
    line-height: 58px;
}