.bdc-form-div{
    padding-top: 68px;
    height: 100%;
}
.bdc-form-div .layui-form{
    min-height: 100%;
}
.bdc-title-sign-btn .bdc-title-sign-btn-box {
    position: absolute;
    top: 0;
    right: 10px;
}
.layui-table th{
    text-align: center;
    background-color: #f3f4f6;
}
.bdc-jbxx{
    border-bottom: 1px dotted #d0d5da;
}