.bdc-title-sign-btn .bdc-title-sign-btn-box {
    position: absolute;
    top: 0;
    right: 10px;
}

.sjclForm {
    margin-top: 10px;
}

.sl-from table td {
    padding: 0;
    height: 39px;
    text-align: center;
}

.layui-form-item .layui-table .layui-form-checkbox[lay-skin=primary] {
    margin-top: 0;
    margin-left: 10px;
}

.form-add-padding {
    padding: 10px 0 0 0;
}

.set-right {
    text-align: right;
}

.set-back-color {
    background-color: #f3f4f6;
}

.set-tr-height78 {
    height: 78px;
}

.bdc-title-sign-btn .bdc-title-sign-btn-box {
    position: absolute;
    top: 0;
    right: 10px;
}

.bdc-fj-inline .layui-textarea {
    min-height: 100px;
}

/*附记重新生成按钮*/
.bdc-fj-inline .bdc-pj-popup {
    width: 28px;
    height: 100%;
    line-height: 17px;
    padding-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #d0d5da;
    background-color: #f3f4f6;
    border-left: none;
    box-sizing: border-box;
    text-align: center;
    color: #1d87d1;
    cursor: pointer;
}

.bdc-td-box .layui-form-danger{
    border: 1px solid #f54743 !important;
}

/*合同备案弹出层*/
.bdc-htbh-popup{
    padding-bottom: 10px;
    border-bottom: 1px solid #d0d5da;
}
#bdc-popup-large .bdc-htbh-popup .layui-form-item .layui-inline.bdc-button-box{
    width: 310px;
}
#bdc-popup-large .layui-table,#bdc-popup-large .layui-table-view{
    margin-top: 0;
}
.title-ui {
    z-index: 20;
    margin-right: 14px;
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid #d0d5da;
    top: 62px;
    right: -15px;
    display: none;
}
.title-ui li {
    padding: 0 14px 0 14px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

#bdcdyxxTable {
    margin-bottom: 50px;
}

.inner-info {
    padding: 10px 0 0 0;
}

.bdc-form-search .layui-form-item .layui-input-inline .layui-input {
    border-radius: 17px;
}

.bdc-form-search .bdc-button-box .layui-btn,
.bdc-form-search .bdc-button-box-four .layui-btn {
    width: 34px;
    padding: 0;
    border-radius: 50%;
    margin-right: 5px;
}