<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title class="bdc_subsystem"></title>
    <meta content="webkit" name="renderer"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta content="IE=Edge,no-cache" http-equiv="X-UA-Compatible"/>
    <meta content="no-cache" http-equiv="Pragma"/>
    <meta content="no-cache" http-equiv="Cache-Control"/>
    <meta content="0" http-equiv="Expires"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="../static/lib/layui/css/layui.css" media="all" rel="stylesheet" />
    <link href="../static/lib/bdcui/css/search.css" media="all" rel="stylesheet" />
    <link href="../static/lib/bdcui/css/table.css" media="all" rel="stylesheet" />
    <link href="../static/lib/bdcui/css/mask.css" media="all" rel="stylesheet" />
    <link href="../static/lib/bdcui/css/popup.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/admin.css" media="all"/>
    <link rel="stylesheet" href="../static/css/home-page.css" media="all"/>
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <script language='javascript' for="myPad" event="OnEvaluateCompleted(status, evaluateValue, runningNumber)">
        OnEvaluateCompleted(status, evaluateValue, runningNumber);
    </script>
    <script language='javascript' for="myPad" event="OnSignCompleted(result, confirmResult, signPicBase64, signData, runningnumber)">
        OnSignCompleted(result, confirmResult, signPicBase64, signData, runningnumber);
    </script>
    <script language='javascript' for="myPad" event="OnFaceValidateWithIdCardCompleted(result, validate, score, photoBase64, jsonData, frontSideBase64, backSideBase64, sceneBase64, runningNumber) ">
        OnFaceValidateWithIdCardCompleted(result, validate, score, photoBase64, jsonData, frontSideBase64, backSideBase64, sceneBase64, runningNumber);
    </script>
    <script language='javascript' for="myPad" event="OnInteractionCompleted(status, interactionResult, runningNumber)">
        OnInteractionCompleted(status, interactionResult, runningNumber);
    </script>
    <script language='javascript' for="myPad" event="OnFingerprintCompleted(status, confirmResult, fingerImageBase64, fingerFeatureBase64, runningNumber)">
        OnFingerprintCompleted(status, confirmResult, fingerImageBase64, fingerFeatureBase64, runningNumber);
    </script>
    <script language='javascript' for="myPad" event="OnGetIdcardCompleted(result, confrimResult, photoBase64, jsonData, frontSideBase64, backSideBase64, runningNumber)">
        OnGetIdcardAsyncCompleted(result, confrimResult, photoBase64, jsonData, frontSideBase64, backSideBase64, runningNumber);
    </script>
    <script language='javascript' for="myPad" event="SignDeclarationCompleted(result, confirmResult, signPicBase64, signData, runningnumber)">
        SignDeclarationCompleted(result, confirmResult, signPicBase64, signData, runningnumber);
    </script>
    <script language='javascript' for="myPad" event="OnCapactiveWriteCompleted(result,confirmResult, signPicBase64, runningnumber)">
        OnCapactiveWriteCompleted(result, confirmResult, signPicBase64, runningnumber);
    </script>
    <script language='javascript' for="myPad" event="OnShowPdfSignExCompleted(result,confirmResult, iSignType, signPicBase64, signData, fingerImageBase64, fingerFeatureBase64, message ,runningnumber)">
        OnShowPdfSignExCompleted(result, confirmResult, iSignType, signPicBase64, signData, fingerImageBase64, fingerFeatureBase64, message, runningnumber);
    </script>
    <script src="../static/js/pjqLogin.js"></script>
</head>
<body class="layui-layout-body">
<object id="myPad" style="display: none"
        classid="clsid:433E8BB0-CAB7-4490-B395-5D7A27BB6D6C"></object>
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect="">
                    <a href="javascript:" layadmin-event="flexible" title="侧边伸缩" id="flexible">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right ul-margin-right">
                <li class="layui-nav-item bdc-system-nav">
                    <a href="#">
                        <cite><img alt="" src="../static/image/system.png"/><span class="bdc_subsystem">不动产登记业务管理系统</span></cite>
                    </a>
                    <dl class="layui-nav-child bdc-system-child">
                        <ul id="systemView">

                        </ul>
                    </dl>
                </li>
                <li class="layui-nav-item bdc-person-nav">
                    <a href="javascript:">
                        <cite><img alt="" src="../static/image/person.png"/><span class="bdc-user-name">    </span></cite>
                    </a>
                    <dl class="layui-nav-child bdc-person-child">
                        <dd>
                            <!--<a href="./basic-info.html?now=basic" target="_blank" class="bdc-message">基本资料</a>-->
                            <a href="javascript:" class="bdc-message">基本资料</a>
                        </dd>
                        <dd>
                            <!--<a href="./basic-info.html?now=update" target="_blank">修改密码</a>-->
                            <a href="javascript:" class="bdc-update">修改密码</a>
                        </dd>
                        <dd>
                            <a href="javascript:" class="bdc-logout">退出</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item bdc-msg-nav">
                    <a href="javascript:" id="msgTitleView">
                        <cite><img alt="" src="../static/image/msg.png"/>消息中心</cite>
                    </a>
                    <div class="layui-nav-child bdc-msg-child">
                        <p class="bdc-msg-title">消息</p>
                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" id="msgView">
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo">
                    <img alt="" class="bdc-logo-img" src="../static/image/logo.png"/>
                    <span class="bdc_subsystem">不动产登记业务管理系统</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-set-sm">
                <img alt="" src="../static/image/tab/gj.png"/>
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect="">
                        <a href="javascript:"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-icon layadmin-tabs-control bdc-refresh-frame">
                <img alt="" src="../static/image/tab/sx.png"/>
            </div>
            <div class="layui-tab bdc-outer-tab" lay-unauto="" lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li><i class="layui-icon layui-icon-home"></i></li>
                    <li id="LAY_app_tabsheader_home" lay-id="console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>

        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item"></div>
            <div class="layadmin-tabsbody-item" id="homeDiv">
                <iframe src="listTasks.html" frameborder="0" class="layadmin-iframe"></iframe>
                <!--无用div，防止报错-->
                <div id="carouselView" hidden="hidden" carousel-item=""></div>
            </div>
            <!--异常 提示信息-->
            <div class="bdc-other-tips-box bdc-hide">
                <div class="bdc-other-tips">
                    <p>错误提示：<span class="bdc-close">不再提示</span></p>
                    <div id="otherTips">

                    </div>
                </div>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>

    </div>
</div>


<!--挂起的弹出框-->
<div id="bdc-popup-textarea" class="bdc-hide">
    <form class="layui-form" action="">
        <div class="layui-form-item pf-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" id="gqjgyyLab"><span class="required-span"><sub>*</sub></span>挂起原因</label>
                <div class="layui-input-inline bdc-end-time-box">
                    <textarea name="reason" placeholder="请输入内容" id="gqjgyy" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

<!--侧边栏动态加载-->
<script type="text/html" id="asideTpl">
    {{#  layui.each(d, function(index, item){ }}
    <li data-name="{{item.mark}}" class="layui-nav-item">
        {{#  if(item.childTree.length > 0){ }}
        <a lay-tips="{{item.name}}" lay-direction="2">
            <i class="layui-icon bdc-icon{{index+1}}"></i>
            <cite>{{item.name}}</cite>
        </a>
        <dl class="layui-nav-child">
            {{#  layui.each(item.childTree, function(secondI, secondV){ }}
            <dd data-name="{{secondV.mark}}">
                {{#  if(secondV.childTree.length > 0){ }}
                <a>{{secondV.name}}</a>
                <dl class="layui-nav-child">
                    {{#  layui.each(secondV.childTree, function(thirdI, thirdV){ }}
                    <dd data-name="{{thirdV.mark}}">
                        {{#  if(thirdV.childTree.length > 0){ }}
                        <a>{{thirdV.name}}</a>
                        <div class="bdc-four-list">
                            {{#  layui.each(thirdV.childTree, function(fourthI, fourthV){ }}
                            <p lay-href="{{fourthV.url}}" class="bdc-show-msg">{{fourthV.name}}</p>
                            {{#  }); }}
                        </div>
                        {{# }else{ }}
                        <a lay-href="{{thirdV.url}}" class="bdc-show-msg">{{thirdV.name}}</a>
                        {{#  } }}
                    </dd>
                    {{#  }); }}
                </dl>
                {{# }else{ }}
                <a lay-href="{{secondV.url}}" class="bdc-show-msg">{{secondV.name}}</a>
                {{#  } }}
            </dd>
            {{#  }); }}
        </dl>
        {{# }else { }}
        <a lay-href="{{item.url}}" lay-tips="{{item.name}}" class="bdc-show-msg" lay-direction="2">
            <i class="layui-icon bdc-icon{{index+1}}"></i>
            <cite>{{item.name}}</cite>
        </a>
        {{#  } }}
    </li>
    {{#  }); }}
</script>

<!--系统-->
<script type="text/html" id="systemTyl">
    {{#  layui.each(d, function(index, item){ }}
    <li><a href="{{item.url}}"><img src="../static/image/logo.png" alt=""></img>{{item.name}}</a></li>
    {{#  }); }}

</script>

<!--轮播图动态渲染模板-->
<script type="text/html" id="carouselTpl">
    {{#  layui.each(d, function(index, item){ }}
    <div class="bdc-carousel-father">
        {{#  layui.each(item, function(ind, value){ }}
        <div class="bdc-carousel-son">
            <div class="bdc-carousel-title">{{value.description}}<span class="bdc-sprite-img"></span></div>
            {{# if(value.processList != null && value.processList.length>0){ }}
            <div class="bdc-carousel-details bdc-hide">
                <i class="layui-icon layui-icon-close bdc-carousel-close"></i>
                <div class="bdc-details-type">
                    <p class="bdc-details-type-content clear">
                        {{#  layui.each(value.processList, function(i, v){ }}
                        {{#  if(v.commonUse == 0){ }}
                        <a href="javascript:">{{v.name}}
                            <i class="layui-icon bdc-visible layui-icon-rate" data-type="{{v.category}}" data-code="{{v.processDefKey}}" data-name="{{v.name}}" data-id="{{v.id}}"></i>
                        </a>
                        {{# }else{ }}
                        <a href="javascript:">{{v.name}}
                            <i class="layui-icon layui-icon-rate-solid" data-type="{{v.category}}" data-code="{{v.processDefKey}}" data-name="{{v.name}}" data-id="{{v.id}}"></i>
                        </a>
                        {{#  } }}
                        {{#  }); }}
                    </p>
                    {{# if(value.processList != null && value.processList.length > 4){ }}
                    <a href="javascript:" class="bdc-details-type-tool"><span class="bdc-retract">收起-</span><span class="bdc-open bdc-hide">展开+</span></a>
                    {{#  } }}
                </div>
            </div>
            {{# } }}
        </div>
        {{#  }); }}
    </div>
    {{#  }); }}
</script>
<!--查询 内容动态渲染-->
<script type="text/html" id="searchTpl">
    {{#  layui.each(d.content, function(index, item){ }}
    {{#  if(item.processList.length != 0){ }}
    <div class="bdc-search-type">
        <span class="bdc-details-type-name">{{item.description}}</span>
        <p class="bdc-details-type-content clear">
            {{#  layui.each(item.processList, function(i, v){ }}
            {{#  if(v.commonUse == 0){ }}
            <a href="javascript:">{{v.name}}
                <i class="layui-icon bdc-visible layui-icon-rate" data-type="{{v.category}}" data-code="{{v.processDefKey}}" data-name="{{v.name}}" data-id="{{v.id}}"></i>
            </a>
            {{# }else{ }}
            <a href="javascript:">{{v.name}}
                <i class="layui-icon layui-icon-rate-solid" data-type="{{v.category}}" data-code="{{v.processDefKey}}" data-name="{{v.name}}" data-id="{{v.id}}"></i>
            </a>
            {{#  } }}
            {{#  }); }}
        </p>
    </div>
    {{#  } }}
    {{#  }); }}

</script>

<!--消息中心渲染 title-->
<script type="text/html" id="msgTitleTpl">
    <cite><img src="../static/image/msg.png" alt=""></img>消息中心</cite>
    <!-- 如果有新消息，则显示数量 -->
    <!-- 修改为只显示未读 -->
    <span class="bdc-num-tips">{{d.wbSize}}</span>
</script>

<!--消息中心渲染-->
<script type="text/html" id="msgTpl">
    <ul class="layui-tab-title">
        <li class="layui-this">未读（{{d.wbSize}}）</li>
        <li>已读（{{d.ybSize}}）</li>
    </ul>
    <p class="bdc-more-msg">更多>></p>
    <div class="layui-tab-content">
        <!--未读列表-->
        <div class="layui-tab-item layui-show">
            <ul>
                {{#  layui.each(d.wdList, function(index, item){ }}
                <li>
                    <a href="javascript:">{{item.msgTypeName}}({{item.msgTitle}})</a>
                    <i class="layui-icon layui-icon-close" id='{{item.id}}'></i>
                </li>
                {{#  }) }}
            </ul>
            <!--<button class="layui-btn layui-btn-primary bdc-btn-more">查看更多</button>-->
        </div>
        <!--已读列表-->
        <div class="layui-tab-item">
            <ul class="bdc-read">
                {{#  layui.each(d.ydList, function(index, item){ }}
                <li>
                    <a href="javascript:">{{item.msgTypeName}}({{item.msgTitle}})</a>
                    <i class="layui-icon layui-icon-close" id='{{item.id}}'></i>
                </li>
                {{#  }) }}
            </ul>
            <!--<button class="layui-btn layui-btn-primary bdc-btn-more">查看更多</button>-->
        </div>
    </div>
</script>
<!--已读消息中心渲染-->
<script type="text/html" id="readMsgTpl">
    <ul class="layui-tab-title">
        <li >未读（{{d.wbSize}}）</li>
        <li class="layui-this">已读（{{d.ybSize}}）</li>
    </ul>
    <p class="bdc-more-msg">更多>></p>
    <div class="layui-tab-content">
        <!--未读列表-->
        <div class="layui-tab-item">
            <ul>
                {{#  layui.each(d.wdList, function(index, item){ }}
                <li>
                    <a href="javascript:">{{item.msgTypeName}}({{item.msgTitle}})</a>
                    <i class="layui-icon layui-icon-close" id='{{item.id}}'></i>
                </li>
                {{#  }) }}
            </ul>
            <!--<button class="layui-btn layui-btn-primary bdc-btn-more">查看更多</button>-->
        </div>
        <!--已读列表-->
        <div class="layui-tab-item  layui-show">
            <ul class="bdc-read">
                {{#  layui.each(d.ydList, function(index, item){ }}
                <li>
                    <a href="javascript:">{{item.msgTypeName}}({{item.msgTitle}})</a>
                    <i class="layui-icon layui-icon-close" id='{{item.id}}'></i>
                </li>
                {{#  }) }}
            </ul>
            <!--<button class="layui-btn layui-btn-primary bdc-btn-more">查看更多</button>-->
        </div>
    </div>
</script>

<!--常用收藏模板-->
<script type="text/html" id="collectionTpl">
    {{#  if(d.length > 8){ }}
    <p class="bdc-show-more-collection">
        <span class="bdc-hide">收起-</span>
        <span>展示+</span>
    </p>
    {{#  } }}

    {{#  if(d.length == 0){ }}
    <!--暂无收藏-->
    <p class="bdc-collection-content bdc-no-collection clear">
        <img src="../static/image/no-collection.png" alt=""/>
    <span>暂无任何收藏内容</span>
    </p>
    {{# } else{ }}
    <ul id="collectionContent" class="bdc-collection-content clear">
        {{#  layui.each(d, function(index, item){ }}
        <li data-code="{{item.code}}" data-id="{{item.id}}" data-type="{{item.type}}"
            data-typeName="{{item.typeName}}" data-sequenceNumber="{{item.sequenceNumber}}" data-name="{{item.name}}">
            <a href="javascript:">{{item.name}}<i class="layui-icon layui-icon-rate-solid" data-code="{{item.code}}"></i></a></li>
        {{#  }); }}
    </ul>
    {{#  } }}
</script>

<!--表格相关模板-->
<!-- 受理编号模板 -->
<script id="slbhTpl" type="text/html">
    {{#  if(d.slbh != undefined){ }}
    <span style="color:#1d87d1;cursor:pointer">
        {{d.slbh}}
    </span>
    {{#  } else { }}
    <span></span>
    {{#  } }}
</script>
<!--任务名称模板-->
<script type="text/html" id="rwNameTpl">
    {{#  if(d.priority == 150){ }}
    <p class="bdc-table-name"><span>【紧急】</span>{{d.processDefName}}</p>
    {{# } else if(d.priority == 150){ }}
    <p class="bdc-table-name"><span>【特别紧急】</span>{{d.processDefName}}</p>
    {{#  } else if(d.priority == 100) { }}
    <p class="bdc-table-name-pd"><span>【一般】</span>{{d.processDefName}}</p>
    {{#  } else if(d.priority == 50) { }}
    <p class="bdc-table-name-pd">【普通】{{d.processDefName}}</p>
    {{#  } }}
</script>
<!--流程模板-->
<script type="text/html" id="lcTpl">
    <img src="../static/image/lc.png" alt="" onclick="viewLct('{{d.processInstanceId}}')"/>
</script>
<!--状态模板-->
<script type="text/html" id="stateTpl">
    {{#  if(d.state == 2){ }}
    <span class="bdc-table-state-th">挂起</span>
    {{#  } else if(d.backStatus == 2) { }}
    <span class="bdc-table-state-blz">退回</span>
    {{#  } else if(d.taskTimeoutStatusName == '超期') { }}
    <span class="bdc-table-state-th">超期</span>
    {{#  } else { }}
    <span class="bdc-table-state-jh">正常</span>
    {{#  } }}
</script>

<!--流程运行状态模板-->
<script type="text/html" id="flowStateTpl">
    {{#  if(d.procStatus == 2){ }}
    <p class="bdc-table-state-jh">办结</p>
    {{#  } else if(d.procStatus == 3) { }}
    <p class="bdc-table-state-th">挂起</p>
    {{#  } else { }}
    <p class="bdc-table-state-jh">办理中</p>
    {{#  } }}
</script>

<!--超期状态模板-->
<script type="text/html" id="overStateTpl">
    {{#  if(d.procTimeoutStatus == 1){ }}
    <p class="bdc-table-state-zt">已超期</p>
    {{#  } else { }}
    <p class="bdc-table-state-jh">未超期</p>
    {{#  } }}
</script>

<!--表格上面功能按钮-->
<!--待办表格按钮-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm bdc-major-btn"  invalid="hidden" authority="forward" lay-event="forward-process">转发</button>
        <button class="layui-btn layui-btn-sm bdc-table-second-btn"  invalid="hidden" authority="back" lay-event="back-process">退回</button>
        <button class="layui-btn layui-btn-sm bdc-table-second-btn"  authority="hang-up" invalid="hidden"  lay-event="hang-up-process">挂起</button>
        <button class="layui-btn layui-btn-sm bdc-table-second-btn"  authority="active" invalid="hidden" lay-event="active-process">激活</button>
        <!--<button class="layui-btn layui-btn-sm bdc-table-second-btn"  authority="sign" invalid="hidden" lay-event="sign-process">批量签名</button>
        <button class="layui-btn layui-btn-sm bdc-table-second-btn"  authority="forward-pl" invalid="hidden" lay-event="forward-pl-process">批量转发</button>-->
        <button class="layui-btn layui-btn-sm bdc-delete-btn"  authority="delete" invalid="hidden" lay-event="delete-process">删除</button>
    </div>
</script>
<!--已办 表格按钮-->
<script type="text/html" id="toolbarDoneDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm bdc-major-btn bdc-add-process" authority="fetch" invalid="hidden" lay-event="fetch-process">取回</button>
    </div>
</script>
<!--项目 表格按钮-->
<script type="text/html" id="toolbarAllDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm bdc-delete-btn"  authority="delete" invalid="hidden" lay-event="delete-process">删除</button>
    </div>
</script>
<!--认领-->
<script type="text/html" id="rlTableToolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm bdc-major-btn" authority="claim" invalid="hidden" lay-event="claim-process">认领</button>
    </div>
</script>
<script src="../static/lib/layui/layui.js"></script>
<!--添加水印-->
<script src="../static/lib/bdcui/js/common.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/lib/drag/move.js"></script>
<script src="../static/js/home-page.js"></script>
<!--不动产单元号分层展示-->
<script id="bdcdyhTpl" type="text/html">
    {{#  if(d.bdcdyh != undefined){ }}
    <span>{{ queryBdcdyh(d.bdcdyh) }}</span>
    {{#  } else { }}
    <span></span>
    {{#  } }}
</script>

<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: '/lib/index' //主入口模块
    }).use('index').extend({
        workflow:'js/workflow-handle'
    }).use('workflow').extend({response:'lib/bdcui/js/response'}).use('response').extend({
        moduleAuthority: 'js/moduleAuthority'
    }).use('moduleAuthority');
</script>
</body>
</html>


