<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
    <configuration>
        <!-- 当某个对照字段出现错误时  不影响其他字段 -->
        <stop-on-errors>false</stop-on-errors>
        <date-format>yyyy-MM-dd</date-format>
        <wildcard>true</wildcard>
        <!--控制NULL值覆盖-->
        <map-null>true</map-null>
        <!--控制空值覆盖 -->
        <map-empty-string>true</map-empty-string>
    </configuration>
</mappings>