body,html{
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    width: 100%;
    height: 100%;
    background-color: #eaedf1;
}
.bdc-hide{
    display: none;
}
.bdc-container .bdc-left .bdc-hide{
    display: none;
}
.bdc-visible{
    visibility: hidden;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}

/*侧边栏*/
.layui-side-menu .layui-nav{
    margin-top: 190px;
}
.layadmin-setTheme-side,
.layui-side-menu{
    background-color: #fff;
}
.layui-layout-admin .layui-logo{
    height: 140px;
    background-color: #fff;
    box-shadow:none;
    font-weight: 400;
    text-align: left;
    top: 50px;
    border-bottom: 2px solid #eaedf1;
}
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-this>a:hover{
    background-color: #fff;
    color: #1675b8;
}
.layui-layout-admin .layui-logo,
.layui-layout-admin .layui-logo a{
    color: rgba(255,255,255,1);
}
.layui-layout-admin .layui-logo .bdc-logo-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.layadmin-side-shrink .layui-layout-admin .layui-logo .bdc-logo-img{
    display: none;
}
.layadmin-side-shrink .layui-layout-admin .layui-logo{
    background-position-x: 12px;
}
.layui-side-menu .layui-nav .layui-nav-itemed>.layui-nav-child{
    padding: 0;
    background-color: #fff!important;
}
.layui-nav-tree .layui-nav-child a{
    color: #333;
}
.layui-header .layui-icon {
    display: block;
    width: 16px;
    height: 16px;
    background-size: cover;
    font-weight: 700;
}
.layui-header .bdc-logo{
    width: 300px;
    height: 49px;
    line-height: 49px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 34px;
    text-align: left;
    box-sizing: border-box;
}
.layui-header .bdc-logo .bdc-logo-img {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
}
.layui-nav .layui-nav-more{
    border-top-color: #999;
}
.layui-nav .layui-nav-mored, .layui-nav-itemed>a .layui-nav-more{
    border-bottom-color: #999;
}
/*一级菜单*/
.layui-side-menu .layui-nav .layui-nav-item>a{
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    color: #333;
}
.layui-nav-itemed>a,
.layui-nav-tree .layui-nav-title a,
.layui-nav-tree .layui-nav-title a:hover{
    color: #1d87d1!important;
}
.layui-side-menu .layui-nav .layui-nav-item .layui-icon{
    left: 12px;
    transform: translateY(-50%);
    margin-top: 0;
    background-size: cover;
}

/*二级菜单*/
.layui-side-menu .layui-nav .layui-nav-item .layui-nav-child a:hover{
    background-color: #eaedf1;
    color: #333;
}
.layui-side-menu .layui-nav .layui-nav-item .layui-nav-child .layui-this a{
    color: #1675b8;
    font-weight: 700;
}
.layui-side-menu .layui-nav .layui-nav-child dd a{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    padding-left: 60px;
}
/*三级菜单*/
.layui-side-menu .layui-nav .layui-nav-child .layui-nav-child a{
    padding-left: 70px;
}

/*四级菜单*/
.slide-level-four{
    position: absolute;
    left: 230px;
    top: 10px;
    background-color: #fff;
    z-index: 999999;
    display: none;
    box-shadow:#eaedf1 0 4px 30px 0;
}

.slide-level-four dd{
    padding: 0 30px 0 20px;
    height: 30px;
    line-height: 30px;
    color: #666;
    font-size: 12px;
}
.slide-level-four dd:hover{
    background-color: #eaedf1;
    color: #333;
}
/*侧边栏小图标*/
.layui-nav-tree .layui-nav-bar{
    background-color: #1d87d1;
}
.layui-side-menu .layui-icon{
    height: 24px;
    width: 24px;
    background-size:cover ;
}
.layui-side-menu .layui-nav .layui-icon>img{
    padding-right: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*动态渲染图标*/
.layui-nav-tree .layui-nav-item .layui-icon{
    background:url(../image/yc-home/yc-aside-default.png) no-repeat;
}
.layui-nav-tree .layui-nav-itemed .layui-icon{
    background:url(../image/yc-home/yc-aside-select.png) no-repeat;
}
.layui-nav-tree .layui-nav-item .bdc-icon1,
.layui-this .bdc-icon1,
.layui-nav-itemed .bdc-icon1,
.layui-nav-item:hover .bdc-icon1{
    background-position:0 0;
}
.layui-nav-tree .layui-nav-item .bdc-icon2,
.layui-this .bdc-icon2,
.layui-nav-itemed .bdc-icon2,
.layui-nav-item:hover .bdc-icon2{
    background-position:0 -24px;
}
.layui-nav-tree .layui-nav-item .bdc-icon3,
.layui-this .bdc-icon3,
.layui-nav-itemed .bdc-icon3,
.layui-nav-item:hover .bdc-icon3{
    background-position:0 -48px;
}
.layui-nav-tree .layui-nav-item .bdc-icon4,
.layui-this .bdc-icon4,
.layui-nav-itemed .bdc-icon4,
.layui-nav-item:hover .bdc-icon4{
    background-position:0 -72px;
}
.layui-nav-tree .layui-nav-item .bdc-icon5,
.layui-this .bdc-icon5,
.layui-nav-itemed .bdc-icon5,
.layui-nav-item:hover .bdc-icon5{
    background-position:0 -96px;
}
.layui-nav-tree .layui-nav-item .bdc-icon6,
.layui-this .bdc-icon6,
.layui-nav-itemed .bdc-icon6,
.layui-nav-item:hover .bdc-icon6{
    background-position:0 -120px;
}
.layui-nav-tree .layui-nav-item .bdc-icon7,
.layui-this .bdc-icon7,
.layui-nav-itemed .bdc-icon7,
.layui-nav-item:hover .bdc-icon7{
    background-position:0 -144px;
}
.layui-nav-tree .layui-nav-item .bdc-icon8,
.layui-this .bdc-icon8,
.layui-nav-itemed .bdc-icon8,
.layui-nav-item:hover .bdc-icon8{
    background-position:0 -168px;
}
.layui-nav-tree .layui-nav-item .bdc-icon9,
.layui-this .bdc-icon9,
.layui-nav-itemed .bdc-icon9,
.layui-nav-item:hover .bdc-icon9{
    background-position:0 -192px;
}


/*收缩后系统图标*/
.set-layui-icon-shrink-right{
    background: url(../image/arrow.png) no-repeat 0 0;
    background-size:cover;
    margin-top: 16px;
    transition: all 0.1s;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
}
/*收缩后设置*/
.layadmin-side-shrink .layui-layout-admin .layui-logo{
    width: 0;
    padding: 0;
}
.layadmin-side-shrink .layui-side{
    width: 0;
}
.layadmin-side-shrink .layadmin-pagetabs,
.layadmin-side-shrink .layui-layout-admin .layui-body,
.layadmin-side-shrink .layui-layout-admin .layui-footer,
.layadmin-side-shrink .layui-layout-admin .layui-layout-left{
    left: 15px;
}
.layui-layout-admin .layui-body .layadmin-tabsbody-item{
    overflow-y: auto;
}


/*右上方*/
.layui-nav .bdc-person-nav{
    width: 144px;
    background-color: #1d87d1;
}
.layui-layout-admin .layui-header a,
.layui-layout-admin .layui-header a cite{
    color: #fff;
}
.layui-layout-admin .layui-header a cite{
    padding-left: 30px;
}
.layui-layout-admin .layui-header{
    /*border-bottom-color: #d0d5da;*/
    border-bottom: none;
    z-index: 1002;
    background-color: #045085;
    color: #fff;
}
.layui-header .layui-nav-bar{
    display: none;
}
.layui-layout-admin .layui-layout-left .layui-nav-item{
    margin: 0;
}
/*收缩按钮*/
.layui-layout-admin .layui-header .layadmin-flexible a{
    position: absolute;
    top: 70px;
    left: -26px;
    line-height: 40px;
    height: 40px;
    width: 16px;
    background-color: #dbdbdb;
    color: #666;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}
.layadmin-side-shrink .layui-layout-admin .layui-header .layadmin-flexible a{
    border-radius: 0 5px 5px 0;
}
.layui-header .layui-nav-item.layadmin-flexible .layui-icon-shrink-right{
    font-size: 16px;
    position: relative;
    left: 6px;
}
.layui-header .layui-nav-item.layadmin-flexible .layui-icon-spread-left{
    font-size: 16px;
    position: relative;
    left: -6px;
}

/*管理员*/
.bdc-person-nav .bdc-person-child{
    padding: 0;
    background-color: #f3f4f6;
}
.bdc-person-nav .bdc-person-child dd{
    height: 40px;
    line-height: 40px;
}
.layui-nav .bdc-person-nav .bdc-person-child a:hover {
    background-color: #eaedf1;
}

/*tab切换*/
.layadmin-pagetabs .layui-tab{
    position: relative;
    top: -1px;
}
.layadmin-pagetabs .layui-tab-title li,
.layadmin-pagetabs .layui-icon-prev{
    border-right-color: #f1f1f1;
}
.layadmin-pagetabs .layadmin-tabs-control{
    border-left-color: #d0d5da;
}
.layadmin-pagetabs .layui-tab-title li.layui-this{
    background-color: #eaedf1;
    color: #1d87d1;
    font-weight: 700;
}
.layadmin-pagetabs .layui-tab-title li:hover{
    background-color: #f3f4f6;
}
.layadmin-pagetabs .layui-tab-title li.layui-this:hover{
    background-color: #f1f1f1;
}
.layadmin-pagetabs .layui-tab-title li:after{
    height: 0;
}
.layadmin-pagetabs .layui-tab-title li.layui-this:after{
    height: 0;
}
.layadmin-pagetabs .layui-tab-title li{
    line-height: 30px;
    border-top: 1px solid transparent;
    background-color: #eaedf1;
    color: #333;
    border-radius: 3px;
    margin-left: 8px;
}
.layadmin-pagetabs .layui-icon-set-sm{
    right: 0;
    font-size: 0;
}
.layadmin-pagetabs .layui-icon-set-sm>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.layadmin-pagetabs .layui-tab-title{
    height: 39px;
    top: 5px;
}
/*新增 固定home*/
.layadmin-pagetabs .layui-tab-title li:first-child{
    display: none;
}
.layadmin-pagetabs .layui-tab-title li:nth-child(2){
    width: 46px;
    padding: 0;
    position: fixed;
    top: 54px;
    left: 226px;
    display: none;
}
.layadmin-side-shrink .layadmin-pagetabs .layui-tab-title li:nth-child(2){
    left: 90px;
}
.layadmin-pagetabs .layui-tab-title li:nth-child(2) .layui-tab-close{
    display: none;
}


/*主内容区*/
/*左侧*/
.bdc-container{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px 340px 0 10px;
    box-sizing: border-box;
}


/*四级菜单*/
.bdc-four-list {
    position: fixed;
    left: 220px;
    top: 10px;
    background-color: #fff;
    z-index: 999999;
    display: none;
    box-shadow: #eaedf1 0 4px 30px 0;
}
.bdc-four-list p {
    padding: 0 30px 0 20px;
    height: 30px;
    line-height: 30px;
    color: #666 !important;
    font-size: 12px;
    cursor: pointer;
}
.bdc-four-list p:hover{
    background-color: #eaedf1;
}

/*退出确定*/
.layui-layer-dialog .layui-layer-btn{
    text-align: center;
}
.layui-layer-dialog .layui-layer-content{
    text-align: center;
    font-size: 16px;
}

/*刷新位置*/
.layadmin-pagetabs{
    padding-right: 120px;
    padding-left: 0;
    margin: 0 10px;
}
.layadmin-pagetabs .layui-icon-next{
    right: 80px;
}
.layadmin-pagetabs .bdc-refresh-frame{
    right: 40px;
}.layadmin-pagetabs .bdc-refresh-frame>img{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 }

.layui-table-page{
    border-bottom-width: 1px;
}

/*管理员*/
.bdc-person-nav .bdc-person-child {
    padding: 0;
    background-color: #f3f4f6;
}

.bdc-person-nav .bdc-person-child dd {
    height: 40px;
    line-height: 40px;
}

.layui-nav .bdc-person-nav .bdc-person-child a:hover {
    background-color: #eaedf1;
}

.bdc-custom-div {
    background-color: #f3f4f6;
    border: 1px solid #d2d2d2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    white-space: nowrap;
    line-height: 36px;
    padding: 5px 15px;
    z-index: 999;
    right: -117px;
    top: -7px;
    position: absolute;
    left: 94px;

}

.layui-header .layui-nav-item .layui-icon {
    position: absolute;
    top: 0;
    font-size: 22px;
}
.layui-layout-admin .layui-header .layui-nav .layui-nav-more{
    border-top-color: #fff;
    right: 26px;
}
.layui-layout-admin .layui-header .layui-nav .layui-nav-mored{
    border-top-color: transparent;
    border-bottom-color: #fff;
}

.bdc-custom {
    height: 100%;
    float: right;
    color: #fff;
}

.bdc-custom:hover {
    color: #fff;
}