body,html{
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
}
html{
    background-color: #eaedf1;
}
.bdc-hide{
    display: none;
}
.bdc-visible{
    visibility: hidden;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}

/*标题*/
.layui-header .bdc-title{
    padding-left: 20px;
    font-size: 18px;
    position: relative;
}
.bdc-aside-title>img{
    cursor: pointer;
    position: relative;
    top: -1px;
}
.bdc-aside-title .bdc-title-tips{
    position: absolute;
    top: 37px;
    left: 12px;
    font-size: 14px;
    line-height: 30px;
    width: 280px;
    height: 220px;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px #d0d5da;
    z-index: 99;
}
.bdc-aside-title .bdc-title-tips h5{
    font-size: 16px;
    position: relative;
    margin-bottom: 5px;
}
.bdc-aside-title .bdc-title-tips h5 i{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.layui-nav .bdc-button-li{
    padding: 0 5px;
}

/*侧边栏*/
.layui-side-menu .layui-side-scroll{
    padding: 39px 0 35px 0;
    /*width: 295px;*/
    box-sizing: border-box;
    overflow: visible;
}
.bdc-aside-title{
    width: 218px;
    height: 38px;
    line-height: 38px;
    position: absolute;
    top: 0;
    left: 0;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 16px;
    padding-left: 10px;
    /*border-bottom: 1px solid #d0d5da;*/
    z-index: 999;
}
.layui-side-menu .layui-nav{
    margin-top: 0;
    height: 100%;
    overflow-y: auto;
}
.layadmin-setTheme-side,
.layui-side-menu{
    background-color: #eaedf1;
    box-shadow: 0 0 0;
}
.layui-nav-tree .layui-nav-child,
.layui-nav-tree .layui-nav-child a:hover{
    color: #333;
}
.layui-nav-tree .layui-nav-child a{
    color: #333;
}
.layui-nav-tree .layui-nav-bar{
    width: 0;
}
/*侧边三角*/
.layui-nav .layui-nav-more{
    border-color: #333 transparent transparent;
}
.layui-nav .layui-nav-mored, .layui-nav-itemed>a .layui-nav-more{
    border-color: transparent transparent #333;
}
.layui-side-menu .layui-nav .layui-nav-more{
    left: 15px;
}
.layui-nav-itemed>a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover{
    color: #333!important;
}
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-this>a:hover{
    background-color: #fff;
    color: #333;
}
.layui-nav-tree .layui-nav-child dd.layui-this a cite,
.layui-nav-tree .layui-this>a:hover cite,
.layui-nav-tree .layui-this>a cite{
    /*background-color: #eaedf1;*/
    background-color: #1d87d1;
    color: #fff;
}

.layui-side-menu .layui-nav .layui-nav-itemed>.layui-nav-child{
    padding: 0;
}
.layui-nav-itemed>.layui-nav-child{
    background-color: #fff!important;
}
.layui-header .layui-icon {
    display: block;
    width: 16px;
    height: 16px;
    background-size: cover;
    font-weight: 700;
}
/*一级菜单*/
.layui-side-menu .layui-nav .layui-nav-item>a{
    height: 36px;
    line-height: 36px;
    padding-left: 20px;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    color: #333;
}
.layui-side-menu .layui-nav .layui-nav-item>a cite,
.layui-nav-tree .layui-nav-child dd a cite{
    display: inline-block;
    min-width: 150px;
    padding-left: 5px;
}

/*二级菜单*/
.layui-side-menu .layui-nav .layui-nav-child dd a{
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    padding-left: 30px;
}

/*右上方*/
.ul-margin-right{
    margin-right: 30px;
}
.layui-layout-admin .layui-header{
    height: 56px;
    line-height: 56px;
    border-bottom: none;
}
.layui-header .layui-nav-bar{
    display: none;
}
.layui-layout-admin .layui-layout-left .layui-nav-item{
    margin: 0;
}

.layui-tab-brief>.layui-tab-title .layui-this{
    color: #1d87d1;
}
.layui-tab{
    margin: 0 0 10px 0;
}
.layui-btn-primary:hover{
    border-color: #d0d5da;
    opacity: .8;
}

/*侧边栏底部固定*/
/*默认展示*/
.bdc-fj-list{
    width: 100%;
    position: fixed;
    /*position: absolute;*/
    left: 0;
    bottom: 0;
    z-index: 9999;
}
.bdc-drag-line{
    width: 100%;
    height: 4px;
    background-color:#045085;
}
.bdc-drag-line:hover {
    cursor:n-resize;
}
.bdc-fj-title-content{
    width: 100%;
    /*border-bottom: 3px solid #045085;*/
    position: relative;
}
.bdc-fj-title-content .bdc-fj-title{
    width: 220px;
    height: 32px;
    line-height: 32px;
    background-color: #045085;
    color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    /*position: absolute;*/
    /*top: -32px;*/
    /*left: 0;*/
}
.bdc-fj-title .fa-window-restore{
    padding: 0 10px;
    font-size: 16px;
    font-weight: 100;
    color: rgba(255,255,255,.6);
    cursor: pointer;
    position: relative;
    top: 3px;
}
/*.bdc-fj-title .fa-window-restore.bdc-show-type{*/
/*color: #fff;*/
/*}*/
.bdc-fj-title-content .bdc-fj-title .bdc-fj-show{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
/*点击展开内容*/
.bdc-fj-content{
    width: 100%;
    height: 264px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    padding: 46px 15px 15px 235px;
    z-index: 9;
}

/*tab切换*/
.layadmin-pagetabs{
    top: 0;
    padding-right: 80px;
}
.layadmin-pagetabs .layui-icon-next{
    right: 40px;
}
.layadmin-pagetabs .layui-tab{
    position: relative;
    top: -1px;
}
.layadmin-pagetabs .layui-tab-title li,
.layadmin-pagetabs .layui-icon-prev{
    border-right-color: #d0d5da;
}
.layadmin-pagetabs .layadmin-tabs-control{
    border-left-color: #d0d5da;
    /*font-weight: bolder;*/
}

.layadmin-tabs-select{
    font-weight:normal;
}
.layadmin-pagetabs .layui-tab-title li.layui-this{
    background-color: #045085;
    color: #fff;
}
.layadmin-pagetabs .layui-tab-title li:hover{
    background-color: #f3f4f6;
    border-top: 1px solid #d0d5da;
}
.layadmin-pagetabs .layui-tab-title li.layui-this:hover{
    background-color: #045085;
}
.layadmin-pagetabs .layui-tab-title li:after{
    height: 0;
}
.layadmin-pagetabs .layui-tab-title li.layui-this:after{
    height: 0;
}
.layadmin-pagetabs{
    border-bottom: 1px solid #045085;
    border-top: 1px solid #d0d5da;
}
.layadmin-pagetabs .layui-tab-title li{
    line-height: 39px;
    border-top: 1px solid transparent;
    background-color: #F3F4F6;
}
.layadmin-pagetabs .layui-icon-set-sm{
    right: 0;
    font-size: 0;
}
.layadmin-pagetabs .layui-icon-set-sm>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.layadmin-pagetabs .layui-tab-title{
    height: 39px;
}


/*主内容区*/
.layui-layout-admin .layui-body .layadmin-tabsbody-item{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /*padding-bottom: 100px;*/
    position: static;
}
.layui-layout-admin .layui-body .layadmin-tabsbody-item .layadmin-iframe{
    position: static;
}
.layui-layout-admin .layui-body{
    top: 40px;
}
.bdc-container{
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
}
.bdc-content-box{
    width: 100%;
    /*height: 100%;*/
    overflow-x: hidden;
    /*overflow-y: auto;*/
}
/*任务tab切*/
.bdc-task-tab{
    margin: 0;
    background-color: #fff;
    padding: 6px 15px 0;
    box-sizing: border-box;
    position: relative;
}
.bdc-container-tab>.layui-tab-more li.layui-this:after,
.bdc-container-tab>.layui-tab-title .layui-this:after{
    border-bottom-color: #1d87d1;
}
.bdc-container-tab .layui-tab-title li{
    width: 118px;
    box-sizing: border-box;
    font-size: 20px;
    color: #666;
}
.bdc-task-tab .layui-tab-title{
    border-bottom-color: #eaedf1;
}
.bdc-task-tab .bdc-task-tools{
    position: absolute;
    top: 8px;
    right: 20px;
}
.bdc-task-search-box{
    /*display: inline-block;*/
    width: 240px;
    height: 30px;
    position: relative;
    float: left;
}
.bdc-task-search-box .layui-icon-search{
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    color: #999;
    border-color: #d0d5da;
}
.bdc-task-search-box .layui-input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding-left: 38px;
}
.bdc-operate-show{
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 6px;
    box-sizing: border-box;
    font-weight: 700;
    color: #999;
}
.bdc-operate-show>.layui-icon{
    font-size: 24px;
    cursor: pointer;
}
/*轮播图*/
.bdc-task-tab .layui-tab-content{
    padding: 0;
}
.layui-carousel[lay-arrow=always] .layui-carousel-arrow{
    left: -26px;
    opacity: 0;
    z-index: 999;
}
.layui-carousel:hover .layui-carousel-arrow[lay-type=add],
.layui-carousel[lay-arrow=always] .layui-carousel-arrow[lay-type=add]{
    right: -26px;
    opacity: 0;
    z-index: 999;
}
.bdc-build-task{
    position: relative;
    padding: 15px 25px;
}
.bdc-build-task .layui-icon-triangle-r{
    position: absolute;
    top: 42px;
    font-size: 24px;
    color: #999;
}
.bdc-build-task .bdc-carousel-left{
    left: 4px;
    transform: rotate(180deg) translateY(12px);
}
.bdc-build-task .bdc-carousel-right{
    right: 4px;
    transform: translateY(-12px);
}
.layui-carousel[lay-indicator=outside]{
    margin-bottom: 20px;
}
.layui-carousel[lay-indicator=outside] .layui-carousel-ind ul{
    background-color: #fff;
}
.layui-carousel-ind li,
.layui-carousel-ind li:hover{
    background-color: #d0d5da;
}
.layui-carousel-ind li.layui-this{
    background-color: #1d87d1;
}
.bdc-carousel-father .bdc-carousel-son{
    display: block;
    float: left;
    width: 25%;
    height: 100%;
    padding: 0 10px 10px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}
.bdc-carousel-father .bdc-carousel-son:hover .bdc-carousel-title{
    color: #fff;
}
.bdc-carousel-father .bdc-carousel-son>.bdc-carousel-title{
    position: absolute;
    top: 10px;
    left: 20px;
}
.bdc-carousel-father .bdc-carousel-son img{
    width: 100%;
    height: 100%;
}
.layui-carousel>[carousel-item]>*{
    background-color: #fff;
}
/*轮播图点击内容显示*/
.layui-carousel>[carousel-item]{
    overflow: visible;
}
.bdc-carousel-details{
    width: 400%;
    padding: 24px 20px;
    position: absolute;
    top: 60px;
    left: -20px;
    border: 1px solid #d0d5da;
    background-color: #fff;
    z-index: 999;
}
.bdc-carousel-details .bdc-carousel-close{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    color: #666;
    z-index: 99;
}
.bdc-details-type{
    width: 100%;
    box-sizing: border-box;
    /*padding: 10px 300px 10px 110px;*/
    padding: 10px 70px 10px 10px;
    position: relative;
    line-height: 30px;
    border-bottom: 1px dashed #d0d5da;
}
.bdc-details-type:last-child{
    border-bottom: none;
}
.bdc-details-type-content{
    overflow-y: hidden;
}
.bdc-details-type-content a{
    display: block;
    float: left;
    width: 25%;
    height: 30px;
    padding: 0 10px 0 0;
    box-sizing: border-box;
    font-size: 12px;
}
.bdc-details-type-content a:hover{
    color: #1d87d1;
}
.bdc-details-type-content a>.layui-icon{
    padding-left: 8px;
    color: #1d87d1;
    width: 14px;
    height: 14px;
}
.bdc-details-type-name{
    position: absolute;
    top: 10px;
    left: 0;
    font-weight: 700;
}
.bdc-details-type-tool{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #1d87d1;
}
.bdc-details-type-tool:hover{
    color: #1d87d1;
}
/*常用收藏*/
.bdc-collection-tab{
    padding: 15px 0;
}
.bdc-collection-content{
    line-height: 42px;
    height: 84px;
    overflow: hidden;
}
.bdc-collection-content>a{
    width: 25%;
    height: 42px;
    float: left;
    font-size: 12px;
}
.bdc-collection-content>a:hover{
    color: #1d87d1;
}
.bdc-collection-content>a>.layui-icon{
    color: #1d87d1;
    padding-left: 8px;
}
/*暂无收藏内容*/
.bdc-no-collection{
    position: relative;
}
.bdc-no-collection>img{
    display: block;
    margin: 0 auto;
}
.bdc-no-collection>span{
    line-height: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*任务列表*/
.bdc-table-box{
    padding: 15px 0;
}
.bdc-list-tab{
    padding: 5px 15px 0;
    margin: 15px 0 0 0;
    background-color: #fff;
    box-sizing: border-box;
}
.bdc-list-num-tips{
    display: inline-block;
    background-color: #f54743;
    border-radius: 10px;
    color: #fff;
    width: 26px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 12px;
}
.bdc-list-tab .layui-tab-title li{
    padding: 0;
}
.bdc-list-tab .layui-tab-content{
    padding: 0;
}
.bdc-tab-search{
    padding: 15px 0;
    height: 68px;
    border-bottom: 1px dashed #d0d5da;
    box-sizing: border-box;
}
.bdc-tab-search .layui-btn{
    margin-left: 7px;
}
.bdc-table-name{
    text-align: left;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
.bdc-table-name-pd{
    padding-left: 10px;
    text-align: left;
}
.bdc-table-name>span{
    color: #f54743;
}
.bdc-table-lc{
    color: #1d87d1;
}
.bdc-table-lc>img{
    margin-right: 10px;
}
.bdc-table-state-blz{
    color: #1d87d1;
}
.bdc-table-state-th{
    color: #f54743;
}
.bdc-table-state-zt{
    color: #f49c67;
}

/*四级菜单*/
.bdc-four-list {
    position: fixed;
    left: 230px;
    top: 10px;
    background-color: #fff;
    z-index: 999999;
    display: none;
    box-shadow: #eaedf1 0 4px 30px 0;
}
.bdc-four-list p {
    padding: 0 30px 0 20px;
    height: 30px;
    line-height: 30px;
    color: #666 !important;
    font-size: 12px;
    cursor: pointer;
}
.bdc-four-list p:hover{
    background-color: #eaedf1;
}

/*媒体*/
@media screen and (max-width: 1360px) {
    .bdc-details-type-content a {
        width: 33%;
    }
    .bdc-collection-content>a{
        width: 33%;
    }
    .bdc-collection-content{
        height: 126px;
    }
}

/*底部 选择弹出层样式*/
/*.layui-layer-iframe .layui-layer-title{*/
/*    background-color: #045085;*/
/*    padding-left: 5px;*/
/*    padding-right: 0;*/
/*}*/
.layui-layer .bdc-fj-title-content .bdc-fj-title{
    width: 100%;
    margin-left: 0;
    height: 42px;
    line-height: 42px;
    position: relative;
    top: 0;
}
.layui-layer .bdc-fj-title-content .bdc-fj-title .fa-minus-square-o{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
}
.layui-layer .layui-layer-setwin .layui-layer-min{
    display: none;
}
.layui-layer .bdc-fj-content{
    height: 306px;
}
#fjContent{
    height: 100%;
}
.layui-layer .layui-layer-setwin .layui-layer-min cite{
    display: none;
}
.layui-layer .bdc-operate-icon{
    position: absolute;
    top: 0;
    right: 15px;
    color: #fff;
    font-size: 16px;
}
.layui-layer .bdc-operate-icon i:first-child{
    margin-right: 12px;
    opacity: .8;
}
.layui-layer .layui-layer-setwin a{
    opacity: 1;
}
.layui-layer.bdc-add-fj-layer .layui-layer-setwin a{
    opacity: 0;
}
/*.layui-layer .layui-layer-setwin .layui-layer-close1:hover{*/
/*    opacity: 0;*/
/*}*/

/*转发弹出层 ×*/
.layui-layer.layui-layer-lan .layui-layer-setwin a{
    opacity: 1;
}
.layui-layer.layui-layer-lan .layui-layer-setwin .layui-layer-close1:hover{
    opacity: 1;
}
.layui-layer.layui-layer-lan .layui-layer-title{
    background-color: #045085;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
    border-bottom-color: #1d87d1;
}
.layui-layer.layui-layer-lan .layui-layer-btn{
    text-align: center;
}
.layui-layer.layui-layer-lan .layui-layer-btn .layui-layer-btn1{
    background: #f3f4f6;
    color: #666;
}
.layui-layer.layui-layer-lan .layui-layer-btn .layui-layer-btn1:hover{
    opacity: .8;
}

/*删除弹出*/
.layui-layer .layui-layer-btn a{
    background-color: #f3f4f6;
    color: #666;
    border: 1px solid #d0d5da;
}
.layui-layer .layui-layer-btn .layui-layer-btn0{
    border-color: #1d87d1;
    background-color: #1d87d1;
    color: #fff;
}
.layui-layer .layui-layer-btn .layui-layer-btn0:hover{
    opacity: 1;
    background-color: #1675b8;
    border-color: #1675b8;
}
body .bdc-del-bg{
    color: #333;
    background-color: #fff;
}
body .bdc-del-bg .layui-layer-content{
    text-align: center;
}
.pf-fl-list .fl-list-box .layui-nav-tree{
    margin-top: 10px;
}
.fl-list-box .bdc-new-folder-name{
    width: 170px;
    height: 30px;
    line-height: 30;
    padding-right: 32px;
    display: inline-block;
    font-size: 12px;
}
.layui-nav .bdc-prepend-li a{
    padding-right: 0;
    width: 257px;
    box-sizing: border-box;
}
.layui-nav .bdc-prepend-li a img{
    margin-left: 5px;
}
.layui-nav .bdc-prepend-li a .bdc-icon-add{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 14px;
}
.layui-nav .bdc-prepend-li a .layui-icon-ok{
    right: 22px;
}
.layui-nav .bdc-prepend-li a .layui-icon-close{
    right: 6px;
}
.fl-list-title input{
    font-size: 12px;
}

/*无限扩展*/
.layui-side-menu .layui-nav-child{
    min-height: 10%;
    width: 90%;
    left: 10%;
}
.layui-side-menu .layui-nav .layui-nav-child .layui-nav-child a{
    padding-left: 30px;
}

.layadmin-pagetabs .bdc-control-icon{
    right: 0;
    width: 0;
    overflow: hidden;
}
.layadmin-pagetabs .layadmin-tabs-control:hover{
    background-color: #f3f4f6;
}
.layadmin-pagetabs .bdc-control-icon:hover{
    background-color: #fff;
}
.layadmin-pagetabs .bdc-control-icon>a:hover{
    background-color: #f3f4f6;
    color: #333;
}
.layadmin-pagetabs .bdc-control-icon a{
    display: block;
    height: 100%;
    width: 80px;
    border-right: 1px solid #d0d5da;
    float: left;
    padding: 0 5px;
    color: #666;
    box-sizing: border-box;
    font-weight: bolder;
}
.layadmin-pagetabs .bdc-control-icon a:last-child{scfj(this)
    border-right: none;
}
.bdc-control-icon .bdc-control-img-icon{
    position: relative;
    top: -1px;
    padding-right: 5px;
    width: 22px;
}

.layadmin-pagetabs .bdc-control-icon .four-text-btn{
    width: 86px;
}

.layadmin-pagetabs .bdc-control-icon .five-text-btn{
    width: 100px;
}

.layui-layout-admin .layui-side{
    border: 1px solid #d0d5da;
    background-color: #fff;
    box-sizing: border-box;
    overflow: visible;
}

/*侧边栏收缩*/
.bdc-aside-zoom {
    width: 12px;
    height: 36px;
    border: 1px solid #d0d5da;
    position: absolute;
    left: 206px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}
.bdc-aside-zoom .layui-icon {
    font-size: 12px;
    line-height: 36px;
    color: #666;
    font-weight: 700;
}

@media screen and (max-width: 992px){
    .layadmin-pagetabs, .layui-layout-admin .layui-body, .layui-layout-admin .layui-footer, .layui-layout-admin .layui-layout-left {
        left: 220px;
    }
}
@media screen and (max-width: 992px){
    .layui-layout-admin .layui-side {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        width: 220px;
    }
}

/*第一个自适应选择，且可删除*/
.layadmin-pagetabs .layui-tab-title li:first-child{
    display: none;
}
.layui-nav-tree .layui-nav-item a{
    text-overflow: clip;
    overflow: visible;
}

/*默认附件提示框*/
.bdc-fj-default-content{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    border-bottom: 4px solid #045085;
    z-index: 9999;
}
.bdc-fj-default-content .bdc-fj-title{
    width: 220px;
    height: 32px;
    line-height: 32px;
    background-color: #045085;
    color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    position: absolute;
    top: -32px;
    left: 0;
}
.bdc-fj-default-content .bdc-fj-title .bdc-fj-show{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

/*原权利附件*/
/*默认附件提示框*/
.bdc-yqlfj-default-content{
    width: 100%;
    /*height: 32px;*/
    position: fixed;
    left: 0;
    bottom: 44px;
    z-index: 9999;
}
.bdc-yqlfj-default-content .bdc-yqlfj-title{
    width: 220px;
    height: 36px;
    line-height: 32px;
    background-color: #045085;
    color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    position: absolute;
    top: -32px;
    left: 0;
}
.bdc-yqlfj-default-content .bdc-yqlfj-title .bdc-yqlfj-show{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

/*三角形*/
.bdc-sjx {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 11px;
    left: 76px;
    transform: rotate(180deg) translateX(1px);
}
/*    上下透明，右边框为10px   */
.bdc-sjx:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 77px;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
/*  上下透明，右边框为9px且在:before伪元素三角形的基础上，向右，下移动了1px  */
.bdc-sjx:after {
    content: '';
    position: absolute;
    top: 11px;
    left: -9px;
    width: 0;
    height: 0;
    border-top: 9px solid #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

/*点击转发后 不为空提示信息*/
.bdc-null-tips-box{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
}
.bdc-null-tips{
    width: 100%;
    background-color: #ffebe7;
    padding: 10px;
    box-sizing: border-box;
}
.bdc-null-tips>p{
    line-height: 24px;
    color: #333;
}
.bdc-null-tips>p>span{
    color: #2d5de1;
    float: right;
    cursor: pointer;
}
.bdc-small-tips .layui-layer-setwin a{
    opacity: 1;
}

.layui-table thead tr{
    background-color: #f3f4f6;
}
.bdc-back-content .layui-table th,
.bdc-back-content .layui-table td{
    text-align: center;
}
.bdc-back-content .layui-table{
    color: #333;
}
.bdc-back-content .layui-table th{
    color: #666;
    font-weight: 700;
}
.layui-form-checked[lay-skin=primary] i{
    border-color: #1d87d1;
    background-color: #1d87d1;
}

/*南通转发 蓝底白字*/
.layadmin-pagetabs .bdc-control-icon .bdc-nt-send-css{
    background-color: #1d87d1;
    color: #fff;
}
.layadmin-pagetabs .bdc-control-icon>.bdc-nt-send-css:hover{
    background-color: #1675b8;
    color: #fff;
}

/*审核退回按钮 红底白字*/
.layadmin-pagetabs .bdc-control-icon .bdc-check-back-red{
    background-color: #f24b43;
    color: #fff;
}
.layadmin-pagetabs .bdc-control-icon .bdc-check-back-red:hover{
    background-color: #d6443c;
    color: #fff;
}

/*合肥撤销 默认隐藏样式*/
.layadmin-pagetabs .bdc-control-icon a#revokeShow{
    width: 36px;
    border-right: none;
}

/*海门退回意见提示样式*/
.bdc-tips-left .bdc-tips-left-box{
    width: 200px;
    margin-left: 10px;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 116px;
    left: 0;
    color: #333;
    background-color: #e7f4ff;
    border-left: 1px solid #8bc7ff;
    border-top: 1px solid #8bc7ff;
    border-right: 1px solid #8bc7ff;
    z-index: 9999;
    max-height: 136px;
    overflow: hidden;
}

.bdc-tips-left .bdc-tips-left-box .bdc-sure-tip{
    line-height: 28px;
}
.more{
    border-left: 1px solid #8bc7ff;
    border-right: 1px solid #8bc7ff;
    border-bottom:  1px solid #8bc7ff;
    padding-left: 10px;
    margin-left: 10px;
    bottom: 84px;
    position: absolute;
    background-color: #e7f4ff;
    z-index: 9999;
    width: 188px;
    height: 32px;
}
.layui-btn-xs{
    position: absolute;
    right: 14px;
    bottom:10px;

}

.bdc-tip {
    border-bottom: 1px solid #d0d5da;
    padding-bottom: 4px
}
.bdc-sure-content{
    max-height: 38px;
}
.bdc-add-fj-layer .layui-layer-title{
    padding: 0!important;
}