*{
    margin: 0;
    padding: 0;
}
body,
html {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
    width: 100%;
    height: 100%;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
.bdc-hide {
    display: none;
}

//自适应布局
html{
    font-size: 60px;
}
@media screen and (min-width: 1200px) {
    html{
        font-size: 20px;
    }
}
@media screen and (min-width: 1300px) {
    html{
        font-size: 21px;
    }
}
@media screen and (min-width: 1600px) {
    html{
        font-size: 26px;
    }
}
@media screen and (min-width: 1900px) {
    html{
        font-size: 30px;
    }
}
@media screen and (min-width: 3800px) {
    html{
        font-size: 60px;
    }
}

/*头部*/
.bdc-header{
    width: 100%;
    height: 230rem/60;
    background: #0f3ba0 url("../images/bg.png") no-repeat fixed;
    background-size: contain;
    position: relative;
    h1{
        font-size: 87rem/60;
        color: #fff;
        height: 230rem/60;
        line-height: 230rem/60;
        position: absolute;
        top: 0;
        left: 36rem/60;
        >img{
            width: 104rem/60;
            margin-right: 20rem/60;
        }
    }
}
.bdc-time{
    width: 1330rem/60;
    height: 180rem/60;
    border: 2px solid #6083d3;
    border-radius: 20rem/60;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32rem/60;
    padding: 30rem/60;
    box-sizing: border-box;

    div{
        float: left;
        height: 100%;
        line-height: 116rem/60;
        font-size: 56rem/60;
        color: #fff;
    }
    .bdc-time-word{
        width: 500rem/60;
        border-right: 2px solid #6083d3;
        text-align: center;
    }
    .bdc-time-details{
        padding-left: 60rem/60;
        >.bdc-time-hour{
            padding: 0 20rem/60;
        }
    }
}

.bdc-container{
    width: 100%;
    height: 1930rem/60;
    padding: 40rem/60;
    box-sizing: border-box;
    background-color: #0c2766;
}