@import "common";
.bdc-content{
    width: 100%;
    height: 100%;
    padding: 440rem/60 0 230rem/60 0;
    box-sizing: border-box;
    position: relative;
}

//头部当前呼叫
.bdc-top{
    width: 100%;
    height: 410rem/60;
    padding-left: 384rem/60;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}
.bdc-top-title{
    width: 384rem/60;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.bdc-top-title>p{
    width: 100%;
    height: 205rem/60;
    line-height: 205rem/60;
    text-align: center;
    font-size: 84rem/60;
    box-sizing: border-box;
    border-right: 4rem/60 solid #3f6cd1;

    &:first-child{
        background-color: #8badf9;
        color: #000;
        border-bottom: 4rem/60 solid #3f6cd1;
    }
    &:last-child{
        background-color: #1141ae;
        color: #fffb8b;
    }
}
#topCarousel>[carousel-item] p{
    width: 100%;
    height: 205rem/60;
    line-height: 205rem/60;
    box-sizing: border-box;
    font-size: 0;
    &::after {
        content: '';
        display: block;
        clear: both;
    }

    &:first-child{
        background-color: #8badf9;
        color: #000;
        border-bottom: 4rem/60 solid #3f6cd1;
    }
    &:last-child{
        background-color: #1141ae;
        color: #fffb8b;
    }
    span{
        border-right: 4rem/60 solid #3f6cd1;
        display: inline-block;
        width: 100%/7;
        height: 100%;
        font-size: 84rem/60;
        text-align: center;
        box-sizing: border-box;
        float: left;

        &:nth-child(7){
            border-right: none;
        }
    }
}

//轮播相关
.layui-carousel{
    background-color: transparent;
}
.layui-carousel>[carousel-item]>*{
    background-color: transparent;
}
.layui-carousel>[carousel-item]:before{
    font-size: 0;
}

//中间等待呼叫
.bdc-center{
    width: 100%;
    height: 100%;
    padding-left: 384rem/60;
    box-sizing: border-box;
    position: relative;
}
.bdc-center-title{
    width: 384rem/60;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 4rem/60 solid #6f91dd;
    padding-top: 168rem/60;
    box-sizing: border-box;
    background-color: #1141ae;
    font-size: 60rem/60;
    color: #fff;
    text-align: center;

    >p:first-child{
        width: 100%;
        height: 168rem/60;
        border-bottom: 4rem/60 solid #6f91dd;
        box-sizing: border-box;
        line-height: 168rem/60;
        position: absolute;
        top: 0;
        left: 0;
    }
    >p:last-child{
        width: 100%;
        height: 100%;
        position: relative;
        span{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}
#centerCarousel>[carousel-item]>div{
    padding-top: 168rem/60;
    box-sizing: border-box;

    >p{
        width: 100%;
        height: 168rem/60;
        line-height: 168rem/60;
        box-sizing: border-box;
        font-size: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #1141ae;
        border-bottom: 4rem/60 solid #6f91dd;
        color: #fff;

        span{
            border-right: 4rem/60 solid #6f91dd;
            display: inline-block;
            width: 25%;
            height: 100%;
            font-size: 60rem/60;
            text-align: center;
            box-sizing: border-box;

            &:nth-child(4){
                border-right: none;
            }
        }
    }
    .bdc-center-content{
        width: 100%;
        height: 100%;
        background-color: #2151be;
    }
    .bdc-center-item{
        width: 25%;
        height: 100%;
        float: left;
        border-right: 4rem/60 solid #6f91dd;
        padding: 24rem/60 0 0 76rem/60;
        box-sizing: border-box;
        color: #fff;

        &:nth-child(4){
            border-right: none;
        }

        .bdc-content-p{
            width: 100%;
            height: 120rem/60;
            line-height: 120rem/60;
            padding-right: 278rem/60;
            box-sizing: border-box;
            position: relative;
            font-size: 1rem;

            span{
                width: 278rem/60;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                color: #f4683d;
            }
        }
    }
}

//底部过号信息
.bdc-bottom{
    width: 100%;
    height: 200rem/60;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1141ae;
    padding-left: 384rem/60;
    box-sizing: border-box;
    }
//左侧标题
.bdc-bottom-title{
    width: 380rem/60;
    height: 100%;
    line-height: 200rem/60;
    border-right: 4rem/60 solid #6f91dd;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    color: #f1f1f1;
    text-align: center;
}
//主内容
.bdc-bottom-content{
    width: 100%;
    height: 100%;
    line-height: 200rem/60;
    color: #ee813f;
    text-align: right;
}
.layui-carousel > [carousel-item] > *{
    font-size: 0;
}
.bdc-bottom-content .layui-carousel span{
    display: inline-block;
    width: 10%;
    text-align: center;
    font-size: 60rem/60;
}