html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #eaedf1;
    padding: 10px;
    box-sizing: border-box;
}
.bdc-container{
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    padding-top: 59px;
    box-sizing: border-box;
}
.bdc-content-fix {
    width: 100%;
    height: 58px;
    background-color: #eaedf1;
    padding: 0 10px;
    box-sizing: border-box;
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 999;
}
.content-title {
    padding: 10px 0;
    border-bottom: 1px solid #eaedf1;
    background-color: #fff;
    height: 58px;
    clear: both;
    top: 10px;
    left: 10px;
    z-index: 9;
    box-sizing: border-box;
}
.content-title p {
    font-size: 16px;
    color: #333;
    float: left;
    margin-left: 10px;
    line-height: 38px;
}
.content-title .title-btn-area {
    float: right;
    margin-right: 10px;
}
.bdc-blue{
    color: #1d87d1;
}
.bdc-red{
    color: #f24b43;
}
.bdc-fph-inline.layui-inline .layui-form-label{
    width: 115px;
}
.layui-form-item .bdc-fph-inline .layui-input{
    border: none;
}

.bdc-operate-table {
    height: 50px;
    line-height: 50px;
    background-color: #f3f4f6;
    border: 1px solid #d0d5da;
    border-bottom: none;
    padding-left: 15px;
    box-sizing: border-box;
}
.bdc-form-table{
    padding: 0 10px;
}
.bdc-form-table td {
    padding: 0;
    height: 39px;
    text-align: center;
}
.bdc-form-table td input {
    text-align: center;
    border: 0 !important;
    width: 100%;
    height: 36px;
    color: #333;
    outline: none;
}
.bdc-form-table .layui-table tbody tr:hover,
.bdc-form-table .layui-table-body tr:hover,
.bdc-form-table .layui-table-hover {
    background-color: transparent;
}
.layui-table-body .layui-none {
    color: #333;
    line-height: 30px;
}
.layui-table-body .layui-none img {
    padding-right: 10px;
    position: relative;
    top: -2px;
}
table .bdc-table-none td {
    padding: 5px;
    line-height: 30px;
}
.layui-table .layui-none img {
    padding-right: 10px;
    position: relative;
    top: -2px;
}

.bdc-one-icon input,
.bdc-date-disabled input,
.bdc-one-icon textarea {
    padding-right: 26px;
}
.bdc-one-icon img,
.layui-select-disabled img,
.bdc-date-disabled img {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    z-index: 991;
}

.layui-select-disabled .layui-disabled{
    color: #333!important;
}
.layui-disabled, .layui-disabled:hover{
    color: #333;
    cursor: default!important;
}
.layui-select-disabled .layui-edge{
    display: none;
}