<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title class="bdc_subsystem">第三方日志查询台账</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="../static/layui/css/layui.css" media="all" rel="stylesheet"/>
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <script src="../static/lib/layui/layuigxh.js"></script>
    <script src="../static/js/common.js"></script>
</head>
<body>
<div class="layui-tab" lay-filter="demo">
    <ul class="layui-tab-title">
        <!--        <li class="layui-this">db日志</li>-->
    </ul>
    <div class="layui-tab-content" style="height: 100%">
        <!--        <div class="layui-tab-item layui-show" style="height: 100%;width: 100%">-->
        <!--            <iframe src="bdcdsflog.html?type=logines" name="container" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes" style="min-height:660px;height: 100%;width: 100%"></iframe>-->
        <!--        </div>-->
    </div>
</div>
<script src="../static/js/bdcdsflog/bdcdsfAllLog.js"></script>
</body>
</html>
