<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtmap.realestate.inquiry.core.mapper.BdcWtsMapper">
    <select id="getWtsDatas" parameterType="String"
            resultType="cn.gtmap.realestate.common.core.domain.BdcWtsDO">
        SELECT * from BDC_WTS where  trunc(wtsj) = trunc(sysdate)
    </select>

    <update id="updateByWtsbh" parameterType="String">
        UPDATE BDC_WTS SET ZT = 1 where WTSBH = #{wtsbh}
    </update>

</mapper>