<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>海籍调查表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/application.css"/>
    <link rel="stylesheet" href="../../static/css/qlxx/common.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css">
</head>

<body>
<div class="content-div">
    <div class="bdc-content-box">
        <form class="layui-form setOverflow" action="" lay-filter="form">
            <input type="hidden" name="qlid" id="qlid"/>
            <input type="hidden" name="xmid" id="xmid"/>

            <div class="bdc-content-fix">
                <div class="content-title">
                    <p>海籍调查表</p>
                    <div class="title-btn-area .layui-layout-right">
                        <!--<button type="submit" id="submitBtn" class="layui-btn bdc-major-btn" lay-submit="" lay-filter="submitBtn">-->
                        <!--保存-->
                        <!--</button>-->
                    </div>
                </div>
            </div>

            <!--主体开始部分-->
            <div class="content-main common-form change-hjb-padding">
                <div class="table-name" style="display: none;">海籍调查表</div>
                <table class="layui-table new-table" border="1">
                    <colgroup>
                        <col width="40">
                        <col width="100">
                        <col width="90">
                        <col width="80">
                        <col width="120">
                        <col width="100">
                        <col width="80">
                        <col width="80">
                        <col width="100">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td colspan="3" class="set-back-color">宗海代码</td>
                        <td colspan="8">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="zhdm" id="zhdm" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="set-back-color">不动产单元号</td>
                        <td colspan="8">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="bdcdyh" id="bdcdyh" disabled="off">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <!-- 权利人结束 -->
                    <!-- 项目用海开始 -->
                    <tbody id="tbody2">
                    <tr>
                        <td rowspan="4" class="set-back-color set-center">项目用海</td>
                        <td colspan="2" class="set-back-color">项目名称</td>
                        <td colspan="8">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="xmmc" id="xmmc" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="set-back-color">等级</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="db" id="db" disabled="off">
                            </div>
                        </td>
                        <td colspan="2" class="set-back-color">项目性质</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="xmxz" id="xmxz" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" rowspan="2" class="set-back-color">构(建)筑物类型</td>
                        <td colspan="3" rowspan="2">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="gzwlx" id="gzwlx" disabled="off">
                            </div>
                        </td>
                        <td rowspan="2" class="set-back-color set-center">用海类型</td>
                        <td class="set-back-color">用海类型A</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="yhlxa" id="yhlxa" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="set-back-color">用海类型B</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="yhlxb" id="yhlxb" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <!-- 项目用海结束 -->
                    <!-- 海籍测量开始 -->
                    <tr>
                        <td rowspan="7" class="set-back-color set-center">海籍测量</td>
                        <td colspan="2" class="set-back-color">宗海面积(公顷)</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="zhmj" id="zhmj" disabled="off">
                            </div>
                        </td>
                        <td colspan="2" class="set-back-color">占用岸线(米)</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="zhax" id="zhax" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="set-back-color">用海总面积(公顷)</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="yhzmj" id="yhzmj" disabled="off">
                            </div>
                        </td>
                        <td colspan="5" class="set-back-color"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="set-back-color">用海方式</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="yhfs" id="yhfs" disabled="off">
                            </div>
                        </td>
                        <td colspan="2" class="set-back-color">内部单元面积(公顷)</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="nbdymj" id="nbdymj" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr class="set-tr-height78">
                        <td colspan="2" class="set-back-color">宗海位置</br>(文字说明)</td>
                        <td colspan="8">
                            <div class="bdc-td-box">
                                <textarea name="yhwzsm" id="yhwzsm" rows="" cols="" disabled="off"></textarea>
                                <!--<input type="text" class="layui-table-edit" name="yhwzsm" id="yhwzsm">-->
                            </div>
                        </td>
                    </tr>
                    <tr class="set-tr-height78">
                        <td colspan="2" class="set-back-color">使用金标准依据</td>
                        <td colspan="8">
                            <div class="bdc-td-box">
                                <textarea name="syjbzyj" id="syjbzyj" rows="" cols="" disabled="off"></textarea>
                                <!--<input type="text" class="layui-table-edit" name="syjbzyj" id="syjbzyj">-->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="set-back-color">使用金总额</td>
                        <td colspan="8">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="syjze" id="syjze" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="set-back-color">使用金缴纳情况</td>
                        <td colspan="8">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="syjjnqk" id="syjjnqk" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <!-- 海籍测量结束 -->
                    <!-- 权属核查开始 -->
                    <tr>
                        <td rowspan="4" class="set-back-color set-center">权属核查</td>
                        <td colspan="2" class="set-back-color">使用期限</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit date" name="syqqssj" id="syqqssj" disabled="off">
                            </div>
                        </td>
                        <td colspan="2" class="set-back-color set-center">至</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit date" name="syqjssj" id="syqjssj" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="set-back-color set-center">相邻用海</td>
                        <td colspan="2" class="set-back-color set-center">东</td>
                        <td colspan="2" class="set-back-color set-center">西</td>
                        <td colspan="2" class="set-back-color set-center">南</td>
                        <td colspan="2" class="set-back-color set-center" style="width: 180px;">北</td>
                    </tr>
                    <tr class="set-tr-height78">
                        <td colspan="2" class="set-back-color set-center">使用人(签字)</td>
                        <td colspan="2">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="zhszdsyr" id="zhszdsyr" disabled="off">
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="zhszxsyr" id="zhszxsyr" disabled="off">
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="zhsznsyr" id="zhsznsyr" disabled="off">
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="zhszbsyr" id="zhszbsyr" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="set-back-color">共有情况</td>
                        <td colspan="8">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="gyqk" id="gyqk" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <!-- 权属核查结束 -->
                    <!-- 无居民海岛状况开始 -->
                    <tr>
                        <td rowspan="3" class="set-back-color set-center">无居民海岛状况</td>
                        <td colspan="2" class="set-back-color">海岛名称</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="hdmc" id="hdmc" disabled="off">
                            </div>
                        </td>
                        <td colspan="2" class="set-back-color">海岛代码</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="hddm" id="hddm" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr class="set-tr-height78">
                        <td colspan="2" class="set-back-color">用岛范围</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="ydfw" id="ydfw" disabled="off">
                            </div>
                        </td>
                        <td colspan="2" class="set-back-color">用岛面积(公顷)</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="ydmj" id="ydmj" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="set-back-color">海岛位置</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="hdwz" id="hdwz" disabled="off">
                            </div>
                        </td>
                        <td colspan="2" class="set-back-color">用途</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="hdyt" id="hdyt" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <!-- 无居民海岛状况结束 -->
                    <!-- 记事开始 -->
                    <tr>
                        <td rowspan="6" class="set-back-color set-center">记事</td>
                        <td colspan="2" class="set-back-color">权属核查记事</td>
                        <td colspan="8">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="qshcjs" id="qshcjs" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="set-back-color">核查人</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="qshcr" id="qshcr" disabled="off">
                            </div>
                        </td>
                        <td colspan="2" class="set-back-color">日期</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit date" name="qshcrq" id="qshcrq" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="set-back-color">海籍测量记事</td>
                        <td colspan="8">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="hjcljs" id="hjcljs" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="set-back-color">测量员</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="hjclr" id="hjclr" disabled="off">
                            </div>
                        </td>
                        <td colspan="2" class="set-back-color">日期</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit date" name="hjclrq" id="hjclrq" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr class="set-tr-height78">
                        <td colspan="2" class="set-back-color">海籍调查结果</br>审核意见</td>
                        <td colspan="8">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="hjdcjgshjy" id="hjdcjgshjy" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="set-back-color">审核人</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit" name="hjdcjgshr" id="hjdcjgshr" disabled="off">
                            </div>
                        </td>
                        <td colspan="2" class="set-back-color">日期</td>
                        <td colspan="3">
                            <div class="bdc-td-box">
                                <input type="text" class="layui-table-edit date" name="hjdcjgshrq" id="hjdcjgshrq" disabled="off">
                            </div>
                        </td>
                    </tr>
                    <!-- 记事结束 -->
                    <tr class="set-tr-height78">
                        <td class="set-back-color set-center">备注</td>
                        <td colspan="10">
                            <div class="bdc-td-box">
                                <textarea name="bz" id="bz" rows="" cols="" disabled="off"></textarea>
                                <!--<input type="text" class="layui-table-edit" name="bz" id="bz">-->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </form>
    </div>
</div>
</body>

<!--插入权利人模块-->
<script type="text/html" id="qlrTpl">
    <tbody>
    {{# if(d.list && d.list.length > 0){ }}
    {{# for(var i = 0,len = d.list.length; i < len; i++){ }}
    <tr>
        <td rowspan="7" class="set-back-color set-center">权<br>利<br>人</td>
        <td colspan="2" class="set-back-color">权利人类型</td>
        <td colspan="8">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="{{ d.list[i].qlrlx || '' }}" title="{{ d.list[i].qlrlx || '' }}" name="qlrlx" disabled="off">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" rowspan="3" class="set-back-color">单位/个人</td>
        <td colspan="3" rowspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="{{ d.list[i].qlrmc || '' }}" title="{{ d.list[i].qlrmc || '' }}" name="qlrmc" disabled="off">
            </div>
        </td>
        <td colspan="2" class="set-back-color">联系电话</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="{{ d.list[i].qlrlxdh || '' }}" title="{{ d.list[i].qlrlxdh || '' }}" name="qlrlxdh" disabled="off">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="set-back-color">邮编</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="{{ d.list[i].yb || '' }}" title="{{ d.list[i].yb || '' }}" name="yb" disabled="off">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="set-back-color">地址</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="{{ d.list[i].txdz || '' }}" title="{{ d.list[i].txdz || '' }}" name="txdz" disabled="off">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="set-back-color">证件种类</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="{{ d.list[i].zjzl || '' }}" title="{{ d.list[i].zjzl || '' }}" name="zjzl" disabled="off">
            </div>
        </td>
        <td colspan="2" class="set-back-color">证件号</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="{{ d.list[i].zjh || '' }}" title="{{ d.list[i].zjh || '' }}" name="zjh" disabled="off">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="set-back-color">法定代表人</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="{{ d.list[i].frmc || '' }}" title="{{ d.list[i].frmc || '' }}" name="frmc" disabled="off">
            </div>
        </td>
        <td colspan="2" class="set-back-color">身份证号</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="{{ d.list[i].frdbzjh || '' }}" title="{{ d.list[i].frdbzjh || '' }}" name="frdbzjh" disabled="off">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="set-back-color">联系/代理人</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="{{ d.list[i].dlrmc || '' }}" title="{{ d.list[i].dlrmc || '' }}" name="dlrmc" disabled="off">
            </div>
        </td>
        <td colspan="2" class="set-back-color">身份证号</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="{{ d.list[i].dlrzjh || '' }}" title="{{ d.list[i].dlrzjh || '' }}" name="dlrzjh" disabled="off">
            </div>
        </td>
    </tr>
    {{# } }}
    {{# } else { }}
    <tr>
        <td rowspan="7" class="set-back-color set-center">权<br>利<br>人</td>
        <td colspan="2" class="set-back-color">权利人类型</td>
        <td colspan="8">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="" name="qlrlx" disabled="off">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" rowspan="3" class="set-back-color">单位/个人</td>
        <td colspan="3" rowspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="" name="qlrmc" disabled="off">
            </div>
        </td>
        <td colspan="2" class="set-back-color">联系电话</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="" name="qlrlxdh" disabled="off">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="set-back-color">邮编</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="" name="yb" disabled="off">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="set-back-color">地址</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="" name="txdz" disabled="off">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="set-back-color">证件种类</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="" name="zjzl" disabled="off">
            </div>
        </td>
        <td colspan="2" class="set-back-color">证件号</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="" name="qlrzjh" disabled="off">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="set-back-color">法定代表人</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="" name="frdbxm" disabled="off">
            </div>
        </td>
        <td colspan="2" class="set-back-color">身份证号</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="" name="frdbzjh" disabled="off">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="set-back-color">联系/代理人</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="" name="dlrxm" disabled="off">
            </div>
        </td>
        <td colspan="2" class="set-back-color">身份证号</td>
        <td colspan="3">
            <div class="bdc-td-box">
                <input type="text" class="layui-table-edit" value="" name="dlrzjh" disabled="off">
            </div>
        </td>
    </tr>
    {{# } }}
    </tbody>

</script>

<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/layui/layui.all.js"></script>
<!--添加水印-->
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/formCenter.js"></script>
<script src="../../static/js/hyxx/hjdcb.js"></script>
</html>