<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>运行日志</title>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>PlumeLog</title>
    <link rel=stylesheet href="../../static/css/log/running/bootstrap.min.css">
    <link href="../../static/css/log/running/app.55442a03.css" rel=preload as=style>
    <link href="../../static/css/log/running/chunk-vendors.f6f2ff78.css" rel=preload as=style>
    <link href="../../static/js/log/running/app.5d4b770e.js" rel=preload as=script>
    <link href="../../static/js/log/running/chunk-vendors.b1a0ec64.js" rel=preload as=script>
    <link href="../../static/css/log/running/chunk-vendors.f6f2ff78.css"rel=stylesheet>
    <link href="../../static/css/log/running/app.55442a03.css" rel=stylesheet>
</head>
<body>
<div id=app></div>

<script src="../../static/js/log/running/chunk-vendors.b1a0ec64.js"></script>
<script src="../../static/js/log/running/app.5d4b770e.js"></script>
<script src="../../static/lib/jquery/jquery.min.js"></script>
</body>
</html>