<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>选择不动产权</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport">
    <link href="../../static/lib/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="../../static/lib/bdcui/css/search.css" rel="stylesheet"/>
    <link href="../../static/lib/bdcui/css/table.css" rel="stylesheet"/>
    <link href="../../static/lib/bdcui/css/mask.css" rel="stylesheet">
    <link href="../../static/lib/bdcui/css/popup.css" rel="stylesheet">
    <link href="../../static/lib/registerui/css/percentage-layout.css" rel="stylesheet">
    <link href="../../static/css/xxbl/bdcdyzt.css" rel="stylesheet">

</head>
<body>
<!--表格-->
<div class="bdc-percentage-container">
    <div class="bdc-search-content">
        <div class="bdc-search-box">
            <form action="" class="layui-form">
                <!--IP地址-->
                <input id="ipaddress" name="ipaddress" type="hidden"/>
                <div class="layui-form-item pf-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">不动产权证号</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input search" name="bdcqzh" placeholder="请输入"
                                   type="text"/>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">坐落</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input search" name="zl" placeholder="请输入" type="text"/>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">权利人</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input search" name="qlrmc" placeholder="请输入" type="text"/>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">不动产单元号</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input search" name="bdcdyh" placeholder="请输入" type="text"/>
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>

                    <div class="layui-inline bdc-button-box-four">
                        <a class="layui-btn layui-btn-normal bdc-major-btn" href="javascript:" id="search" lay-filter="search" lay-submit="">查询</a>
                        <button class="layui-btn layui-btn-normal bdc-secondary-btn" type="reset">重置</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
    <!--表格-->
    <div class="bdc-table-box">
        <table id="blTable" lay-filter="blTable"></table>
    </div>
</div>

</body>

<!-- 不动产单元状态 -->
<script id="bdcdyzt" type="text/html">
    {{#  if(d.bdcdyh){ }}
    {{  getBdcdyZt(d.bdcdyh,d.qjgldm) }}
    {{#  } }}
</script>

<script src="../../static/lib/layui/layui.js"></script>
<script src="../../static/lib/jquery/jquery.min.js"></script>
<!--添加水印-->
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/js/client-ip.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/xxbl/xxbl_glcq.js"></script>
</html>