<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>附件挂接</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/ztree/css/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/form.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css">
    <link rel="stylesheet" href="../../static/css/yzt.css"/>
</head>
<body>
<div class="bdc-container-box">
    <div class="bdc-container">

        <!--左侧菜单栏开始-->
        <div class="bdc-menu-aside" id="asideLeftBox">
            <div class="aside" id="asideConLeft">
                <div class="bdc-form-title">
                    <span>关联业务附件</span>
                    <div class="bdc-btn-box">
                        <a href="javascript:;" class="layui-btn layui-btn-sm bdc-table-second-btn" id="showAll">展开</a>
                        <a href="javascript:;" class="layui-btn layui-btn-sm bdc-table-second-btn" id="hideAll">收起</a>
                        <a href="javascript:;" class="layui-btn layui-btn-sm bdc-table-second-btn" id="zdgj">自动挂接</a>
                    </div>
                </div>

                <div id="asideLeft">
                    <ul id="treeLeft" class="ztree"></ul>
                </div>
            </div>
        </div>
        <!--左侧菜单栏结束-->

        <!--右侧主内容开始-->
        <div class="bdc-menu-aside" id="asideRightBox">
            <div class="aside" id="asideConRight">
                <div class="bdc-form-title">
                    <span>当前流程附件</span>
                    <div class="bdc-btn-box">
                        <a href="javascript:;" class="layui-btn layui-btn-sm bdc-major-btn" lay-submit lay-filter="save">保存</a>
                    </div>
                </div>
                <div id="asideRight">
                    <ul id="treeRight" class="ztree"></ul>
                </div>
            </div>
        </div>
        <!--右侧主内容结束-->
    </div>
    <div id="rStuff" class="rightMenu">
        <ul style="">

            <li id="m_delstuff"><i class="icon-remove"></i>删除</li>
        </ul>
    </div>
</div>
</body>

<script src="../../static/lib/layui/layui.js"></script>
<script src="../../static/lib/jquery/jquery.min.js"></script>
<!--ztree引用-->
<script type="text/javascript" src="../../static/lib/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="../../static/lib/ztree/js/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="../../static/lib/ztree/js/jquery.ztree.exedit-3.5.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/lib/easyui/jquery.easyui.min.js"></script>
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/js/fjtz/fjgj.js"></script>


</html>