/** 子规则数据流CSS **/
body{
    background-color: #fff;
}
.content-main{
    padding: 15px;
    box-sizing: border-box;
}
.layui-table{
    width: 100%;
}
.content-main{
    background-color: #fff;
}
.title-btn-area {
    float: right;
    margin-right: 20px;
}

.layui-textarea {
    min-height: 170px;
    height: auto;
    line-height: 20px;
    padding: 6px 10px;
    resize: vertical;
}

.layui-form-item .layui-inline {
    display: block;
    float: left;
    width: 50%;
    min-width: 263px;
    margin-bottom: 0;
    margin-top: 8px;
    margin-right: 0;
}

.change-textarea-margin .layui-input-inline {
    width: 80%;
}

.title-sign {
    width: 80%;
}