/**
* author: 前端组
* date: 2018-12-14
* version 3.0.0
* describe: 数据表格less样式，只需在更新common.less后重新编译
*/
/**
* author: 前端组
* date: 2018-12-14
* version 3.0.0
* describe: 通用less，主要定义了主题色，一级次级按钮颜色及类名
*/
body,
html {
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.bdc-hide {
  display: none;
}
.bdc-major-btn {
  background-color: #1d87d1;
}
.bdc-major-btn:hover {
  background-color: #1675b8;
}
.bdc-secondary-btn {
  background-color: #f3f4f6;
  color: #666;
  border: 1px solid #d0d5da;
}
.bdc-secondary-btn:hover {
  color: #666;
}
.bdc-delete-btn {
  background-color: #f54743;
}
.bdc-table-second-btn {
  background-color: #fff;
  border: 1px solid #d0d5da;
  color: #333;
}
.bdc-table-second-btn:hover {
  color: #333;
}
.bdc-prohibit-btn {
  background-color: #fff;
  color: #999;
  border: 1px solid #d0d5da;
}
.bdc-prohibit-btn:hover {
  cursor: not-allowed;
  opacity: 1;
  color: #999;
}
.bdc-table-box {
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
}
.layui-table,
.layui-table-view {
  margin: 0;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #1d87d1;
}
.layui-table td {
  color: #333;
}
.layui-table td,
.layui-table th {
  text-align: center;
}
.layui-table td {
  padding: 0;
}
.layui-table-view .layui-table td {
  padding: 0;
}
.layui-form-checked[lay-skin=primary] i {
  border-color: #1d87d1;
  background-color: #1d87d1;
}
.layui-form-checkbox[lay-skin=primary]:hover i {
  border-color: #1d87d1;
}
.bdc-export-tools {
  position: absolute;
  top: 12px;
  right: 17px;
}
.bdc-export-tools span {
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 5px;
  line-height: 16px;
  margin-left: 10px;
  text-align: center;
  color: #333;
  border: 1px solid #d0d5da;
  cursor: pointer;
}
.bdc-export-tools span:hover {
  border-color: #999;
}
.layui-btn-xs.bdc-secondary-btn {
  line-height: 20px;
}
/*新增 更多操作*/
.bdc-more-btn {
  position: relative;
}
.bdc-more-btn .layui-icon {
  position: relative;
  top: 1px;
  left: 4px;
}
.bdc-table-btn-more {
  position: fixed;
  min-width: 80px;
  border: 1px solid #d0d5da;
  background-color: #fff;
  text-align: left;
  z-index: 9999999999999;
  display: none;
}
.bdc-table-btn-more a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  font-size: 12px;
  color: #666;
}
.bdc-table-btn-more a:hover {
  background-color: #eaedf1;
  color: #666;
}
.layui-table td.layui-table-col-special {
  overflow: visible;
}
.layui-table td.layui-table-col-special .layui-table-cell {
  overflow: visible;
}
td .layui-table-cell {
  padding: 0 5px;
  height: 37px;
  line-height: 37px;
}
td .layui-table-cell .bdc-table-date {
  direction: rtl;
  unicode-bidi: bidi-override;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}
.layui-table-click {
  background-color: #fff;
}
.layui-table thead tr,
.layui-table-header,
.layui-table-mend,
.layui-table-patch,
.layui-table-tool,
.layui-table-total,
.layui-table-total tr,
.layui-table[lay-even] tr:nth-child(even) {
  background-color: #f3f4f6;
}
.layui-table tbody tr:hover,
.layui-table-body tr:hover,
.layui-table-hover {
  background-color: #eaf4fe;
}
.layui-table[lay-even] .layui-table-hover:nth-child(even) {
  background-color: #e2e3e5;
}
.bdc-fixed-left:nth-child(odd) {
  border-right: 2px solid #fff;
}
.bdc-fixed-left:nth-child(odd):hover,
.layui-table-hover.bdc-fixed-left:nth-child(odd) {
  border-right-color: #eaf4fe;
}
.bdc-fixed-left:nth-child(even) {
  border-right: 2px solid #f3f4f6;
}
.bdc-fixed-left:nth-child(even):hover,
.layui-table-hover.bdc-fixed-left:nth-child(even) {
  border-right-color: #e2e3e5;
}
.layui-table-page {
  background-color: #fff;
  border-bottom: 1px solid #eaedf1;
}
.layui-table-tool .layui-inline[lay-event] {
  border-color: #d0d5da;
}
.layui-layer.layui-layer-prompt .layui-layer-content {
  padding: 10px;
}
.layui-layer .layui-layer-btn {
  text-align: center;
}
.layui-layer .layui-layer-btn .layui-layer-btn0 {
  border-color: #1d87d1;
  background-color: #1d87d1;
  color: #fff;
}
.layui-layer .layui-layer-btn a {
  background-color: #f3f4f6;
  color: #666;
  border: 1px solid #d0d5da;
}
.bdc-select-all-box {
  min-width: 100px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 10px #d0d5da;
  position: absolute;
  top: 102px;
  left: 18px;
  z-index: 9999;
  padding: 5px 0;
  box-sizing: border-box;
}
.bdc-select-all-box > p {
  width: 100%;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.bdc-select-all-box > p:hover {
  background-color: #eaedf1;
}
/*三角形*/
.bdc-sjx {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 10px;
  left: 18px;
  transform: rotate(180deg) translateX(1px);
}
/*    上下透明，右边框为10px   */
.bdc-sjx:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
/*  上下透明，右边框为9px且在:before伪元素三角形的基础上，向右，下移动了1px  */
.bdc-sjx:after {
  content: '';
  position: absolute;
  top: 11px;
  left: -9px;
  width: 0;
  height: 0;
  border-top: 9px solid #fff;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}
.layui-table-body .layui-none {
  color: #333;
  line-height: 30px;
}
.layui-table-body .layui-none img {
  padding-right: 10px;
  position: relative;
  top: -2px;
}
.layui-table td,
.layui-table th,
.layui-table-col-set,
.layui-table-fixed-r,
.layui-table-grid-down,
.layui-table-header,
.layui-table-page,
.layui-table-tips-main,
.layui-table-tool,
.layui-table-total,
.layui-table-view,
.layui-table[lay-skin=line],
.layui-table[lay-skin=row] {
  border-color: #d0d5da;
}
.layui-table-fixed-r {
  box-shadow: 0 0 0;
  border-width: 0;
}
.layui-table-fixed-l {
  box-shadow: 0 0 0;
}
.layui-table-fixed-r .layui-table-body .layui-table {
  border-left: 1px solid #d0d5da;
}
.layui-table-fixed-r .layui-table-header {
  border-left: 1px solid #d0d5da;
}
.bdc-table-title-box {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
}
.bdc-table-title-box h3 {
  height: 56px;
  line-height: 46px;
  font-size: 18px;
  text-align: center;
}
.bdc-table-title-box .layui-table td {
  position: static;
  padding: 9px 5px;
}
.bdc-table-title-box .layui-table td:first-child,
.bdc-table-title-box .layui-table td:nth-child(3) {
  text-align: right;
  background-color: #eaedf1;
}
.bdc-table-title-box .layui-table td:last-child,
.bdc-table-title-box .layui-table td:nth-child(2) {
  text-align: left;
}
.bdc-table-title-box .layui-table tbody tr:hover,
.bdc-table-title-box .layui-table-body tr:hover,
.bdc-table-title-box .layui-table-hover {
  background-color: transparent;
}
.bdc-show-btn {
  display: block;
}
.bdc-up-angle .layui-icon-triangle-d:before {
  display: block;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.layui-table-init {
  background: rgba(0, 0, 0, 0.2);
}
.layui-table-init .layui-icon {
  font-size: 40px;
  color: #fff;
}
.layui-table-view .layui-form-radio {
  line-height: 30px;
}
.layui-form-radio > i:hover,
.layui-form-radioed > i {
  color: #1d87d1;
}
.layui-table-tips-main,
.layui-table-tips-main > span {
  color: #333 !important;
}
.bdc-table-top-more {
  display: inline-block;
  position: relative;
}
.bdc-table-top-more .layui-icon-down {
  margin-left: 3px;
}
.bdc-table-top-more-show {
  position: absolute;
  top: 33px;
  left: 0;
  min-width: 80px;
  border: 1px solid #d0d5da;
  background-color: #fff;
  text-align: left;
  z-index: 9999999999999;
  display: none;
}
.bdc-table-top-more-show a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  font-size: 12px;
  color: #666;
}
.bdc-table-top-more-show a:hover {
  background-color: #eaedf1;
  color: #666;
}
