<!--
    6-2 督察质检监管-质检整改台账
-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>督察质检监管-质检整改台账</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/form-select/formSelects-v4.css">

    <link rel="stylesheet" href="../../static/lib/bdcui/css/common.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/form-tab.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/search.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css"/>
    <link rel="stylesheet" href="../../static/lib/registerui/css/percentage-layout.css"/>
    <link rel="stylesheet" href="../../static/css/zssyjg/yzhtjtz.css"/>
</head>
<body>
    <div class="bdc-percentage-container">
        <div class="bdc-search-content">
            <div class="bdc-search-box">
                <form class="layui-form">
                    <div class="layui-form-item pf-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">质检人员</label>
                            <div class="layui-input-inline">
                                <input type="text" id="zjry" name="zjry" autocomplete="off" placeholder="请输入" class="layui-input search">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">质检部门</label>
                            <div class="layui-input-inline">
                                <input type="text" id="zjbm" name="zjbm" autocomplete="off" placeholder="请输入" class="layui-input search">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">质检类型</label>
                            <div class="layui-input-inline">
                                <select lay-filter="zjlx" id="zjlx" name="zjlx" lay-search="" class="search">
                                    <option value="">请选择</option>
                                </select>
                                <i class="layui-icon layui-icon-close bdc-hide"></i>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">上传时间(起)</label>
                            <div class="layui-input-inline">
                                <input id="zjwjscsjq" name="zjwjscsjq" autocomplete="off" class="layui-input search required" type="text"  placeholder="请选择"/>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">上传时间(止)</label>
                            <div class="layui-input-inline">
                                <input id="zjwjscsjz" name="zjwjscsjz" autocomplete="off" class="layui-input search required" type="text" placeholder="请选择"/>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button id="search" class="layui-btn bdc-major-btn" lay-submit="" lay-filter="search">查询</button>
                            <button id="reset" type="reset" class="layui-btn bdc-secondary-btn reset-btn">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--表格-->
        <div class="bdc-table-box">
            <table class="layui-table" id="pageTable" lay-filter="pageTable"></table>
        </div>

        <!--表格上面功能按钮-->
        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm bdc-major-btn" lay-event="addZgbg" id="addZgbg">提交整改报告</button>
            </div>
        </script>

        <script type="text/html" id="barAction">
            <a class="layui-btn bdc-major-btn layui-btn-xs" lay-event="viewZgbg" id="viewZgbg">查看整改报告</a>
            <a class="layui-btn bdc-secondary-btn layui-btn-xs" lay-event="downloadZjbg" id="downloadZjbg">查看质检报告</a>
        </script>
    </div>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/layui/layui.js"></script>
    <script src="../../static/lib/easyui/jquery.easyui.min.js"></script>
    <script src="../../static/lib/bdcui/js/common.js"></script>
    <script src="../../static/js/common.js"></script>
    <script src="../../static/js/formCenter.js"></script>
    <script src="../../static/js/dczjjg/zgtz.js"></script>
</body>
</html>