.bdc-title-sign-btn .bdc-title-sign-btn-box {
    position: absolute;
    top: 0;
    right: 10px;
}
.layui-table, .layui-table-view {
    margin: 10px 0 0 0;
}
.layui-form-item .layui-form-checkbox[lay-skin=primary]{
    padding-left: 18px;
}