<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>供地审批信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/search.css"/>

</head>
<body>
<div class="bdc-percentage-container one-percentage-container">
    <!--查询条件-->
    <div class="bdc-search-content">
        <div class="bdc-search-box">
            <!--默认两行的-->
            <form class="layui-form" action="">
                <div class="layui-form-item pf-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">申请用地单位</label>
                        <div class="layui-input-inline">
                            <input type="text" name="sqyddw" autocomplete="off" placeholder="请输入"
                                   class="layui-input search required">
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>
                    <div class="layui-inline needhide">
                        <label class="layui-form-label">用地位置</label>
                        <div class="layui-input-inline">
                            <input name="ydwz" type="text" autocomplete="off" placeholder="请输入"
                                   class="layui-input search required">
                            <i class="layui-icon layui-icon-close bdc-hide"></i>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <a href="javascript:;" class="layui-btn layui-btn-normal bdc-major-btn" id="search">查询</a>
                        <button type="reset" id="reset" class="layui-btn bdc-secondary-btn reset-btn">重置</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <!--表格-->
    <div class="bdc-table-box">
        <table id="gdspxxTable" lay-filter="gdspxxTable"></table>
    </div>


    <!--表格上面功能按钮-->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm bdc-major-btn" lay-event="drcl" id="drcl">导入材料</button>

        </div>
    </script>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/layui/layui.js"></script>
    <script src="../../static/lib/bdcui/js/common.js"></script>
    <script src="../../static/js/common.js"></script>
    <script src="../../static/js/yzt/gdspxx.js"></script>
    <script src='../../static/js/formCenter.js'></script>
</div>
</body>
</html>