<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/bdcui/css/table.css"/>
    <link rel="stylesheet" href="../../static/lib/bdcui/css/mask.css">
    <link rel="stylesheet" href="../../static/css/bdcdy/dyzxzm.css">
    <title>预告注销证明单</title>
</head>
<body>
<div class="bdc-container">
    <div class="bdc-content-fix">
        <div class="content-title">
            <p>预告注销证明单</p>
            <div class="title-btn-area .layui-layout-right">
                <button type="button" id="saveBtn" name="saveBtn" class="layui-btn bdc-major-btn" lay-submit=""
                        lay-filter="saveBtn">
                    保存
                </button>
                <button type="button" id="printBtn" name="printBtn" class="layui-btn bdc-secondary-btn" lay-submit=""
                        lay-filter="printBtn">
                    打印
                </button>
            </div>
        </div>
    </div>
    <div class="bdc-content-box">
        <div class="bdc-content">
            <p class="bdc-ywzh" id="slbh"></p>
            <table id="pageTable" lay-filter="test"></table>

            <div class="bdc-indent">上述权利已于<span class="zxdjsj"></span>依
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="dyzxsqr" placeholder="申请人（多个以“,”分隔）"
                           ondblclick="zxsqrReadIdCard(this)"/>
                </div>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="dyzxsqrzjh" placeholder="证件号（多个以“,”分隔，顺序和人名对应）"/>
                </div>
            </div>
            <div class="bdc-msg">依申请，已办理注销登记。特此证明。</div>
            <div class="bdc-msg bdc-right" id="lkdw">南通市不动产登记中心</div>
            <div class="bdc-msg bdc-right zxdjsj"></div>
        </div>
    </div>
</div>
</body>
<script src="../../static/lib/jquery/jquery.min.js"></script>
<!--添加水印-->
<script src="../../static/lib/bdcui/js/common.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/lib/layui/layui.js"></script>
<script src='../../static/lib/bdcui/js/readIdCard.js'></script>
<script src="../../static/js/formCenter.js"></script>
<script src="../../static/js/bdcdy/ygdjzxzm.js"></script>
</html>